<h1><%=h @training.title %></h1>

<dl class="inline-definitions">

	<dt>Description</dt>
	<dd><%= @training.description %></dd>

	<dt>Video URL</dt>
	<dd><%= auto_link @training.video_url %></dd>

	<dt>Chapters URL</dt>
	<dd><%= auto_link @training.chapters_url %></dd>

	<dt>Completions</dt>
	<dd><%= @training.completions.count %></dd>

	<%- unless @training.stylesheet_url.blank? -%>
		<dt>Stylesheet</dt>
		<dd><%= auto_link h(@training.stylesheet_url) %></dd>
	<% end -%>

</dl>

<%= content_for(:sidebar) do %>
	<p><%= link_to "Edit this training", edit_training_path(@training), class: "edit button" %></p>
	<p><%= link_to "Take this training", take_training_path(@training), class: "view button" %></p>
<%- end -%>
