<tr id="mentor_quarter_<%= mentor_quarter.id %>" class="hoverable <%= "newly_added" if params[:newly_added]==mentor_quarter.id.to_s %>">
	<td class="photo"><%= image_tag photo_mentor_path(mentor_quarter.try(:mentor), :size => :default), 
						:class => 'student_photo', 
						:size => "77x100", 
						:alt => "" %>
		</td>
		
	<td><strong class="mentor name"><%= link_to mentor_quarter.fullname, mentor_quarter.mentor %></strong>
		<small class="outline tag"><%= mentor_quarter.mentor_id %></small>
		<br><%= auto_link mentor_quarter.email %>
		<div>
			<%= "#{content_tag :span, "High School Lead", :class => 'admin tag'}" if mentor_quarter.lead? %>
			<%= "#{content_tag :span, "Volunteer", :class => 'orange tag'}" if mentor_quarter.volunteer? %>
			<%= "#{content_tag :span, "Driver", :class => 'grey tag'}" if mentor_quarter.driver? %>
		</div>
		
		<%= render :partial => 'note_form', 
					:locals => { :mentor_quarter => mentor_quarter } %>

		</td>
		
	<td>
		<ul id="participants_<%= mentor_quarter.id %>" class="mini_participants">
			<%= render :partial => 'mini_participant', 
						:collection => mentor_quarter.mentor_participants,
						:locals => { :mentor_quarter => mentor_quarter } %>
		</ul>
		<%= render :partial => 'participant_form', 
					:locals => { :mentor_quarter => mentor_quarter } if mentor_quarter.try(:location) %>
		</td>
		
	<td>
		<%- if mentor_quarter.deleted? -%>
			<%= link_to "Undelete",
						mentor_quarter_group_mentor_quarter_path(@mentor_quarter_group, mentor_quarter,
							:mentor_quarter => { :deleted_at => nil, :volunteer => true },
							:increment_counter => true), 
						:method => :put,
						:confirm => "Are you sure you want to undelete this mentor?" %>
		<% else -%>

			<%= link_to "Edit", edit_mentor_quarter_group_mentor_quarter_path(@mentor_quarter_group, mentor_quarter) %>
		
			<%- if @current_user.admin? -%> |
				<%- if mentor_quarter.lead? -%>
					<%= link_to "Remove as high school lead", 
								mentor_quarter_group_mentor_quarter_path(@mentor_quarter_group, mentor_quarter, 
																		:mentor_quarter => { :lead => false }), 
								:method => :put %>
				<%- else -%>
					<%= link_to "Make high school lead", 
								mentor_quarter_group_mentor_quarter_path(@mentor_quarter_group, mentor_quarter, 
																		:mentor_quarter => { :lead => true }), 
								:method => :put %>
				<% end -%>
			<% end -%>
			
			<br>
			<%- if mentor_quarter.volunteer? -%>
				<%= link_to "Delete", 
							mentor_quarter_group_mentor_quarter_path(@mentor_quarter_group, mentor_quarter), 
							:method => :delete,
							:confirm => "Are you sure you want to remove this volunteer?" %>
			<% end -%>
			
		<% end -%>

		</td>
</tr>
	