<h1><%= Customer.mentor_Label %> Groups
	<small class="light">&raquo; <%= @quarter.title %></small></h1>

<table>
	<tr>
		<th>Section</th>
		<th>Name</th>
		<th>Times</th>
		<th style="width: 10%"></th>
		<th>Size</th>
		<th>Capacity</th>
		<th>Functions</th>
	</tr>

<% for mentor_quarter_group in @mentor_quarter_groups %>
<tr>
	<td><%= content_tag :span, h(mentor_quarter_group.section_id), :class => 'section_id tag' %></td>
	<td><%= link_to h(mentor_quarter_group.title), mentor_quarter_group, :title => mentor_quarter_group.course_id %></td>
	<td><%= mentor_quarter_group.times %></td>
	<td class="signup-meter <%= "full" if mentor_quarter_group.full? %>">
		<div class="capacity" 
			 style="width: <%= mentor_quarter_group.capacity.to_f / @max_quarter_cap * 100 rescue 0 %>%;"
			 title="<%= number_to_percentage mentor_quarter_group.percent_full, :precision => 0 %> full">
			
			<div class="size" style="width: <%= mentor_quarter_group.percent_full %>%">
				<%= mentor_quarter_group.full? ? content_tag(:span, "full", :class => "full_label") : "&nbsp;" %>
			</div>						
		</div>
	</td>
	<td><%= content_tag :span, mentor_quarter_group.mentor_quarters.size, :class => "" %></td>
	<td><%= mentor_quarter_group.capacity %></td>
	<td class="functions">
		<%= link_to 'Show', mentor_quarter_group %>
		<%= link_to 'Edit', edit_mentor_quarter_group_path(mentor_quarter_group) %>
		<%= link_to 'Sync', sync_mentor_quarter_group_path(mentor_quarter_group), :method => :put unless mentor_quarter_group.course_id.blank? %>
		<%= link_to 'Delete', mentor_quarter_group, :confirm => 'Are you sure?', :method => :delete %>
	</td>
</tr>
<% end %>

<tr class="total">
	<td colspan="4">Total</td>
	<td><%= @mentor_quarter_groups.collect(&:mentors).flatten.uniq.size %></td>
	<td><%= @mentor_quarter_groups.collect(&:capacity).numeric_items.sum %></td>
	<td></td>
</tr>
	
</table>

<%= render :partial => 'sidebar' %>
