<h1><%=h @mentor_quarter_group.title %></h1>
<h2><%= @mentor_quarter_group.quarter.try(:title) %></h2>

<ul class="photo-tile">
	<%= render :partial => 'photo_tile', :collection => @mentor_quarters %>
</ul>

<div style="clear:both"></div>

<%- if @mentor_quarter_group.linked_group -%>
<ul class="photo-tile">
	<h3>Linked Section: 
		<%= link_to "#{@mentor_quarter_group.linked_group.title} (#{@mentor_quarter_group.linked_group.section_id})", @mentor_quarter_group.linked_group %>
	</h3>
	<%= render :partial => 'photo_tile', :collection => @mentor_quarter_group.linked_group.mentor_quarters %>
</ul>
<% end -%>

<div style="clear:both"></div>

<div id="sidebar">
	<%= link_to "Back to mentor group", @mentor_quarter_group, :class => 'back button' %>
</div>