<div class="right">
	<%= link_to "Photo Tile Sheet", 
				photo_tile_mentor_quarter_group_path(@mentor_quarter_group), 
				:class => "photo-tile button" %>
</div>

<h3 class="pre-title"><%= @mentor_quarter_group.quarter.try(:title) %></h3>
<h1><%=h @mentor_quarter_group.title %></h1>

<table class="mentors">
	<tr>
		<th>Photo</th>
		<th>Name</th>
		<th><%= Customer.mentees_Label %></th>
		<th>Functions</th>
	</tr>

	<%= render :partial => "mentor_quarter", :collection => @mentor_quarters %>
	
	<%- if @mentor_quarters.empty? -%>
	<tr class="empty">
		<td colspan=10>This group is empty.</td>
	</tr>
	<% end %>
	
	<%- if @mentor_quarter_group.linked_group -%>
		<tr class="rowset-header">
			<td colspan=10>
				Linked Section: 
				<%= link_to "#{@mentor_quarter_group.linked_group.title} (#{@mentor_quarter_group.linked_group.section_id})", @mentor_quarter_group.linked_group %>
			</td>
		</tr>
	
		<%= render :partial => "mentor_quarter", :collection => @mentor_quarter_group.linked_group.mentor_quarters %>
	<% end -%>
	
</table>

<br>
<%= link_to_function "Show deleted/dropped mentors (#{@mentor_quarter_group.deleted_mentor_quarters.size})",
 					"Effect.toggle('deleted_mentors', 'blind', {duration: 0.25})" unless @mentor_quarter_group.deleted_mentor_quarters.empty? %>

<table class="mentors" style="display:none" id="deleted_mentors">
	<tr>
		<th>Photo</th>
		<th>Name</th>
		<th>Mentees</th>
		<th>Functions</th>
	</tr>

	<%= render :partial => "mentor_quarter", :collection => @mentor_quarter_group.deleted_mentor_quarters %>
</table>

<h3>Add another mentor to this group: </h3>
<% form_tag mentor_quarter_group_mentor_quarters_path(@mentor_quarter_group), :method => :post, :style => "display: inline" do %>
	UW NetID: <%= text_field_tag :uw_netid, "", :size => 8 %>
	<%= submit_tag "Add" %>
<% end -%>


<div id="sidebar">
	
	<p><%= link_to "Back to mentor groups", mentor_quarter_groups_quarter_path(@mentor_quarter_group.quarter), :class => 'back button' %></p>

	<p><%= link_to "Edit this mentor group", 
					edit_mentor_quarter_group_path(@mentor_quarter_group), 
					:class => 'edit button' %></p>
					
	<p><%= link_to "E-mail this mentor group",
	 				"mailto:#{@mentor_quarter_group.mentors.collect(&:email).compact.join(",")}",
					:class => 'email button' %></p>

	<h3>About this Group</h3>
	
	<dl class="sidebar">
		<dt>Location</dt>
		<dd><%= @mentor_quarter_group.location.try(:name) %></dd>

		<dt>Quarter</dt>
		<dd><%= @mentor_quarter_group.quarter.try(:title) %></dd>

		<dt>Times</dt>
		<dd><%= @mentor_quarter_group.times %></dd>

		<dt>Enrollment</dt>
		<dd><%= @mentor_quarter_group.mentor_quarters_count.to_i %> 
			<%= "of #{@mentor_quarter_group.capacity}" unless @mentor_quarter_group.capacity.nil? %>
			<%= content_tag :span, "full", :class => 'orange tag' if @mentor_quarter_group.full? %></dd>
		
		<%- if @mentor_quarter_group.linked_group -%>
			<dt>Linked Group</dt>
			<dd><%= link_to "#{@mentor_quarter_group.linked_group.title} (#{@mentor_quarter_group.linked_group.section_id})", @mentor_quarter_group.linked_group %></dd>
		<% end -%>
		
	</dl>
	
	<%= render :partial => 'time_schedule_details', :object => @mentor_quarter_group.course_resource if @mentor_quarter_group.course_resource %>
	
	<h3><%= Customer.leads_Label %></h3>
	<ul class="mini photo-list">
	<% for lead in @mentor_quarter_group.mentor_quarters.leads %>
		<li>
			<%= image_tag photo_mentor_path(lead.try(:mentor), :size => "50"), :size => "", :class => 'photo' %>
			<%= lead.fullname %>
			<br><small>
				<%= link_to "Remove", 
							mentor_quarter_group_mentor_quarter_path(@mentor_quarter_group, lead, 
								:mentor_quarter => { :lead => false }), 
							:method => :put,
							:confirm => "Are you sure you want to remove this person as a #{Customer.lead_label}?" %>
				</small>
		</li>
	<% end -%>
	</ul>

	<h3>Add another mentor to this group</h3>
	<% form_tag mentor_quarter_group_mentor_quarters_path(@mentor_quarter_group), :class => :post do %>
		UW NetID: <%= text_field_tag :uw_netid, "", :size => 8 %>
		<%= submit_tag "Add" %>
	<% end -%>

</div>