<% f.inputs do %>
	<%= f.input :name %>
	<%= f.input :description, :input_html => { :rows => 6 }, :label => "General Description", 
				:hint => "To override this description for specific audience groups, edit the group-specific descriptions below." %>
	<%= f.input :event_type %>
<% end -%>

<% f.inputs "Access to the Public" do %>
	<p>Use these options to allow events in this group to be open to members of the public.</p>
	<%= f.input :allow_external_students, :label => "Allow external students to RSVP" %>
	<%= f.input :allow_external_volunteers, :label => "Allow external volunteers to sign up" %>
<% end -%>

<% f.inputs "Audience-Specific Descriptions" do %>
	<p>Descriptions entered here will be used instead of the description above for members of the specified audience. Otherwise, the default from above will be displayed.</p>
	<%= f.input :student_description, :input_html => { :rows => 6 }, :hint => "Note: The student description is shown for Students and Participants." %>
	<%= f.input :volunteer_description, :input_html => { :rows => 6 } %>
	<%= f.input :mentor_description, :input_html => { :rows => 6 } %>
<% end -%>

<% f.inputs "Training" do %>
	<%= f.input :mentor_training_id, :as => :select, :collection => Training.all %>
	<%= f.input :mentor_training_optional %>
	<%= f.input :volunteer_training_id, :as => :select, :collection => Training.all %>
	<%= f.input :volunteer_training_optional %>
<% end -%>

<% f.inputs "Styling" do %>
	<%= f.input :stylesheet_url, :label => "Stylesheet URL",
	 			:hint => "Provide the URL for a stylesheet that should be applied to events in this group. HTTPS addresses are recommended." %>
<% end -%>