<h1>
	<%=h @event_group.name %>
	<%= content_tag :span, "shared", class: "shared tag" if @event_group.proxies? %>
</h1>

<%- for proxy in @event_group.proxies.slave -%>
	<h3 class="proxyable">Coordinated by <%= proxy.other_customer.name %></h3>
<% end %>

<dl class="inline-definitions">

	<%- unless @event_group.description.blank? -%>
		<dt>Description</dt>
		<dd><%= sanitize textilize(@event_group.description) %></dd>
	<% end -%>

	<%- if @event_group.event_type -%>
		<dt>Event Type</dt>
		<dd><%= link_to @event_group.event_type.try(:name), @event_group.event_type %></dd>
	<% end -%>
	
	<dt>RSVP URL</dt>
	<dd><%= link_to event_group_rsvp_url(@event_group), event_group_rsvp_path(@event_group) %></dd>

	<% pa = []; pa << "Students" if @event_group.allow_external_students; pa << "Volunteers" if @event_group.allow_external_volunteers; %>
	<%- unless pa.empty? -%>
		<dt>Public Access</dt>
		<dd><%= pa.join(", ") %></dd>
	<% end -%>

	<% if @event_group.volunteer_training || @event_group.mentor_training %>
		<dt>Training</dt>
		<dd>
			Mentors: 	<%= link_to @event_group.mentor_training.title, @event_group.mentor_training %>
						<%= content_tag(:span, "optional", class: 'tag') if @event_group.mentor_training_optional? %>
			<br />
			Volunteers: <%= link_to @event_group.volunteer_training.title, @event_group.volunteer_training %>
						<%= content_tag(:span, "optional", class: 'tag') if @event_group.volunteer_training_optional? %>
		</dd>
	<% end -%>

	<%- unless @event_group.stylesheet_url.blank? -%>
		<dt>Stylesheet</dt>
		<dd><%= auto_link h(@event_group.stylesheet_url) %></dd>
	<% end -%>
	
	<%- unless @event_group.proxies.master.empty? -%>
		<dt>Sharing</dt>
		<dd>
			<%- for proxy in @event_group.proxies.master -%>
				<p>Shared with <%= proxy.other_customer.name %>
					<span class="light">(Event Group #<%= proxy.other_id %>)</span>
				</p>
			<% end %>
		</dd>
	<% end %>

</dl>

<h2>Linked Events</h2>
<table>
	<tr>
		<th>Name</th>
		<th>Date</th>
		<th>Invited</th>
		<th>RSVP'd</th>
		<th>Attended</th>
		<th colspan=4>Functions</th>
	</tr>

	<tbody>
		<%= render partial: 'events/event', collection: @event_group.events %>
		
		<%- if @event_group.events.empty? -%>
			<tr class="empty">
				<td colspan=10>No events yet.</td>
			</tr>
		<% end -%>
	</tbody>
	
</table>


<%= content_for(:sidebar) do %>
	<p><%= link_to "Edit this event group", edit_event_group_path(@event_group), class: 'edit button' %></p>
	<p><%= link_to "Add new event to this group", new_event_path(event: {event_group_id: @event_group}), class: 'add button' %></p>
	<p><%= link_to "Back to event groups", event_groups_path, class: 'back button' %></p>
<%- end -%>
