<tr id="college_degree_<%= college_degree.id %>">

	<td><%=h college_degree.institution.try(:name) %></td>
	<td><%= college_degree.graduated_on.to_s(:short_date) %></td>
	<td><%=h college_degree.degree_title %></td>
	<td class="college_degree_source <%=h college_degree.source %>"><%=h college_degree.source %></td>
	
	<td class="functions"><%= link_to "Details", [@participant, college_degree] %></td>
	<td class="functions"><%= link_to "Edit", edit_participant_college_degree_path(@participant, college_degree) %></td>
	<td class="functions"><%= link_to 'Delete', [@participant, college_degree], :confirm => 'Are you sure?', :method => :delete %></td>
	

</tr>
