<h1>Quarters</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Start Date</th>
		<th>Primary Course(s)</th>
		<th>Allow Signups?</th>
		<th>Functions</th>
	</tr>

<% for quarter in @quarters %>
<tr class="<%= "current" if quarter.current_quarter? %>">
	<td class="name"><%= link_to quarter.title, quarter %></td>
	<td><%= quarter.start_date.to_s(:db) %></td>
	<td><%= quarter.course_ids.collect{|c| "<li>#{h(c)}</li>"} if quarter.course_ids %></td>
	<td><%= "Y" if quarter.allow_signups? %>
	<td class="functions">
		<%= link_to 'Edit', edit_quarter_path(quarter) %>
		<%= link_to 'Delete', quarter, :confirm => 'Are you sure?', :method => :delete %>
	</td>
</tr>
<% end %>
</table>

<%= render :partial => "sidebar" %>