<%= subheader do %>
  <h1>Changes for <%=h @object.class.to_s %> <%=h @object.id.to_s %></h1>
<% end %>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <%= render partial: "change", collection: @changes %>
        
        <%- if @changes.empty? -%>
        <tr class="empty">
            <td colspan=10>No changes recorded for this object.</td>
        </tr>
        <% end %>
        
    </tbody>
</table>

<%= operations do %>
	<%= link_to 'Return to Record', @object, class: 'btn btn-default', glyph: 'arrow-left' rescue nil %>
<%- end -%>
