<h1>New event shift</h1>
<h2><%= @event.name %></h2>

<%= semantic_form_for(@event_shift, :url => event_event_shifts_path(@event)) do |f| %>

	<%= default_form_errors(f) %>

	<%= render :partial => "fields", :locals => { :f => f } %>

	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator %>
	<%= link_to 'Cancel', event_path(@event), :class => '' %>

<% end %>
