<%= f.inputs(:name => "About the Scholarship") do -%>
	<p>Provide the key details about the scholarship here.</p>
	<%= f.input :title, :hint => "Be as specific and accurate as possible." %>
	<%= f.input :organization_name, :hint => "The name of the organization, school, company, or entity that funds or provides the scholarship." %>
	<%= f.input :description, :input_html => { :rows => 5 } %>
<% end %>

<%= f.inputs(:name => "Default Settings") do -%>
	<p>These defaults are used when creating a scholarship application for a student. These can be overidden for each application separately.</p>
	<%= f.input :default_amount, :label => "Amount", :input_html => { :size => 7, :class => "currency" } %>

	<%= f.inputs(:name => "Renewable", :class => "inline") do -%>
		<%= f.input :default_renewable, :label => "Renewable" %>
		<%= f.input :default_renewable_years, :label => "Number of Years", :input_html => { :size => 3 } %>
	<% end %>
	
	<%= f.inputs(:name => "Non-cash", :class => "inline") do -%>
		<%= f.input :default_full_ride, :label => "Full Ride" %>
		<%= f.input :default_gap_funding, :label => "Gap Funding" %>
		<%= f.input :default_living_stipend, :label => "Living Stipend" %>
	<% end %>
<% end %>