<thead>
	<tr>
		<th>id</th>
		<th>participant_id</th>
		<th>participant_fullname</th>
		<th>scholarship_id</th>
	    <th>scholarship_title</th>
	    <th>scholarship_organization_name</th>
		<th>amount</th>
		<th>nominated</th>
		<th>awarded</th>
		<th>accepted</th>
		<th>application_due_date</th>
		<th>date_applied</th>
		<th>restrictions</th>
		<th>notes</th>
		<th>renewable</th>
		<th>renewable_years</th>
		<th>full_ride</th>
		<th>gap_funding</th>
		<th>living_stipend</th>
		<th>institution_id</th>
	    <th>scholarship_default_amount</th>
	    <th>scholarship_default_renewable_years</th>
	    <th>scholarship_default_full_ride</th>
	    <th>scholarship_default_gap_funding</th>
	    <th>scholarship_default_living_stipend</th>
	    <th>scholarship_default_renewable</th>
		<th>created_at</th>
		<th>updated_at</th>
	</tr>
</thead>

<tbody>
<% for scholarship_application in @scholarship.scholarship_applications %>
	<tr>
		<td><%=h scholarship_application.id %></td>
		<td><%=h scholarship_application.participant_id %></td>
		<td><%=h scholarship_application.participant.try(:fullname) %></td>
		<td><%=h scholarship_application.scholarship_id %></td>
	    <td><%=h scholarship_application.title %></td>
	    <td><%=h scholarship_application.scholarship.organization_name %></td>
		<td class="currency"><%=h scholarship_application.amount %></td>
		<td><%=h scholarship_application.nominated %></td>
		<td><%=h scholarship_application.awarded %></td>
		<td><%=h scholarship_application.accepted %></td>
		<td><%=h scholarship_application.application_due_date %></td>
		<td><%=h scholarship_application.date_applied %></td>
		<td><%=h scholarship_application.restrictions %></td>
		<td><%=h scholarship_application.notes %></td>
		<td><%=h scholarship_application.renewable %></td>
		<td><%=h scholarship_application.renewable_years %></td>
		<td><%=h scholarship_application.full_ride %></td>
		<td><%=h scholarship_application.gap_funding %></td>
		<td><%=h scholarship_application.living_stipend %></td>
		<td><%=h scholarship_application.institution_id %></td>
	    <td class="currency"><%=h scholarship_application.scholarship.default_amount %></td>
	    <td><%=h scholarship_application.scholarship.default_renewable_years %></td>
	    <td><%=h scholarship_application.scholarship.default_full_ride %></td>
	    <td><%=h scholarship_application.scholarship.default_gap_funding %></td>
	    <td><%=h scholarship_application.scholarship.default_living_stipend %></td>
	    <td><%=h scholarship_application.scholarship.default_renewable %></td>
		<td><%=h scholarship_application.created_at %></td>
		<td><%=h scholarship_application.updated_at %></td>
	</tr>
<% end %>
</tbody>
