<h1>Scholarships</h1>

<%= will_paginate @scholarships %>

<table>
	<tr>
		<th>Title</th>
		<th>Organization</th>
		<th>Default Amount</th>
		<th colspan=3></th>
	</tr>

	<% for scholarship in @scholarships %>
	<tr onClick="addMergeTarget(this)" data-id="<%= scholarship.id %>">
		<td class="name" id="scholarship_title_<%= scholarship.id %>"><%= link_to h(scholarship.title), scholarship %></td>
		<td><%=h scholarship.organization_name %></td>
		<td><%= number_to_currency scholarship.default_amount %></td>
		<td class="functions"><%= link_to 'Show', scholarship %></td>
		<td class="functions"><%= link_to 'Edit', edit_scholarship_path(scholarship) %></td>
		<td class="functions"><%= link_to 'Destroy', scholarship, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>

<%= will_paginate @scholarships %>


<div id="sidebar">
	<p><%= link_to 'New scholarship', new_scholarship_path, :class => "add button" %></p>
	<p><%= link_to "Download in Excel", scholarships_path(:format => :xls), :class => "xls button", :confirm => "This might take a few minutes." %></p>
	<p><%= link_to "View all scholarships", scholarships_path(:per_page => 100000), :class => 'list button', :confirm => "Are you sure you want to list ALL of the scholarships? Depending on how many are in the database, this could take awhile to load." %></p>
	
	<% form_for :scholarship, :html => { :method => :get } do |f| %>

		<%= model_auto_completer "scholarship[title]", "", "id", nil,
								{ 
									:url => auto_complete_for_scholarship_title_scholarships_path, 
									:submit_on_return => true, 
									:after_update_element => "function(text_field, selection, hidden_field, id) { text_field.form.submit() }" 
								},
								{ :autocomplete => false, :class => "search", :placeholder => "Search scholarships" },
								{ :skip_style => true } %>
								
	<% end %>
	

	<h3>Merge Records</h3>
	<p>To merge duplicate scholarship records, <%= link_to_function "enable merging", "$('merge_form').show(); this.up('p').hide();" %>.</p>
	
	<%= form_tag merge_scholarships_path, :id => "merge_form", :style => "display:none" %>
		<p class="intro">Click on the row for the record to merge, then click the record to merge into. Then click Merge.</p>
		
		<div class="merge_item">
			<p class="error-message">
				<strong>Source:</strong>
				This scholarship will be deleted. All existing scholarship applications assigned
				to this scholarship will be reassigned to the target scholarship below.</p>
			<p class="name">
				<span id="merge_source_name">(Not selected)</span>
			</p>
			<label>ID:</label>
			<input name="source_id" id="merge_source_id" readonly>
		</div>
		
		<em class="separator">into</em>

		<div class="merge_item">
			<p class="success-message">
				<strong>Target:</strong>
				This scholarship will be kept and all applications will be reassigned to this one.
			</p>
			<p class="name">
				<span id="merge_target_name">(Not selected)</span>
			</p>
			<label>ID:</label>
			<input name="target_id" id="merge_target_id" readonly>
		</div>
		
		<p><%= submit_tag "Merge", :confirm => "Are you sure you want to merge these scholarships?" %></p>
	</form>
	
</div>
