<div class="right">
	<%= link_to "Show #{Customer.mentors_label}", {:show => "mentors"}, :class => "list button" unless @showing.include?(:mentors) %>
	<%= link_to "Show #{Customer.participants_label}", {:show => "participants"}, :class => "list button" unless @showing.include?(:participants) %>
</div>

<h1>Attendance: <%= @showing.collect{|s| s.to_s.titleize }.to_sentence %></h1>
<h2><%= @high_school.name %> &bull; <%= @term.title %></h2>

<%= javascript_tag "attendanceEventIds = [#{@visits.collect(&:id).join(", ")}];" %>

<%= will_paginate @visits %>
<table class="attendance-matrix">
	<thead>
		<tr>
			<th>Name</th>
			<%- @visits.each_with_index do |visit, index| -%>
				<th class="centered <%= "this-week" if visit.this_week? %>" data-column-id="<%= index+1 %>"></th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% for participant in @participants %>

		<% section ||= nil %>
		<% if section != :inactive && participant.inactive? %>
			<% section = :inactive %>
			<tr class="rowset-header">
				<th colspan="20">Inactive Students</th>
			</tr>
		<% end -%>

		<tr <%= "class='deselected'" if participant.inactive? %> id="participant_row_<%= participant.id.to_s %>" data-participant-id="<%= participant.id.to_s %>">
		    <td class="name"><%= link_to participant.lastname_first, participant_url(participant, :anchor => "!/section/events"), :popup => true %>
				<small class="inactive-note">(inactive)</small>
				</td>
			<%- @visits.each_with_index do |visit, index| -%>
				<td data-column-id="<%= index+1 %>" <%= "class=this-week" if visit.this_week? %>></td>
			<% end %>
		</tr>
		<% end -%>
	</tbody>
	
</table>

<%= will_paginate @visits %>


<%= content_for(:sidebar) do %>

	<form>

		<h3>Term</h3>
		<p>Select a different term:
		<br>
		<%= select_tag "new_term_id", options_from_collection_for_select(Term.all, :id, :title, :selected => @term.id) %>
		<%= submit_tag "Go" %>
		</p>

	    <h3>Cohort</h3>
	    <p><%= select_tag :cohort, options_for_select(@high_school.cohorts.collect(&:to_s), @current_cohort.to_s) %>
	    <%= submit_tag "Go" %>
		</p>
	
	</form>
				
	<p>This page allows you to track attendance for your <%= @showing.to_sentence %> at various events.
		Only events that are pertinent to this group of people are shown.</p>
	
	<p><%= link_to "Add new high school visit",
					new_high_school_visit_path(@high_school, :term_id => @term),
					:class => 'add button' %></p>
	
	<%- unless @participants.empty? -%>
		<p><%= link_to "Return to #{@high_school.name} #{@participants.first.grad_year} list",
						high_school_cohort_path(@high_school, (@participants.first.grad_year || 0)),
						:class => "back button" %></p>
	<% end -%>
					
	<p><%= link_to "Return to visits list",
	 				high_school_visits_path(@high_school),
	 				:class => "back button" %></p>
		
<%- end -%>
