<div class="right">
	<%= link_to "Show #{Customer.mentors_label}", {:show => "mentors"}, :class => "list button" unless @showing.include?(:mentors) %>
	<%= link_to "Show #{Customer.participants_label}", {:show => "participants"}, :class => "list button" unless @showing.include?(:participants) %>
</div>

<h1>Attendance: <%= @showing.collect{|s| s.to_s.titleize }.to_sentence %></h1>
<h2><%= @high_school.name %> &bull; <%= @term.title %></h2>

<% form_for :attendance, :url => update_attendance_high_school_visits_path(@high_school) do |f| %>

	<table>
		<tr>
			<th rowspan=2>Name</th>
			<% for visit in @visits %>
				<% l = link_to h(visit.short_title), edit_event_path(visit), :popup => true %>
				<% if visit.allow_rsvps? %>
					<th colspan=2 class="centered borderless"><%= l %></th>
				<% else %>
					<th rowspan=2 class="centered"><%= l %></th>
				<% end -%>
			<% end -%>
			<!-- <th rowspan=2>Name</th> -->
		</tr>
		<tr>
			<% for visit in @visits %>
				<% if visit.allow_rsvps? %>
					<th class="centered small">RSVP'd?</th>
					<th class="centered small">Attended?</th>
				<% end -%>
			<% end -%>
		</tr>
			

	
		<% for participant in @participants %>

		<% section ||= nil %>
		<% if section != :inactive && participant.inactive? %>
			<% section = :inactive %>
			<tr class="rowset-header">
				<th colspan="<%= @visits.size + 3 %>">Inactive Students</th>
			</tr>
		<% end -%>

		<tr <%= "class='deselected'" if participant.inactive? %>>
		    <td class="name"><%= link_to participant.lastname_first, participant, :popup => true %>
				<small class="inactive-note">(inactive)</small>
				</td>
				
			<!-- Visit dates checkboxes -->
			<% @visits.each_with_index do |visit, i| %>

				<!-- RSVP Checkbox -->
				<%= render :partial => "visits/_checkboxes/rsvp", 
							:locals => { :participant => participant, :visit => visit, :i => i } if visit.allow_rsvps? %>
			
				<!-- Attended Checkbox -->
				<%= render :partial => "visits/_checkboxes/attended", 
							:locals => { :participant => participant, :visit => visit, :i => i } %>
			<% end -%>
		
		</tr>		
		<% end -%>
	  
	</table>

<% end -%>

<div id="sidebar">
	<%= render :partial => "shared/term_select", 
				:locals => { :form_url => attendance_high_school_visits_path(@high_school, "new")},
				:object => @term %>
				
	<p>This page allows you to track attendance for your <%= @showing.to_sentence %> at various events.
		Only events that are pertinent to this group of people are shown.</p>
	<p>To mark someone as present, click the checkbox. You can also use the "tab" key and your spacebar 
		to quickly mark the boxes without using your mouse.</p>
	
	<p><%= link_to "Add new high school visit", 
					new_high_school_visit_path(@high_school, @term), 
					:class => 'add button' %></p>
	
	<%- unless @participants.empty? -%>
		<p><%= link_to "Return to #{@high_school.name} #{@participants.first.grad_year} list", 
						high_school_cohort_path(@high_school, (@participants.first.grad_year || 0)),
						:class => "back button" %></p>
	<% end -%>
					
	<p><%= link_to "Return to visits list",
	 				high_school_visits_path(@high_school),
	 				:class => "back button" %></p>
		
</div>