<h3 class="pre-title"><%= @high_school.name %></h3>
<h1>New <%= Customer.visit_Label %></h1>

<% semantic_form_for :visit, @visit, :url => high_school_visits_path do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "events/fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator %>
	<%= link_to 'Cancel', high_school_visits_path(@high_school) %>

<% end %>
