<tr id="college_enrollment_<%= college_enrollment.id %>">
	<td class="inline-when-small"><%= college_enrollment.began_on.try(:to_s, :short_date) || "Unknown" %></td>
	<td class="inline-when-small"><%= college_enrollment.ended_on.try(:to_s, :short_date) || "Unknown" %></td>
	<td class="inline-when-small"><%=h college_enrollment.enrollment_status_name %></td>
	<td class="inline-when-small"><%=h college_enrollment.class_level_name %></td>
	<td class="inline-when-small"><%=h college_enrollment.majors_list %></td>
	<td class="functions">
		<%= link_to "Details", [@participant, college_enrollment] %>
		<%= link_to "Edit", edit_participant_college_enrollment_path(@participant, college_enrollment) %>
		<%= link_to 'Delete', [@participant, college_enrollment], :confirm => 'Are you sure?', :method => :delete %>
	</td>
</tr>