<h3 class="pre-title"><%=h @participant.fullname %></h3>
<h1>Editing college enrollment</h1>

<%= semantic_form_for([@participant, @college_enrollment]) do |f| %>
  	<%= default_form_errors(f) %>
	<%= render :partial => "fields", :locals => { :f => f } %>

	<%= default_form_actions(f) %>

<% end %>