<%= f.inputs do -%>

	<%= f.input :title, title: "Title", hint: "A quick phrase identifying this filter. For example, \"applied to 3 colleges.\"" %>
	<%= f.input :object_class, as: :select, collection: ["Participant"], include_blank: true, hint: "Choose the object type that this filter relates to." %>
	<%= f.input :criteria, input_html: {rows: 3, class: "code"}, hint: "Use Ruby code that evaluates to either true or false." %>

	<%= f.inputs(name: "Reporting Thresholds", class: "inline") do -%>
	
		<li class="numeric optional"><label for="default_threshold">Caution (Default)</label><input class="caution-threshold" id="default-threshold" name="default-threshold" size="3" type="text" value="&mdash;" disabled /></li>
		
		<%= f.input :warning_threshold, 
					label: "Warning (Percentage)",
					input_html: { size: 3, class: "warning-threshold" } %>
		<%= f.input :target_percentage, 
					label: "Target (Percentage)",
					input_html: { size: 3, class: "target-threshold" } %>
	<% end %>

<% end -%>

<%= f.inputs(title: "Display Options") do %>
	
	<%= f.inputs name: "Relevant Grade Levels", class: "inline" do -%>			
		<%= f.input :earliest_grade_level_level, label: "From", as: :select, collection: GradeLevel.all.collect{|g| [g.title, g.level]} %>
		<%= f.input :latest_grade_level_level, label: "To", as: :select, collection: GradeLevel.all.collect{|g| [g.title, g.level]} %>
	<% end %>
	
	<%= f.input :category, collection: Participant::FILTER_CATEGORIES.invert %>
	
	<%= f.input :warn_if_false, hint: "Changes the way the filter is displayed when an object does not meet its criteria. Choosing <b>Warn if false</b> will display as a red mark (<span class='icon fail warn'>X</span>) and include the result in the overall filter count (<span class='filter_results_count'>3</span>), which is useful for alerting users that action may be required. The <b>Default</b> display is better suited for filters that are primarily for information and statistics.".html_safe %>
											
<% end -%>
