<% 
participants ||= @participants
active_participants = participants.select{|p| !p.inactive? && !p.not_target_participant?}
hide_title ||= false

 %>

<%- unless hide_title -%>
	<h2><%= Participant.current_cohort %> Participants</h2>
<% end -%>

<table class="stats">

	<tr>
		<td class="title">Total Students</td>
		<td class="number"><%= participants.size %></td>
		<td></td>
		<td class="percentage"></td>
	</tr>
	
	<tr>
		<td class="title">Active <%= "& #{Customer.not_target_opposite_Label}" unless Customer.not_target_label.blank? %> students
		</td>
		<td class="number"><%= active_participants.size %></td>
		<td></td>
		<td class="percentage"><%= number_to_percentage(active_participants.size.to_f / participants.size.to_f * 100, precision: 0) rescue 0.0/0.0 %></td>
	</tr>	
	
	<%- for category, object_filters in Participant.object_filters.group_by(&:category) -%>
	<tr class="category">
		<th colspan="10" data-category="<%= category %>">
			<%= Participant::FILTER_CATEGORIES[category.to_s.to_sym] || "Other" %>
		</th>
	</tr>
				
	<%= render partial: "object_filters/object_filter", 
				collection: object_filters,
				locals: { 
					participants: participants,
					active_participants: active_participants,
					hide_title: hide_title
				} %>
	
	<% end %>

</table>

<small class="light">Counts and percentages above are compared against <strong>active, <%= Customer.not_target_opposite_label %></strong> participants only.</small>
