<h1>Stat Filters</h1>
<p>Filters are used to dynamically limit the students displayed on list pages, based on certain criteria defined here.</p>

<table class="object_filters">
  <tr>
    <th>Object</th>
    <th>Title</th>
	<th>Target</th>
	<th>Warning</th>
	<th>Dates</th>
	<th>Grades</th>
	<th colspan=3>Functions</th>
  </tr>

<% for object_filter in @object_filters %>
  <tr>
    <td><%=h object_filter.object_class %></td>
    <td class="name">
		<%= link_to h(object_filter.title), object_filter_path(object_filter), :title => h(object_filter.criteria) %>
		<code class="criteria syntax" id="criteria_<%= object_filter.id %>" style="display:none"><%=h object_filter.criteria %></code>
	</td>
	<td><%=h number_to_percentage object_filter.target_percentage, :precision => 0 %></td>
	<td><%=h number_to_percentage object_filter.warning_threshold, :precision => 0 %></td>
	<td><%= object_filter.display_period_string %></td>
	<td><%= object_filter.grade_levels_list_string %></td>
    <td class="functions"><%= link_to 'Show', object_filter_path(object_filter) %></td>
    <td class="functions"><%= link_to 'Edit', edit_object_filter_path(object_filter) %></td>
    <td class="functions"><%= link_to 'Destroy', object_filter_path(object_filter), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="sidebar">
	<p><%= link_to 'New stat filter', new_object_filter_path, :class => "add button" %></p>

	<p>
		<label for="show_criteria">
			<input id="show_criteria" type="checkbox" onClick="$$('code.criteria').invoke('toggle')"> Show criteria
		</label>
	</p>
	
</div>

<%- javascript_tag do -%>
	document.observe('dom:loaded', function() { 
		<%- for object_filter in @object_filters -%>
			<%= remote_function(:url => formatted_criteria_object_filter_path(object_filter), :update => "criteria_#{object_filter.id}") %>;
		<% end %>
	});
<% end %>