<h1>Test Types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Maximum Score</th>
	<th>Sections</th>
	<th colspan=3>Functions</th>
  </tr>

<% for test_type in @test_types %>
  <tr>
    <td><%=h test_type.name %></td>
    <td><%=h test_type.maximum_total_score.try(:to_i) %></td>
	<td><%=h test_type.section_scores_hash.try(:keys).try(:join, ", ") %></td>
    <td class="functions"><%= link_to 'Show', test_type %></td>
    <td class="functions"><%= link_to 'Edit', edit_test_type_path(test_type) %></td>
    <td class="functions"><%= link_to 'Destroy', test_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<div id="sidebar">
	<%= link_to 'Add new test type', new_test_type_path, :class => "add button" %>
</div>