<div class="container-fluid">
	<%= image_tag "dreamsis-logo-600", class: 'logo' %>
		
	<div class="welcome-card">
		<h1>Welcome</h1>

		<%- if Customer.allowable_login_method?(:shibboleth) -%>
			<p>UW students, staff, faculty and alumni:</p>
			<div class="login-links">
				<%= link_to "Login with your UW NetID", "auth/shibboleth", class: "btn btn-block btn-uw", glyph: "university" %>
			</div>
		<% end %>
  
		<p><%= Customer.allowable_login_method?(:shibboleth) ? "All other users, log in" : "Please log in" %> using one of the following services:</p>
		<div class="login-links">
			<%= link_to "Sign in with Google", "auth/google_oauth2", class: "btn btn-block btn-google", glyph: "google-plus-square" if Customer.allowable_login_method?(:google_oauth2) %>
			<%= link_to "Sign in with Facebook", "auth/facebook", class: "btn btn-block btn-facebook", glyph: "facebook-square" if Customer.allowable_login_method?(:facebook) %>
			<%= link_to "Sign in with Twitter", "auth/twitter", class: "btn btn-block btn-twitter", glyph: "twitter-square" if Customer.allowable_login_method?(:twitter) %>
			<%= link_to "Sign in with LinkedIn", "auth/linkedin", class: "btn btn-block btn-linkedin", glyph: "linkedin-square" if Customer.allowable_login_method?(:linkedin) %>
			<%= link_to "Use a different method", "auth/identity", class: "btn btn-block", glyph: "sign-in" if Customer.allowable_login_method?(:identity) %>
		</div>

		<%- if session[:external_login_context] == :rsvp -%>
			<p>I don't have one of these accounts.</p>
			<div class="anonymous login-links">
				<%= link_to "Continue without logging in", anonymous_login_callback_path, class: 'btn btn-default btn-block' %>
			</div>
		<% end -%>

		<%- if Customer.allowable_login_methods_list.empty? -%>
			<p class="warning">This account does not have any login providers configured.</p>
		<% end %>

	</div>

</div>
