<h1>Login</h1>

<p>UW students, staff, faculty and alumni:
<div class="login-links">
	<%= link_to "Login with your UW NetID", "auth/shibboleth", :class => "uwnetid login-link" %>
</div>

<p>All other users, log in using one of the following services:</p>

<div class="login-links">
	<%= link_to "Facebook", "auth/facebook", :class => "facebook login-link" %>
	<%= link_to "Twitter", "auth/twitter", :class => "twitter login-link" %>
	<%= link_to "Google", "auth/google_oauth2", :class => "google login-link" %>
</div>

<!-- <% form_tag "/auth/identity/callback" do %>
	<%= link_to "Create an account", signup_path %> or login below.


	<p>
		<%= label_tag :auth_key, "Email" %><br>
		<%= text_field_tag :auth_key %>
	</p>
	<p>
		<%= label_tag :password %><br>
		<%= password_field_tag :password %>
	</p>
	<p class="actions"><%= submit_tag "Login" %></p>
<% end %> -->
