<h1>Programs</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Abbreviation</th>
	<th><%= Customer.participants_Label %> Count</th>
	<th colspan=3></th>
  </tr>

<% for program in @programs %>
  <tr id="program_<%= program.id %>">
    <td class="name"><%= link_to h(program.title), program %></td>
    <td><%=h program.abbreviation %></td>
	<td><%= link_to pluralize(program.participants.count, "participant"), program_participants_path(program) %></td>
    <td class="functions"><%= link_to 'Show', program %></td>
    <td class="functions"><%= link_to 'Edit', edit_program_path(program) %></td>
    <td class="functions"><%= link_to 'Destroy', program, :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
  </tr>
<% end %>
</table>

<%= content_for(:sidebar) do %>
	<%= link_to 'Add new program', new_program_path, :class => "add button" %>
<%- end -%>
