<h1><%=h @program.title %></h1>

<dl class="inline-definitions">

	<dt>Title</dt>
	<dd><%=h @program.title %></dd>

    <dt>Abbreviation</dt>
    <dd><%=h @program.abbreviation %></dd>

    <dt>Website</dt>
    <dd><%= auto_link h(@program.website_url) %></dd>

	<dt>Participants</dt>
	<dd><%= link_to pluralize(@program.participants.count, "participant"), program_participants_path(@program) %></dd>

</dl>

<%= content_for(:sidebar) do %>
	<p><%= link_to 'Edit this program', edit_program_path(@program), :class => "edit button" %></p>
	<p><%= link_to 'Back to programs', programs_path, :class => "back button" %></p>
<%- end -%>
