<h1><%=h @program.title %></h1>

<dl class="inline-definitions">

	<dt>Title</dt>
	<dd><%=h @program.title %></dd>

	<dt>Abbreviation</dt>
	<dd><%=h @program.abbreviation %></dd>

</dl>

<div id="sidebar">
	<p><%= link_to 'Edit this program', edit_program_path(@program), :class => "edit button" %></p>
	<p><%= link_to 'Back to programs', programs_path, :class => "back button" %></p>
</div>