<h3 class="pre-title"><%= link_to @participant.fullname, @participant %></h3>
<h1>Add test</h1>

<%= semantic_form_for([@participant, @test_score]) do |f| %>
  	<%= default_form_errors(f) %>

	<%= render partial: "fields", locals: { f: f } %>

	<%= default_form_actions(f) %>

<% end %>