<h1>Activity Logs</h1>

<%= will_paginate @activity_logs %>

<table>
	<thead>
		<tr>
			<th><%=h Customer.mentor_Label %></th>
			<th>Date Range</th>
			<th colspan=3>Functions</th>
		</tr>
	</thead>
	
	<tbody>
		<%- for activity_log in @activity_logs %>
		<tr>
			<td><%= link_to h(activity_log.try(:mentor).try(:fullname)), activity_log.try(:mentor) %></td>
			<td><%= activity_log.start_date.to_s(:short) %></td>
		    <td class="functions"><%= link_to 'Show', activity_log %></td>
		    <td class="functions"><%= link_to 'Edit', edit_activity_log_path(activity_log) %></td>
		    <td class="functions"><%= link_to 'Destroy', activity_log, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>
