<div class="row">
	<div class="col-md-9">
		<dl class="inline-definitions">
			
			<dt>Full Legal Name</dt>
			<dd><%= @participant.fullname(middlename: true, ignore_nickname: true) %></dd>
			
			<dt>Address</dt>
			<dd>
				<%= content_tag(:div, "BAD ADDRESS", class: 'error-message') if @participant.bad_address? %>
				<%= @participant.street unless @participant.street.blank? %>
				<%= raw("<br />") + "#{@participant.city}, #{@participant.state} #{@participant.zip}" unless @participant.city.blank? %>
			</dd>
			
			<dt>Phone</dt>
			<dd>
				<%= content_tag(:div, "BAD PHONE", class: 'error-message') if @participant.bad_phone? %>
				<%= number_to_phone_pretty(@participant.phone_home, type: 'home') unless @participant.phone_home.blank? %>
				<%= raw("<br />") + number_to_phone_pretty(@participant.phone_mobile, type: 'mobile') unless @participant.phone_mobile.blank? %>
				<%= raw("<br />") + number_to_phone_pretty(@participant.phone_work, type: 'work') unless @participant.phone_work.blank? %>
				<%-
				textables = []
				textables << "Send" if @participant.can_send_texts?
				textables << "Receive" if @participant.can_receive_texts?
				textables = ["Unlimited"] if @participant.unlimited_texting?
				-%>
				<%= raw("<br />Texting: ") + textables.join(", ") unless textables.empty? %>
				<%= content_tag(:p, "Preferred", class: 'preferred-note') if @participant.preferred_contact_method == 'Text' %>
				
				<%= content_tag(:p, "Phone Preferred", class: 'preferred-note') if @participant.preferred_contact_method == 'Phone' %>
				<%= content_tag(:p, "Texting Preferred", class: 'preferred-note') if @participant.preferred_contact_method == 'Text' %>
			</dd>
			
			<dt>E-mail</dt>
			<dd>
				<%= content_tag(:div, "BAD E-MAIL", class: 'error-message') if @participant.bad_email? %>
				<%= auto_link h(@participant.email) %>
				<%= content_tag :span, raw("(Primary)<br />") + "#{mail_to(h(@participant.email2))} (Backup)", class: 'light email' unless @participant.email2.blank? %>
				<%= content_tag :p, "Checks e-mail regularly", class: "preferred-note" if @participant.check_email_regularly? %>
				
				<%= content_tag(:p, "E-mail Preferred", class: 'preferred-note') if @participant.preferred_contact_method == 'Email' %>
			</dd>
			
			<%- unless @participant.facebook_id.blank? -%>
			<dt>Facebook</dt>
			<dd>
				<%= link_to h(@participant.facebook_id), "http://facebook.com/" + h(@participant.facebook_id), class: "facebook-mini" %>
				<%= content_tag(:p, "Facebook Preferred", class: 'preferred-note') if @participant.preferred_contact_method == 'Facebook' %>
			</dd>
			<% end %>
			
			<dt>Date of Birth</dt>
			<dd>
				<%= @participant.birthdate.try(:to_s, :long) rescue nil %>
				<%= content_tag(:p, "Age #{@participant.age}", class: 'light') if @participant.age %>
			</dd>
			
			<%- unless @participant.gpa.blank? -%>
			<dt>High School GPA</dt>
			<dd><%= @participant.gpa %>
				<%= content_tag :small, "as of #{time_ago_in_words(@participant.gpa_date)} ago", class: "light" unless @participant.gpa_date.blank? %>
			</dd>
			<% end %>
			
			<dt><%= "User Account".pluralize(@participant.users.count) %></dt>
			<dd>
				<%= content_tag(:em, "None", class: 'light') if @participant.users.empty? %>
				<ul class="bulletless">
					<%- for user in @participant.users %>
					<li>
						<%= link_to user.login, user_path(user) %>
						<small class="light">(Created <%= relative_timestamp(user.created_at) %>)</small>
					</li>
					<% end -%>
				</ul>
			</dd>
			
		</dl>
	</div>
	<div class="col-md-3">
		<%= image_tag "https://maps.google.com/maps/api/staticmap?size=250x250&sensor=false&zoom=12&markers=#{@participant.try(:latitude)}%2C#{@participant.try(:longitude)}", class: 'map pull-right', width: 250, height: 250 if @participant.try(:geocoded?) %>
	</div>
</div>
