<div style="position:relative">
	<%= form_for @participant do |f| %>
	
		<input type="input" class="search autocomplete-search wide" placeholder="Assign another <%= Customer.mentor_label %>" data-source="<%= auto_complete_for_mentor_fullname_mentors_url %>" data-update-with-id="participant_new_mentor_id" />		
	
		<%= hidden_field_tag "participant[new_mentor_id]" %>
		<%= f.submit "Add", :disable_with => "Adding..." %>

	<% end -%>
</div>