<div class="photo-container">
	<a class="avatar" style="background-image: url(<%= participant_avatar_path(@participant, :small) %>);" onClick="$(this).siblings('.controls').toggleClass('expanded'); return false;">
		<em></em>
	</a>

	<div class="controls arrow-box arrow-top">
		<%= image_tag @participant.avatar.medium if @participant.avatar? %>
		
		<%= semantic_form_for(@participant, :html => {:id => "avatar_form", :multipart => true}) do |f| %>
		<h3>Choose a new picture:</h3>
		
			<%= default_form_errors(f) %>

			<%= f.file_field :avatar, :class => "submit-on-change" %>
		    <%= f.submit "Save" %>
		    <%= separator %>
		    <%= link_to_function "Cancel", "$(this).parents('.controls').removeClass('expanded')", :class => "cancel" %>
		<% end %>
	</div>
</div>