<div id="avatar_container">

	<%= link_to_function "Change picture", "$('avatar_container').addClassName('expanded')", :class => "edit button" %>

	<%= image_tag participant_avatar_url(@participant, :medium) %>
	
	<% form_for(@participant, :html => {:id => "avatar_form", :multipart => true}) do |f| %>
		<%= f.error_messages %>

		<%= f.file_field :avatar %>
        <%= f.submit "Save" %>
        <%= separator %>
        <%= link_to_function "Cancel", "$('avatar_container').removeClassName('expanded')", :class => "cancel" %>
		
		<%= observe_field "participant_avatar", :function => "element.form.submit()" %>
	<% end %>

</div>

