<div>
	<%= link_to 'Add college', 
				new_participant_college_application_path(@participant),
				class: "add button" %>

	<span id="postsecondary_plan_add_link" <%= "style='display:none'" unless @participant.postsecondary_plan.blank? %>>
		<%= separator %>
		<%= link_to "Add a different postsecondary plan", "javascript:;", class: "add button", id: "add_postsecondary_plan" %>
	
		<%= javascript_tag "
				$('#add_postsecondary_plan').click(function() {
					$('#postsecondary_plan_tr').show();
					$('#postsecondary_plan_display').hide();
					$('#postsecondary_plan_form').show();
					$('#postsecondary_plan_change_button').hide();
				})
		" %>
	</span>
</div>