<div class="photo">
	<%= render :partial => "avatar" if @participant.avatar? %>
</div>

<div class="name">
	<h3 class="pre-title"><%= @participant.class.to_s %></h3>
	<h1><%=h @participant.fullname(:middlename => false, :nickname => true) %></h1>
	<%- if @participant.inactive? || @participant.not_target_participant? -%>
		<div class="note-band">
			<%= content_tag :h2, "Inactive", :class => "inactive-note" if @participant.inactive? %>
			<%= content_tag :h2, "#{Customer.not_target_Label}", :class => "not-target-note" if @participant.not_target_participant? %>
		</div>
	<% end %>

	<%= link_to "Needs Follow-up", "", :onclick => "switchToTab('notes', undefined, 'show=needs_followup'); return false;", :class => "needs-followup" if @participant.needs_followup? %>
</div>

<div class="details">
	<dl>
		<dt>Cohort</dt>
		<dd>
			<%= link_to "#{@participant.high_school.name} #{@participant.grad_year}", 
					high_school_cohort_path(@participant.high_school, (@participant.grad_year || 0)), 
					:class => 'redirect-link' unless @participant.high_school.nil? %>
		</dd>

		<%- if @participant.respond_to?(:participant_group) && @participant.participant_group -%>
			<dt>Group</dt>
			<dd>
				<%= link_to @participant.participant_group.try(:title), 
							participant_group_path(@participant.participant_group.try(:id)), :class => 'redirect-link' %>
			</dd>
		<% end -%>
		
		<%- if @participant.respond_to?(:postsecondary_goal) && @participant.postsecondary_goal -%>
			<dt>Postsecondary Goal</dt>
			<dd><%= @participant.postsecondary_goal %></dd>
		<% end %>

		<% if @participant.respond_to?(:college_attending) && (!@participant.college_attending.blank? && !@participant.postsecondary_plan.blank?) %>
			<dt>Postsecondary Plan</dt>
			<dd>
				<%= @participant.college_attending ? @participant.college_attending.name : @participant.postsecondary_plan %>
			</dd>
		<% end -%>

		<%- if enrollment = @participant.latest_college_enrollment %>
			<dt>Most Recent College</dt>
			<dd>
					<%= link_to enrollment.institution.try(:name), 
							college_participants_path(enrollment.institution, :report => "college_stages"),
							:class => 'redirect-link' %>
							
					<div class="small light">
						<%= "#{enrollment.enrollment_status_name}, " unless enrollment.enrollment_status_name.blank? %>
						<%= raw [enrollment.began_on.try(:to_s, :month_year), enrollment.ended_on.try(:to_s, :month_year)].compact.join('&ndash;') %>
					</div>
			</dd>
		<% end %>

	</dl>
</div>

<div class="clear"></div>