<table class="events">
	<thead>
		<tr>
			<th>Event</th>
			<th>Date</th>
			<th>Time</th>
			<th class="centered">RSVP</th>
			<th class="centered">Attended</th>
			<th>Functions</th>
		</tr>
	</thead>

	<tbody>
		<%= render :partial => "event_attendances/event_row", :collection => @event_attendances %>
		
		<%- if @event_attendances.empty? -%>
			<tr class="empty">
				<td colspan=10>No events to show.</td>
			</tr>
		<% end -%>
	</tbody>
	
</table>

<h3><%= Customer.visits_Label %> Attendance</h3>
<table class="visits attendance">
	
	<tr>
		<%- for visit in @high_school.try(:events, @term, [:participants]) -%>
			<!-- Attended Checkbox -->
			<%= render :partial => "visits/_checkboxes/attended", 
						:locals => { :participant => @participant, :visit => visit, :i => 0, :show_date => true } %>
		<% end %>
	</tr>
	
</table>

<%- @events_by_date = {} -%>
<%- for month in [Date.today.last_month.last_month, Date.today.last_month, Date.today] -%>
	<div class="mini calendar-container span4">
		<h3><%= Date::MONTHNAMES[month.month] %></h3>
		<%- calendar(month) do |date| -%>
			<%= date.day %>
		<% end %>
	</div>
<% end %>
