<table class="events">
	<thead>
		<tr>
			<th>Event</th>
			<th>Date</th>
			<th>Time</th>
			<th class="centered">RSVP</th>
			<th class="centered">Attended</th>
			<th class="functions">Functions</th>
		</tr>
	</thead>

	<tbody>
		<%= render :partial => "event_attendances/event_row", :collection => @event_attendances %>
		
		<%- if @event_attendances.empty? -%>
			<tr class="empty">
				<td colspan=10>No events to show.</td>
			</tr>
		<% end -%>
	</tbody>
	
</table>

<h3><%= Customer.visits_Label %> Attendance</h3>
<%= javascript_tag "attendancePersonId = '#{@participant.id.to_s}'" %>

<%- for month in [2,1,0].collect{|i| Date.today.beginning_of_month.months_ago(i) } -%>
<div class="mini calendar calendar-container span4 attendance">
	<%= month_calendar attribute: :start_datetime, start_date: month, beginning_of_week: :sunday do |date| %>
		<%= content_tag :div, date.day, "data-date" => raw(date), :class => "attendance-day" %>
	<% end %>
</div>
<% end %>
