<div class="filters">
	<%= link_to "Clear", "#", class: "pull-right small hidden clear-filters" %>
	<h3>Filters</h3>

	<%- for category, object_filters in Participant.object_filters.group_by(&:category) -%>
	
		<h4>
			<a role="button" data-toggle="collapse" href="#filter_controls_<%= category %>" aria-expanded="true" aria-controls="#filter_controls_<%= category %>">
				<%= Participant::FILTER_CATEGORIES[category.to_s.to_sym] || "Other" %>
			</a>
		</h4>

		<ul class="list-unstyled collapse" id="filter_controls_<%= category %>" data-category="<%= category %>">
				
			<%- for object_filter in object_filters -%>
			<li>
				<%= link_to "#", class: "filter", data: { filter_id: "ObjectFilter:#{object_filter.id}" } do %>
					<%= glyph("", nil, exclude_space: true) %><%= content_tag :span, object_filter.opposite_title, class: "filter-title" %>
					<%= content_tag :span, "", class: "badge pull-right record-count" %>
				<% end %>
			</li>
			<% end %>
			
		</ul>
	
	<% end -%>
</div>
