<h3>Filters
	<%#= link_to_function "clear", "clearAllFilters()", :class => "right small filter-clear-link", :style => "display:none" %>
	<%#= link_to_function "expand", "toggleExpandFiltersView()", :class => "right small filter-expand-link" %>
</h3>

	<ul class="filters">
		<%- for category, object_filters in Participant.object_filters.group_by(&:category) -%>
	
		<li class="category <%= "closed" unless category.to_s.starts_with?("-") %>" data-category="<%= category %>">
			<h4><%= Participant::FILTER_CATEGORIES[category.to_s.to_sym] || "Other" %></h4>
			<ul>
					
				<%- for object_filter in object_filters -%>
				<li id="filter_li_<%= object_filter.id.to_s %>" data-category="<%= object_filter.category.to_s %>">

					<%
					dom_id = "filter_#{object_filter.id.to_s}_pass"
					check_box_str = check_box_tag dom_id, "pass", false,
						:class => "#{object_filter.id.to_s}_filter_checkbox filter_checkbox",
						"data-target-filter-id" => object_filter.id.to_s
					record_count_str = "<small id='record_count_#{object_filter.id}'>&nbsp;</small>"
					%>
					<%= label_tag(dom_id, raw("#{check_box_str}#{record_count_str}<span>#{h(object_filter.opposite_title)}</span>")) %>

				</li>
				<% end %>
				
			</ul>
		</li>
	
		<% end -%>
	</ul>
