<%- participant ||= @participant -%>
<%- locals = { :start_date => start_date, :end_date => end_date } rescue {} -%>

<h2>Notes</h2>
	
<% form_for participant.notes.new, :remote => true, :url => notes_path(locals.merge(:return_to => request.url)) do |f| -%>
	<h4 style="margin-bottom: 2px">Add New Note</h4>
	<%= f.text_area :note, :style => "width:99%", :rows => 4, :placeholder => "Add your note here" %>
	<%= f.hidden_field :notable_type, :value => "Person" %>
	<%= f.hidden_field :notable_id, :value => participant.id %>
	<%= f.submit "Add Note", :disable_with => 'Adding note...', :class => 'add notes' %>
<% end -%>

<%- cache [participant.cache_key, "notes"].join("/") do -%>
	<div id="notes_container_<%= participant.id %>">
		<%= render :partial => "shared/notes", :object => participant, :locals => locals %>
	</div>
<% end %>