<h2>Paperwork</h2>

<table class="highlightless">
	<thead>
		<tr class="rowset-header">
			<th>Item</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="name">Workbook</td>
			<td><% if @participant.received_binder? %>
					<span class="green">Given on <%= @participant.binder_date.to_s(:short) rescue "unknown" %></span>
				<% else %>
					<span class="red">Not given</span>
				<% end -%>
				</td>
			<td><% if @participant.received_binder? %>
					<span><%= link_to "Give another workbook", 
										participant_path(@participant, 
														:participant => { :binder_date => Time.now,
																		  :received_binder => true }),
										:method => :put %></span>
				<% else %>
				<span><%= link_to "Give workbook", 
									participant_path(@participant, 
													:participant => { :binder_date => Time.now,
																	  :received_binder => true }),
									:method => :put %></span>
				<% end -%>
				</td>
		</tr>
	
		<tr>
			<td class="name">FAFSA/WASFA</td>
			<td colspan=2>
				<table class="borderless highlightless">
					<%- for year in (@participant.grad_year || @participant.created_at.year)..Time.now.year -%>
						<%- fafsa = @participant.fafsa(year) -%>
						<tr>
							<td class="name"><%= year %></td>
							<%- for attribute in %w[Submitted_FAFSA Submitted_WASFA Not_Applicable] -%>
							<td class="inline-when-small">
								<%= form_for @participant, :remote => true do |f| %>
									<%= hidden_field_tag "participant[fafsa_#{year}_#{attribute.downcase}]", false, :id => nil %>
									<%= check_box_tag "participant[fafsa_#{year}_#{attribute.downcase}]", 
														true, 
														@participant.fafsa(year).try("#{attribute.downcase}?"), 
														:class => "submit-on-change",
														:id => "fafsa_#{year}_#{attribute.downcase}" %>
									<%= label_tag "fafsa_#{year}_#{attribute.downcase}", attribute.gsub("_", " ") %>
								<% end %>
							</td>
							<% end %>
						</tr>
					<% end %>
				</table>
			</td>
		</tr>		
			
		<%- for item in %w[personal_statement resume activity_log] %>
		<tr>
			<td class="name"><%= item.titleize %></td>
			<td colspan="2">
				<%= form_for @participant, :remote => true do |f| %>
				<table class="borderless">
					<tr>
					<%- for option in Customer.paperwork_status_options_array %>
						<td class="inline-when-small">
							<%= f.radio_button "#{item}_status", h(option), 
									:id => "participant_#{item}_status_#{option.to_param}", 
									:class => "submit-on-change" %>
							<%= f.label "#{item}_status_#{option.to_param}", h(option) %>
						</td>
					<% end %>
					</tr>
				<% end %>				
				</table>
			</td>
		</tr>	
		<% end %>
	</tbody>
	
</table>
