	<h2>Paperwork</h2>
	
	<table>
		<tr class="rowset-header">
			<th>Item</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
		
		<tr>
			<td>Workbook</td>
			<td><% if @participant.received_binder? %>
					<span class="green">Given on <%= @participant.binder_date.to_s(:short) rescue "unknown" %></span>
				<% else %>
					<span class="red">Not given</span>
				<% end -%>
				</td>
			<td><% if @participant.received_binder? %>
					<span><%= link_to "Give another workbook", 
										participant_path(@participant, 
														:participant => { :binder_date => Time.now,
																		  :received_binder => true }),
										:method => :put %></span>
				<% else %>
				<span><%= link_to "Give workbook", 
									participant_path(@participant, 
													:participant => { :binder_date => Time.now,
																	  :received_binder => true }),
									:method => :put %></span>
				<% end -%>
				</td>
		</tr>
		
      
		<tr>
			<td>FAFSA</td>
         <% if @participant.fafsa_not_applicable %>
         <td><span class="red">FAFSA Not Applicable</span></td>
         <% else %>
			<td><% if @participant.submitted_fafsa? %>
					<span class="green">Submitted on <%= @participant.fafsa_submitted_date.to_s(:short) rescue "unknown" %></span>
				<% else %>
					<span class="red">Not submitted</span>
				<% end -%>
				</td>
			<td><% unless @participant.submitted_fafsa? %>
					<%= link_to "Mark as submitted", 
								participant_path(@participant, 
												:participant => { :fafsa_submitted_date => Time.now }),
								:method => :put %> | <%= link_to "FAFSA Not Applicable", participant_path(@participant, :participant => { :fafsa_not_applicable => true }), :method => :put %></span>
				<% end %>
				</td><% end %>
		</tr>
		
		<!-- <tr>
			<td>FAFSA (multiyear)</td>
			<td colspan=2>
				<%#- remote_form_for @participant do |f| %>
				<table>
					<%- for year in (@participant.grad_year || @participant.created_at.year)..Time.now.year -%>
						<%#- fafsa = @participant.fafsa(year) -%>
						<tr>
							<td><%#= year %></td>
							<td><%#= f.check_box "fafsa[#{year}][submitted_fafsa]", :onChange => "this.form.onsubmit()" %>
							<%#= f.label "#{item}_status_#{option.to_param}", h(option) %></td>
						</tr>
					<% end %>
				</table>
				<%# end %>
			</td>
		</tr> -->
						
		
		
		<%- for item in %w[personal_statement resume activity_log] %>
		<tr>
			<td><%= item.titleize %></td>
			<td colspan="2">
				<%- remote_form_for @participant do |f| %>
				<table class="borderless">
					<tr>
					<%- for option in Customer.paperwork_status_options_array %>
						<td>
							<%= f.radio_button "#{item}_status", h(option), 
									:id => "participant_#{item}_status_#{option.to_param}", 
									:onChange => "this.form.onsubmit()" %>
							<%= f.label "#{item}_status_#{option.to_param}", h(option) %>
						</td>
					<% end %>
					</tr>
				<% end %>				
				</table>
			</td>
		</tr>	
		<% end %>
		
	</table>

	<%= render :partial => "documents" %>