<%= content_for(:sidebar) do %>

	<%#= content_tag :div, render("export_actions"), id: "export_actions" %>

	<%- if @high_school %>
		<form>
	    <p>Class of <%= select_tag :cohort, options_for_select(@high_school.cohorts.collect(&:to_s), @grad_year.to_s) %>
	    <%= submit_tag "Go" %></p>
		</form>
	<% end %>

	<%- if @college %>
		<h3>High School Cohort</h3>
		<p><%- for grad_year in @participants.collect(&:grad_year).uniq.compact.sort %>
				<%= link_to grad_year, college_participants_cohort_path(@college.id, grad_year) %>
				<% end %>
			</p>
	<% end %>
	
	<%= render "filter_controls" %>
	<%= render "participant_groups_sidebar" if @participant_groups && !@participant_groups.empty? %>
				
<%- end -%>
