<div id="sidebar">

<p><%= link_to "Add new #{Customer.participant_label}", new_participant_path(:high_school_id => @high_school.try(:id) || @participant.try(:high_school_id)), :class => "add button" %></p>

<% if controller.action_name == 'show' && @current_user.can_view?(@participant.high_school) %>
	
	<p><%= link_to 'Edit this participant', edit_participant_path(@participant), :class => 'edit button' %></p>
	
	<p><%= link_to "Return to #{@participant.high_school.try(:name)} #{@participant.grad_year} list",
	 				high_school_cohort_path(@participant.high_school, (@participant.grad_year || 0)),
	 				:class => 'back button' if @participant.high_school && @participant.grad_year %></p>
	
    <%- if @current_user.admin? -%>
        <p><%= link_to "Record History", changes_for_object_path("participant", @participant), :class => "info button" %></p>
        <p><%= link_to "Delete this #{Customer.participant_label}", @participant, :method => :delete, :confirm => "Are you SURE you want to delete this #{Customer.participant_label}?", :class => "delete button" %></p>
    <% end %>
    
<% end -%>

<%- 
placeholder_text = ["Search"]
placeholder_text << h(@grad_year.to_s) if @grad_year
placeholder_text << h(@high_school.name) if @high_school
placeholder_text <<  "all #{Customer.participants_label}" if !@grad_year || !@high_school
 -%>
<input type="input" class="search autocomplete-search" placeholder="<%= placeholder_text.join(" ") %>" data-source="<%= auto_complete_for_participant_fullname_participants_url %>" data-target="<%= participant_url("id") %>" />
	
<% if controller.action_name != 'show' %>

	<%- xlsx_url = controller.action_name == 'index' ? { :action => 'all', :format => :xlsx } : { :format => :xlsx }  -%>
	<p><%= link_to "Download in Excel", 
							:remote => true,
							:url => xlsx_url, 
							:html => { :class => 'button xls', :id => "xlsx_download_button" } %></p>
	
	<%= javascript_tag("checkXlsxStatus = false; xlsxReportId = '';") %>
		
	<%- if @export -%>	
		<p id="xlsx_status">
			<%=h @export.status.try(:titleize) %> <%=h relative_timestamp @export.updated_at %>
			<%= link_to "Regenerate", :remote => true, :url => { :generate => true, :format => 'xlsx' } %>
		</p>
		<%= javascript_tag("checkXlsxStatus = true; xlsxReportId = '#{@export.id.to_s}';") unless @export.generated? %>
	<%- else -%>
		<p id="xlsx_status"></p>
	<% end %>

	<%#= periodically_call_remote(:url => check_export_status_participants_url, 
								:frequency => 3, 
								:condition => "checkXlsxStatus == true", 
								:with => "'id=' + xlsxReportId",
								:before => "showAjaxIndicator = false;") %>

	
	<%- if @high_school %>
		<form>
	    <p>Class of <%= select_tag :cohort, options_for_select(@high_school.cohorts.collect(&:to_s), @grad_year.to_s) %>
	    <%= submit_tag "Go" %></p>
		</form>
	<% end %>

	<%- if @college %>
		<h3>High School Cohort</h3>
		<p><%- for grad_year in @participants.collect(&:grad_year).uniq.compact.sort %>
				<%= link_to grad_year, college_participants_cohort_path(@college.id, grad_year) %>
				<% end %>
			</p>
	<% end %>
	
    <%- if @current_user.admin? -%>
	<div class="with_selected_actions" id="with_selected_actions" style="display:none">
		<h3>With Selected <span id="with_selected_actions_count"></span></h3>
		<ul>
			<li><%= link_to "Send e-mail", :remote => true, :url => bulk_participants_path(:task => :send_email), :with => "Form.serializeElements(selectedElements())" %></li>
		</ul>
	</div>
	<% end %>

	<%- unless @participants.respond_to?(:current_page) -%>
	<h3>Filters
		<%= link_to_function "show all", "clearAllFilters()", :class => "right small" %></h3>

		<ul class="filters">
		<% for object_filter in Participant.object_filters %>
			<li id="filter_li_<%= object_filter.id.to_s %>">
			
				<% 
			    dom_id = "filter_#{object_filter.id.to_s}_true"
			    check_box_str = check_box_tag dom_id, true, false, 
									:class => "#{object_filter.id.to_s}_filter_checkbox filter_checkbox", 
									"data-target-filter-id" => object_filter.id.to_s
				record_count_str = "<small id='record_count_#{object_filter.id}'>&nbsp;</small>"
				%>
				<%= label_tag(dom_id, raw("#{check_box_str}#{record_count_str}#{object_filter.opposite_title}")) %>
			
			</li>
		
		<% end -%>
		</ul>
	<% end %>
		
	<%- if @participant_groups && !@participant_groups.empty? -%>
	<h3>Groups</h3>
	<ul class="quick_nav" style="margin-top: 0">
		<%- for participant_group in @participant_groups -%>
			<li id="participant_group_dropzone_<%= participant_group.id %>">
				<%= link_to participant_group.try(:title), participant_group_path(participant_group), :class => 'redirect-link' %>
			</li>
			<%#= TODO drop_receiving_element "participant_group_dropzone_#{participant_group.id}",
			 							:url => add_to_group_participants_path(:participant_group_id => participant_group.id),
										:accept => 'participant',
										:hoverclass => 'dropzone' %>
		<% end -%>
	</ul>
	<% end -%>
			
<% end -%>
</div>

