<%= render partial: "report_select" %>

<%= content_for(:subheader) do %>
	<%= render partial: "cohort_select" %>
	<ul class="list-inline filter-bucket">
		<li class="text-muted summary">
			<%= glyph('filter hidden') %>
			<span class="filtered_record_count"></span>
			<span class="total_record_count"><%= pluralize @participants.total_entries, Customer.participant_label %></span>
		</li>
	</ul>
<% end %>

<%= operations do %>
	<%= link_to "Add new", new_participant_path(high_school_id: @high_school.try(:id) || @participant.try(:high_school_id)), class: "btn btn-default", glyph: "plus" %>
	<%= render "participants/export_actions" %>
	<%= render "participants/bulk_actions" %>
<% end %>

<div id="stages_selector"></div>

<table class="participants multirow active-report table" id="participants_table">
	<thead></thead>
	
	<tfoot id="empty_placeholder" class="hidden">
		<tr class="empty">
			<td colspan="20">No <%= Customer.participants_label %> match your selection.</td>
		</tr>
	</tfoot>
</table>

<center>
	<%= indicator :table, hidden: false %>
</center>

<%= render partial: "sidebar" %>

<%= javascript_tag "$( function() {
	 //$.ajax({ url: '#{url_for(report: @report, page: 1)}', dataType: 'script' });
	 // App.filterable.filters.execute()
})" %>
