<%= render :partial => "report_select" %>

<h1 style="margin-bottom: 0.25em">
	<%= "Participants" unless @high_school && @grad_year %>
	<%=h @high_school.name if @high_school%>
	<%= "at " + h(@college.name) if @college %>
	<%= "in " + link_to(h(@program.title), @program) if @program %>
	<%= "assigned to " + (params[:mentor_id] == "me" ? "me" : h(@mentor.fullname)) if @mentor %>
	<%=h @grad_year.to_s if @grad_year %>
</h1>
<h3 class="light" style="margin-top: 0">
	Listing 
	<span id="filtered_record_count"></span> 
	<span id="total_record_count"><%= @participants.total_entries %></span>
</h3>
<div id="stages_selector"></div>
<div id="filter_bucket"></div>

<%- if @participant_group -%>
	<h2>
		Group: <%= @participant_group.try(:title) %>
		<span class="light">(<%= link_to "view all", high_school_cohort_path(@high_school, @grad_year) %>)</span>
	</h2>
<% end -%>

<table class="participants multirow active-report" id="participants_table">
	<thead></thead>
	
	<tfoot id="empty_placeholder" style="display:none">
		<tr class="empty">
			<td colspan="20">No <%= Customer.participants_label %> match your selection.</td>
		</tr>
	</tfoot>
</table>

<%= render :partial => "sidebar" %>

<%= javascript_tag "$( function() {
	$.ajax({ url: '#{url_for(:report => @report, :page => 1)}', dataType: 'script' });
})" %>