<h1>Listing <span id="filtered_record_count"></span> <%= pluralize @participants.size, "participant" %>
	<%= "<font color=grey> at #{@high_school.name}</font>" if @high_school %>
	<%= "<font color=grey> in #{@grad_year} class</font>" if @grad_year %>
	<%= "<small>#{link_to("view all", participants_url)}</small>" if @high_school or @grad_year %>
</h1>

<%= javascript_tag "initFilters([#{Participant.object_filters.collect(&:id).join(",")}]);" %>	

<table class="participants">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>High school</th>
			<th>Cohort</th>
			<th>Colleges</th>
			<th>Scholarships</th>
			<th colspan=3></th>
		</tr>
	</thead>

	<tbody>
		<%= render :partial => 'participant', :collection => @participants %>
	</tbody>
</table>

<br />

<%= link_to 'Add new participant', new_participant_path, :class => "add button" %>

<%= render :partial => "sidebar" %>

<%= javascript_tag "updateRecordCount()" %>