<h1>New participant</h1>

<% semantic_form_for(@participant, :html => {:id => "participant_form"}) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>

	<p>
		<%= f.check_box :link_to_current_user_after_save %>
		<%= f.label :link_to_current_user_after_save, "Automatically create a link me to this student after creating the student record" %>
	</p>
		
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
