<%- cache [@participant.cache_key, "details"].join("/") do -%>
	<%= content_for :subheader do %>
		<%= render partial: "details" %>
	<% end %>
<% end %>

<div class="info-section-container">
	
	<%- cache [@participant.cache_key, "tabs"].join("/") do -%>
		<%= content_for(:tabs) do %>
			<ul class="nav nav-tabs" role="tablist">
				<%= link_to_section_li @participant, glyph(:dashboard), :dashboard, 'dashboard', true %>
				<%= link_to_section_li @participant, "Stats", :filter_results, 'filter_results' %>
				<%= link_to_section_li @participant, "About", :about, 'about' %>
				<%= link_to_section_li @participant, "Contacts", :parents, 'contacts' %>
				<%= link_to_section_li @participant, "Colleges", :college_applications, 'college_applications' %>
				<%= link_to_section_li @participant, "Financial", :scholarship_applications, 'scholarship_applications' %>
				<%= link_to_section_li @participant, "Tests", :test_scores, 'test_scores' %>
				<%= link_to_section_li @participant, "Enrollment", :college_enrollments, 'college_enrollments' %>
				<%= link_to_section_li @participant, Customer.mentors_Label, :mentor_participants, 'mentors' %>
				<%= link_to_section_li @participant, "Events", :event_attendances, 'events' %>
				<%= link_to_section_li @participant, "Documents", :documents, 'documents' %>
				<%= link_to_section_li @participant, "Notes", :notes, 'notes' %>
			</ul>
		<% end %>
	<% end %>

	<div class="tab-content">

		<div role="tabpanel" class="tab-pane fade active" id="dashboard">
			<pre>
				- highest priority Stats
				- latest notes
				- follow up flag
				- visits attendance
				- colleges
			</pre>
		</div>

		<div role="tabpanel" class="tab-pane fade" id="filter_results">
			<%= link_to "Recalculate stats", refresh_filter_cache_participant_path(@participant), remote: true, method: :post, class: "pull-right" %>
			<h2>Current Stats</h2>
			<%#= render partial: 'filter_results' %>
		</div>
	
		<div role="tabpanel" class="tab-pane fade" id="about">
			<%= render partial: 'about' %>
		</div>
		
		<%- if @participant.respond_to?(:parents) -%>
			<div role="tabpanel" class="tab-pane fade" id="contacts">
				<div role="placeholder" data-delayed-content-path="parents">
					<%= indicator "center-block", hidden: false %>
				</div>
				<br>
				<%= link_to 'Add contact', new_participant_parent_path(@participant), class: "btn btn-default" %>
			</div>
			<% end -%>
	
		<%- if @participant.respond_to?(:college_applications) -%>
			<div role="tabpanel" class="tab-pane fade" id="college_applications">
				<div role="placeholder" data-delayed-content-path="college_applications">
					<%= indicator "center-block", hidden: false %>
				</div>
			</div>
		<% end %>
		
		<%- if @participant.respond_to?(:scholarship_applications) -%>
			<div role="tabpanel" class="tab-pane fade" id="scholarship_applications">
				<div role="placeholder" data-delayed-content-path="scholarship_applications">
					<%= indicator "center-block", hidden: false %>
				</div>

				TODO: Add FAFSAs
				<%#= render partial: "fafsas" if @participant.respond_to?(:fafsas) %>

				<div role="placeholder" data-delayed-content-path="financial_aid_packages">
					<%= indicator "center-block", hidden: false %>
				</div>

			</div>
		<% end -%>

		<%- if @participant.respond_to?(:test_scores) -%>
			<div role="tabpanel" class="tab-pane fade" id="test_scores">
				<div role="placeholder" data-delayed-content-path="test_scores">
					<%= indicator "center-block", hidden: false %>
				</div>
			</div>
		<% end -%>

		<%- if @participant.respond_to?(:college_enrollments) -%>
			<div role="tabpanel" class="tab-pane fade" id="college_enrollments">
				<div role="placeholder" data-delayed-content-path="college_enrollments">
					<%= indicator "center-block", hidden: false %>
				</div>
				<div role="placeholder" data-delayed-content-path="college_degrees">
					<%= indicator "center-block", hidden: false %>
				</div>
			</div>
		<% end -%>

		<%- if @participant.respond_to?(:mentors) -%>
			<div role="tabpanel" class="tab-pane fade" id="mentors">
				<div role="placeholder" data-delayed-content-path="mentors">
					<%= indicator "center-block", hidden: false %>
				</div>
				
				<div role="placeholder" data-delayed-content-path="mentors/new">
					<%= indicator "center-block", hidden: false %>
				</div>
				
				<div role="placeholder" data-delayed-content-path="mentors/former">
					<%= indicator "center-block", hidden: false %>
				</div>
				
			</div>
		<% end %>

		<%- if @participant.respond_to?(:event_attendances) -%>
			<div role="tabpanel" class="tab-pane fade" id="events">
				<div role="placeholder" data-delayed-content-path="events">
					<%= indicator "center-block", hidden: false %>
				</div>
			</div>
		<% end -%>

		<div role="tabpanel" class="tab-pane fade" id="documents">
			<%#= render partial: 'paperwork_status' if @participant.respond_to?(:submitted_fafsa?) || @participant.respond_to?(:fafsas) %>
			<%#= render partial: "documents" %>
		</div>

		<div role="tabpanel" class="tab-pane fade" id="notes">
			<div role="placeholder" data-delayed-content-path="notes">
				<%= indicator "center-block", hidden: false %>
			</div>
		</div>

	</div>

</div>

<%= operations wrap: false do %>

	<%= render "badge_controls" %>
	
	<div class="btn-group" role="group" aria-label="Operations Links">
		<%= link_to 'Edit', edit_participant_path(@participant), class: 'btn btn-default', glyph: 'pencil' %>
		
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				More
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<a><%= glyph("info-circle") %> <b>DreamSIS ID: #<%= @participant.id %></b></a>
				</li>
				<%- if (is_admin = @current_user.admin?) -%>
			      <li><%= link_to "Record History", changes_for_object_path("participant", @participant), glyph: "history" %></li>
			  <%- end -%>
			  <% if is_admin || @current_user.person.current_lead? -%>
			      <li><%= link_to "Delete this #{Customer.participant_label}", @participant, method: :delete, confirm: "Are you sure you want to delete this #{Customer.participant_label}?", glyph: "trash" %></li>
			  <% end %>
			</ul>
		</div>
	</div>
<% end %>
