<div class="info-section-container vertical">
	
	<ul class="tabs">
		<%= link_to_section_li @participant, "Current Stats", nil, 'filter_results', true %>
		<%= link_to_section_li @participant, "College Apps", :college_applications, 'college_applications' %>
		<%= link_to_section_li @participant, "Scholarships", :scholarship_applications, 'scholarship_applications' %>
		<%= link_to_section_li @participant, "Parents/Contacts", :parents, 'parents' %>
		<%= link_to_section_li @participant, "Tests", :test_scores, 'test_scores' %>
		<%= link_to_section_li @participant, "College Enrollment", :college_enrollments, 'college_enrollments' %>
		<%= link_to_section_li @participant, "College Degrees", :college_degrees, 'college_degrees' %>
		<%= link_to_section_li @participant, Customer.mentors_Label, :mentor_participants, 'mentors' %>
		<%= link_to_section_li @participant, "Events", :event_attendances, 'events' %>
		<%= link_to_section_li @participant, "Paperwork", nil, 'paperwork' %>
		<%= link_to_section_li @participant, "Notes", :notes, 'notes' %>
	</ul>
	
	<div class="tab-content">

		<div class="record-header">
			<%= render :partial => "details" %>
		</div>

		<div class="info-section active" id="filter_results">
			<h2>Current Stats</h2>
			<%= render :partial => 'filter_results' %>
		</div>
	
		<%- if @participant.respond_to?(:college_applications) -%>
			<div class="info-section" id="college_applications">
				<h2>Colleges
					<%= content_tag :em, "Synced with CollegeMapper", :class => "right synced-with-collegemapper-note" if @participant.college_mapper_id %>
				</h2>
				<%= render :partial => 'college_applications' %>
				<br>
				<%= link_to 'Add college', 
							new_participant_college_application_path(@participant),
							:class => "add button" %>
			</div>
		<% end -%>

		<%- if @participant.respond_to?(:scholarship_applications) -%>
			<div class="info-section" id="scholarship_applications">
				<h2>Scholarships</h2>
				<%= render :partial => 'scholarship_applications' %>
				<br>
				<%= link_to 'Add scholarship', 
							new_participant_scholarship_application_path(@participant),
							:class => "add button" %>
			</div>
		<% end -%>

		<%- if @participant.respond_to?(:parents) && Customer.experimental? -%>
			<div class="info-section" id="parents">
				<h2>Parents/Guardians &amp; Contacts</h2>
				<%= render :partial => 'parents' %>
				<br>
				<%= link_to 'Add parent/guardian or contact', 
							new_participant_parent_path(@participant),
							:class => "add button" %>
			</div>
		<% end -%>

		<%- if @participant.respond_to?(:test_scores) && Customer.experimental? -%>
			<div class="info-section" id="test_scores">
				<h2>Tests</h2>
				<%= render :partial => 'test_scores' %>
				<br>
				<%= link_to 'Add test', 
							new_participant_test_score_path(@participant),
							:class => "add button" %>
			</div>
		<% end -%>

		<%- if @participant.respond_to?(:college_enrollments) && Customer.experimental? -%>
			<div class="info-section" id="college_enrollments">
				<h2>College Enrollment</h2>
				<%= render :partial => 'college_enrollments' %>
			</div>
		<% end -%>

		<%- if @participant.respond_to?(:college_degrees) && Customer.experimental? -%>
			<div class="info-section" id="college_degrees">
				<h2>College Degrees</h2>
				<%= render :partial => 'college_degrees' %>
			</div>
		<% end -%>

		<%- if @participant.respond_to?(:mentors) -%>
			<div class="info-section" id="mentors">
				<h2><%= Customer.mentors_Label %></h2>
				<%= render :partial => 'mentors' %>
				<br>
				<%= render :partial => 'add_mentor_form' %>

			</div>
		<% end -%>

		<%- if @participant.respond_to?(:events) -%>
			<div class="info-section" id="events">
				<h2>Events</h2>
				<%= render :partial => 'events' %>
			</div>
		<% end -%>
	
		<%- if @participant.respond_to?(:submitted_fafsa?) -%>
			<div class="info-section" id="paperwork">
				<%= render :partial => 'paperwork_status' %>
			</div>
		<% end -%>
	
		<div class="info-section" id="notes">
			<%= render :partial => "notes" %>
		</div>

	</div>
	
</div>

<%= render :partial => "sidebar" %>

<%= javascript_tag("
$(document).observe('keydown', function (e) {
    switch (e.keyCode) {
        case Event.KEY_DOWN:
            e.stop();
            nextTab();
            break;
        case Event.KEY_UP:
            e.stop();
            previousTab();
            break;
    }
});
") %>