<div id="column1">
	<%= render :partial => "details" %>
</div>

<div id="column2">
	
	<%- if @participant.respond_to?(:college_applications) -%>
		<div class="info-section" id="college_applications">
			<h2>Colleges
				<%= content_tag :em, "Synced with CollegeMapper", :class => "right synced-with-collegemapper-note" if @participant.college_mapper_id %>
			</h2>
			<%= render :partial => 'college_applications' %>
			<br>
			<%= link_to 'Add college', 
						new_participant_college_application_path(@participant),
						:class => "add button" %>
		</div>
	<% end -%>

	<%- if @participant.respond_to?(:scholarship_applications) -%>
		<div class="info-section" id="scholarship_applications">
			<h2>Scholarships</h2>
			<%= render :partial => 'scholarship_applications' %>
			<br>
			<%= link_to 'Add scholarship', 
						new_participant_scholarship_application_path(@participant),
						:class => "add button" %>
		</div>
	<% end -%>

	<%- if @participant.respond_to?(:parents) && Customer.experimental? -%>
		<div class="info-section" id="parents">
			<h2>Parents/Guardians &amp; Contacts</h2>
			<%= render :partial => 'parents' %>
			<br>
			<%= link_to 'Add parent/guardian', 
						new_participant_parent_path(@participant),
						:class => "add button" %>
		</div>
	<% end -%>
	
	<%- if @participant.respond_to?(:submitted_fafsa?) -%>
		<div class="info-section" id="paperwork">
			<%= render :partial => 'paperwork_status' %>
		</div>
	<% end -%>
	
	<div class="info-section" id="notes">
		<%= render :partial => "notes" %>
	</div>

</div>

<%= render :partial => "sidebar" %>