<%- cache [@participant.cache_key, "details"].join("/") do -%>
	<%= content_for :subheader do %>
		<%= render partial: "details" %>
	<% end %>
<% end %>

<div class="info-section-container">
	
	<%- cache [@participant.cache_key, "tabs"].join("/") do -%>
		<%= content_for(:tabs) do %>
			<ul class="nav nav-tabs" role="tablist">
				<%= link_to_section_li @participant, glyph(:dashboard), :dashboard, 'dashboard', true %>
				<%= link_to_section_li @participant, "Stats", :filter_results, 'filter_results' %>
				<%= link_to_section_li @participant, "Contact", :contact, 'contact' %>
				<%= link_to_section_li @participant, "Colleges", :college_applications, 'college_applications' %>
				<%= link_to_section_li @participant, "Financial", :scholarship_applications, 'scholarship_applications' %>
				<%= link_to_section_li @participant, "Tests", :test_scores, 'test_scores' %>
				<%= link_to_section_li @participant, "Enrollment", :college_enrollments, 'college_enrollments' %>
				<%= link_to_section_li @participant, Customer.mentors_Label, :mentor_participants, 'mentors' %>
				<%= link_to_section_li @participant, "Events", :event_attendances, 'events' %>
				<%= link_to_section_li @participant, "Documents", :documents, 'documents' %>
				<%= link_to_section_li @participant, "Notes", :notes, 'notes' %>
			</ul>
		<% end %>
	<% end %>

	<div class="tab-content">

		<div role="tabpanel" class="tab-pane fade active" id="dashboard">
			<pre>
				- highest priority Stats
				- latest notes
				- follow up flag
				- visits attendance
				- colleges
			</pre>
		</div>

		<%- cache [@participant.cache_key, "filter_results"].join("/") do -%>
			<div role="tabpanel" class="tab-pane fade" id="filter_results">
				<%= link_to "Recalculate stats", refresh_filter_cache_participant_path(@participant), remote: true, method: :post, class: "pull-right" %>
				<h2>Current Stats</h2>
				<%= render partial: 'filter_results' %>
			</div>
		<% end %>
	
		<div role="tabpanel" class="tab-pane fade" id="contact">
			<h2>Contact Information &amp; Attributes</h2>
			<div><%= render partial: 'contact' %></div>
			
			<%- if @participant.respond_to?(:parents) -%>
				<h2>Parents/Guardians &amp; Contacts</h2>
				<%= render partial: 'parents' %>
				<br>
				<%= link_to 'Add parent/guardian or contact',
							new_participant_parent_path(@participant),
							class: "add button" %>
			<% end -%>
		</div>
	
		<%- if @participant.respond_to?(:college_applications) -%>
				<div role="tabpanel" class="tab-pane fade" id="college_applications">
					<h2>Colleges &amp; Postsecondary Plans
						<%= content_tag :em, "Synced with CollegeMapper",
							class: "right synced-with-collegemapper-note" if @participant.college_mapper_id %></h2>
					<%= render partial: 'college_applications' %>
					<%= render partial: 'college_application_controls' %>
				</div>
		<% end %>
	
		<%- cache [@participant.cache_key, "column2-a"].join("/") do -%>
	
			<%- if @participant.respond_to?(:scholarship_applications) -%>
				<div role="tabpanel" class="tab-pane fade" id="scholarship_applications">
					<h2>Financial Aid &amp; Scholarships</h2>
					<%= render partial: "fafsas" if @participant.respond_to?(:fafsas) %>
					<br />
					
					<%= render partial: 'scholarship_applications' %>
					<p><%= link_to 'Add scholarship',
													new_participant_scholarship_application_path(@participant),
													class: "add button" %></p>
					
					<%= render partial: "financial_aid_packages" if @participant.respond_to?(:financial_aid_packages) %>
					<p><%= link_to 'Add financial aid package',
													new_participant_financial_aid_package_path(@participant),
													class: "add button" %></p>
				</div>
			<% end -%>

			<%- if @participant.respond_to?(:test_scores) -%>
				<div role="tabpanel" class="tab-pane fade" id="test_scores">
					<h2>Tests</h2>
					<%= render partial: 'test_scores' %>
					<br>
					<%= link_to 'Add test',
								new_participant_test_score_path(@participant),
								class: "add button" %>
				</div>
			<% end -%>

			<%- if @participant.respond_to?(:college_enrollments) -%>
				<div role="tabpanel" class="tab-pane fade" id="college_enrollments">
					<h2>College Enrollment</h2>
					<%= render partial: 'college_enrollments' %>
					
					<h2>College Degrees</h2>
					<%= render partial: 'college_degrees' %>

				</div>
			<% end -%>

		<% end %>

		<%- if @participant.respond_to?(:mentors) -%>
			<div role="tabpanel" class="tab-pane fade" id="mentors">
				<%- cache [@participant.cache_key, "mentors"].join("/") do -%>
					<h2><%= Customer.mentors_Label %></h2>
					<%= render partial: 'mentors' %>
				<% end %>
				<br>
				<%= render partial: 'add_mentor_form' %>

				<%- cache [@participant.cache_key, "former-mentors"].join("/") do -%>
					<%- unless @participant.former_mentor_participants.empty? -%>
						<br>
						<h3>Former <%= Customer.mentors_Label %></h3>
						<%= render partial: 'former_mentors' %>
					<% end %>
				<% end %>
			</div>
		<% end %>

		<%- if @participant.respond_to?(:event_attendances) -%>
			<div role="tabpanel" class="tab-pane fade" id="events">
				<h2>Events &amp; Activities</h2>
				<%= render partial: 'events' %>
			</div>
		<% end -%>

		<div role="tabpanel" class="tab-pane fade" id="documents">
			<%= render partial: 'paperwork_status' if @participant.respond_to?(:submitted_fafsa?) || @participant.respond_to?(:fafsas) %>
			<%= render partial: "documents" %>
		</div>

		<div role="tabpanel" class="tab-pane fade" id="notes">
			<%= render partial: "notes" %>
		</div>

	</div>

</div>

<%= operations wrap: false do %>

	<%= link_to(glyph(:flag, "Needs Followup"), "", class: "needs-followup") if @participant.needs_followup? %>
	<%= link_to(glyph(:star, "My Students"), "", class: "my-mentee") if @current_user.participants.include?(@participant) %>
	
	<div class="btn-group" role="group" aria-label="Operations Links">
		<%= link_to 'Edit', edit_participant_path(@participant), class: 'btn btn-default', glyph: 'pencil' %>
		
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				More
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<%- if (is_admin = @current_user.admin?) -%>
			      <li><%= link_to "Record History", changes_for_object_path("participant", @participant), glyph: "history" %></li>
			  <%- end -%>
			  <% if is_admin || @current_user.person.current_lead? -%>
			      <li><%= link_to "Delete this #{Customer.participant_label}", @participant, method: :delete, confirm: "Are you sure you want to delete this #{Customer.participant_label}?", glyph: "trash" %></li>
			  <% end %>
			</ul>
		</div>
	</div>
<% end %>
