<%= content_for(:sidebar) do %>
	<%= form_for :user, :html => { :onSubmit => "return false;" } do |f| %>
		<input id="user_login" name="user[login]" size="30" type="input" class="search" placeholder="Search for user" />
		<div class="auto_complete" id="user_login_auto_complete"></div>

		<%= javascript_tag("$( document ).ready(function(){
				var thread = null;
				request = null;

				$('#user_login').on('keyup', function() {
					if (this.value.length > 2) {
						clearTimeout(thread);
						if (request) {
							request.abort();
						}
						var target = $(this);
						thread = setTimeout(function() {
							request = $.ajax({
								url: '#{auto_complete_for_user_login_users_url(:format => :js)}?user[login]=' + target.val(),
								cache: false
							});
						}, 500);
					} else if (this.value.length == 0) {
						if (request) {
							request.abort();
						}
						$('#original_users').show();
						$('.pagination').show();
						$('user_search_results').html("");
					}
			});
		});") %>

	<% end %>

	<p>
		<%- if controller.action_name == 'admin' -%>
			<%= link_to "All Users", users_path, :class => 'list button' %>
		<% else %>
			<%= link_to raw("<span class='admin tag'>Admin</span> Users"), admin_users_path, :class => "list button" %>
		<% end -%>
	</p>


<% end %>
