<h1>Editing <%= @user.login %></h1>

<%= semantic_form_for @user, :as => :user, :url => user_path(@user) do |f| %>
	<%= f.semantic_errors %>
	
	<%= f.inputs do -%>
		<%= f.input :admin unless @user.is_a?(AnonymousUser) %>
	<% end -%>
	
	<%= default_form_actions(f) %>

<% end %>