<h1>About You</h1>
<p class="intro">Tell us about yourself so that we can communicate with you effectively. We promise we won't sell your information or send you spam.</p>

<%= semantic_form_for @person, :as => :person, :url => update_profile_path, :method => :post, :label_customizations => false do |f| %>

	<%= default_form_errors(f) %>

	<%= f.inputs do -%>
        <%= f.inputs(:name => "First Name", :class => "inline") do -%>
    		<%= f.input :firstname, :label => "Legal/Given Name", :disabled => @person.is_a?(Mentor) %>
    		<%= f.input :nickname, :label => "Preferred/Nickname", :input_html => { :size => 10 } %>
        <% end %>

		<%= f.input :lastname, :label => "Last Name", :disabled => @person.is_a?(Mentor) %>
        
		<%= f.input :email, :label => "E-mail Address", :disabled => @person.is_a?(Mentor), :hint => "We've pulled your email address from the login service that you used (if it was provided). You can change the email address here if you'd like to use a different address instead." %>
		<%= f.input :sex, :label => "Gender", :as => :select, :collection => {"Male" => "M", "Female" => "F", "No Response" => "NR"} %>
		<%= f.input :phone_mobile, :label => "Phone", :input_html => { :value => number_to_phone(f.object.phone_mobile) }, :hint => "We only use your phone number to get ahold of you about events and activities that you've signed up for on this site." %>
		<%= f.input :birthdate, :label => "Birth Date", :start_year => Time.now.year-13, :end_year => 1930 %>
        <%= f.input :other_languages, :label => "Other languages you speak", :hint => "If you speak any languages other than English, enter them here to help coordinate event planning and project assignment." %>
	
		<%- if @person.is_a?(Student) || @person.is_a?(Participant) -%>
			<li class="select optional <%= "error" if @person.errors.include?(:high_school_id) %>" id="person_high_school_id_input">
				<label>High School</label>
				<%= select_tag :high_school_district, 
								options_for_select(HighSchool.all_by_district(
									:prompt => "-- Choose District --").keys.sort, 
									:selected => (@person.try(:high_school_id).nil? ? "-- Choose District --" : @person.try(:high_school).try(:district))
								) %>
				<%= f.collection_select :high_school_id, (HighSchool.all_by_district[f.object.try(:high_school).try(:district)] || []), :id, :name, :selected => f.object.try(:high_school).try(:id) %>
				<%= content_tag(:p, @person.errors.include?(:high_school_id), :class => "inline-errors") if @person.errors.include?(:high_school_id) %>
				<%= javascript_tag "
					$('select#high_school_district').change(function() {
						$.ajax('#{in_district_high_schools_path}', { 
							dataType: 'script',
							data: { district: $(this).val() }
						})
					})"
				 %>
			</li>			
		<% end -%>
	
		<%- if @person.is_a?(Volunteer) -%>
			<%= f.input :organization, :label => "Employer/Organization" %>
			<!--<%= f.input :shirt_size, :as => :select, :collection => %w[XS S M L XL XXL 3XL] %>-->
		<% end -%>
	<% end -%>
	<%- if @person.is_a?(Student) || @person.is_a?(Participant) -%>
		<%= render :partial => 'participants/fields/contact', :locals => { :f => f } %>
		<%= render :partial => 'participants/fields/high_school', :locals => { :f => f } %>
		<%= render :partial => 'participants/fields/background', :locals => { :f => f } %>
		<%= render :partial => 'participants/fields/race_ethnicity', :locals => { :f => f } %>
		<%= render :partial => 'participants/fields/family_history', :locals => { :f => f } %>
		<%= render :partial => 'participants/fields/parents', :locals => { :f => f } %>
		<%= render :partial => 'participants/fields/financial', :locals => { :f => f } %>
	<% end -%>
	
	<%= f.inputs("Program Affiliations") do -%>
		<p>Which of the following programs are you affiliated with or do you participate in?</p>
		<%= f.input :programs, :as => :check_boxes %>
	<% end -%>
	
	<%- if @person.is_a?(Volunteer) -%>
		<%= f.inputs("Criminal Conviction History") do %>
			<label>Have you ever been convicted of any crimes against persons?</label>
			<!-- <ul class="crimes-list">
				<li>Arson (1st degree)</li><li>Assault, Custodial</li><li>Assault, Simple (or 4th Degree Assault) </li><li>Assault (1st/2nd/3rd Degree)</li><li>Assault of a Child (1st/2nd/3rd Degree) </li><li>Burglary (1st Degree)</li><li>Child Abandonment</li><li>Child Abuse or Neglect (RCW 26.44.020) </li><li>Child Buying or Selling</li><li>Child Molestation (1st,2nd,3rd Degree) </li><li>Communication with a Minor</li><li>Criminal Abandonment</li><li>Criminal Mistreatment (1st/2nd Degree)</li><li>Custodial Interference (1st/2nd Degree) </li><li>Extortion (1st/2nd/3rd* Degree) </li><li>Forgery*</li><li>Incest</li><li>Indecent Exposure - Felony Indecent Liberties</li><li>Kidnapping (1st/2nd Degree) </li><li>Malicious Harassment </li><li>Manslaughter (1st/2nd Degree) </li><li>Murder, Aggravated</li><li>Murder (1st/2nd Degree) </li><li>Patronizing a Juvenile Prostitute </li><li>Promoting Pornography</li><li>Promoting Prostitution (1st Degree) </li><li>Prostitution</li><li>Robbery (1st/2nd Degree)</li><li>Rape (1st/2nd/3rd Degree)</li><li>Rape of a Child (1st/2nd/3rd Degree) </li><li>Selling/Distributing Erotic Material to a Minor </li><li>Sexual Exploitation of a Minor</li><li>Sexual Misconduct with a Minor (1st/2nd Degree) </li><li>Theft (1st/2nd/3rd* Degree)</li><li>Unlawful Imprisonment</li><li>Vehicular Homicide</li><li>Violation of Child Abuse Restraining Order</li>
			</ul>
			<br style="clear: left" />	-->
		
			<%= f.input :crimes_against_persons_or_financial, :label => "", :as => :radio %>
			<%= f.input :aliases, :label => "Aliases/Maiden Name", :as => :string %>
		<% end -%>


		<p>I certify that the information contained in the above-stated information is true, correct, and complete to the best of my knowledge. I understand that consideration for participation in <%= Customer.name_label %> activities and the continuation of subsequent participation depend on true, accurate and complete representation of these facts as stated or implied in all application-related materials. I authorize <%= Customer.name_label %> to make inquiries regarding my criminal conviction history. I understand that participation may be conditioned on receipt of a satisfactory Criminal Conviction Report from the Washington State Patrol or other law-enforcement related agency.</p>

		<%= f.inputs do %>
			<%= f.input :background_check_authorized, :as => :boolean, :label => "I understand the statement above." %>
		<% end -%>
			
	<% end -%>

	<%= f.submit "Save", :disable_with => 'Saving...' %>	

<% end -%>
