<h1>About You</h1>

<% semantic_form_for :person, @person, :url => update_profile_path, :html => { :method => :post } do |f| %>

	<%= f.error_messages :header_message => "Oops, there was a problem." %>

	<%- f.inputs do -%>
		<%= f.input :firstname, :label => "First Name", :disabled => @person.is_a?(Mentor) %>
		<%= f.input :lastname, :label => "Last Name", :disabled => @person.is_a?(Mentor) %>
		<%= f.input :email, :label => "E-mail Address", :disabled => @person.is_a?(Mentor), :as => :email %>
		<%= f.input :sex, :label => "Gender", :as => :select, :collection => {"Male" => "M", "Female" => "F", "No Response" => "NR"} %>
		<%= f.input :phone_mobile, :label => "Phone", :as => :phone %>
		<%= f.input :birthdate, :label => "Birth Date", :start_year => Time.now.year-13, :end_year => 1930 %>
	
		<%- if @person.is_a?(Student) || @person.is_a?(Participant) -%>
			<%= f.input :other_college_programs, :label => "Program Affiliations", :required => false %>
		<% end -%>
	
		<%- if @person.is_a?(Volunteer) -%>
			<%= f.input :organization, :label => "Employer/Organization" %>
			<%= f.input :shirt_size, :as => :select, :collection => %w[XS S M L XL XXL 3XL] %>
		<% end -%>
	<% end -%>
	
	<%- if @person.is_a?(Volunteer) -%>
		<% f.inputs do %>
			<label>Have you ever been convicted of any crimes against persons?</label>
			<!-- <ul class="crimes-list">
				<li>Arson (1st degree)</li><li>Assault, Custodial</li><li>Assault, Simple (or 4th Degree Assault) </li><li>Assault (1st/2nd/3rd Degree)</li><li>Assault of a Child (1st/2nd/3rd Degree) </li><li>Burglary (1st Degree)</li><li>Child Abandonment</li><li>Child Abuse or Neglect (RCW 26.44.020) </li><li>Child Buying or Selling</li><li>Child Molestation (1st,2nd,3rd Degree) </li><li>Communication with a Minor</li><li>Criminal Abandonment</li><li>Criminal Mistreatment (1st/2nd Degree)</li><li>Custodial Interference (1st/2nd Degree) </li><li>Extortion (1st/2nd/3rd* Degree) </li><li>Forgery*</li><li>Incest</li><li>Indecent Exposure - Felony Indecent Liberties</li><li>Kidnapping (1st/2nd Degree) </li><li>Malicious Harassment </li><li>Manslaughter (1st/2nd Degree) </li><li>Murder, Aggravated</li><li>Murder (1st/2nd Degree) </li><li>Patronizing a Juvenile Prostitute </li><li>Promoting Pornography</li><li>Promoting Prostitution (1st Degree) </li><li>Prostitution</li><li>Robbery (1st/2nd Degree)</li><li>Rape (1st/2nd/3rd Degree)</li><li>Rape of a Child (1st/2nd/3rd Degree) </li><li>Selling/Distributing Erotic Material to a Minor </li><li>Sexual Exploitation of a Minor</li><li>Sexual Misconduct with a Minor (1st/2nd Degree) </li><li>Theft (1st/2nd/3rd* Degree)</li><li>Unlawful Imprisonment</li><li>Vehicular Homicide</li><li>Violation of Child Abuse Restraining Order</li>
			</ul>
			<br style="clear: left" />	-->
		
			<%= f.input :crimes_against_persons_or_financial, :label => "", :as => :radio %>
			<%= f.input :aliases, :label => "Aliases/Maiden Name", :as => :string %>
		<% end -%>
		
		<p>Before you can volunteer at one of our events, we need to run a criminal conviction history report.
			Do we have your permission to execute this background check?</p>
		<% f.inputs do %>
			<%= f.input :background_check_authorized, 
						:label => "Yes, I authorize you to conduct a criminal background check using the information provided above.", 
						:as => :boolean %>
		<% end -%>
		
			
	<% end -%>

	<%= f.submit "Save", :disable_with => 'Saving...' %>	

<% end -%>


	<!-- # For all people:
# * name
# * email
# * gender
# * phone number
# * birthdate
# 
# For Students and Participants:
# * affiliated programs
#
# For Volunteers:
# * background check authorized at
# * crimes against persons
# * employer/organization
# * t-shirt size 
aliases

-->
