<h1><%= @user.login %></h1>
<%= content_tag :span, @user.type, :class => 'outline tag' if @user.type %>
<%= content_tag :span, "admin", :class => 'admin tag' if @user.admin? %>

<%- if %w[Mentor Participant].include?(@user.person.class) -%>
	<p>Linked to <%= link_to @user.person.fullname, @user.person %></p>
<% end -%>

<div id="sidebar">
	<p><%= link_to "Edit this user", edit_user_path(@user), :class => 'edit button' %></p>
	<p><%= link_to "Back to users", users_path, :class => "back button" %></p>
</div>