<%- 
races = {
	african_american: "African American",
	african: "African",
	american_indian: "Alaska Native or American Indian",
	asian_american: "Asian American", 
	asian: "Asian", 
	hispanic: "Hispanic", 
	latino: "Latino", 
	middle_eastern: "Middle Eastern", 
	pacific_islander: "Pacific Islander", 
	caucasian: "Caucasian or White", 
	other_ethnicity: "Other ethnicity"
}
 -%>

<%= f.inputs name: "Race/Ethnicity" do -%>
<p>For each, enter the specific ethnicity or heritage, if known.</p>
 
	<%- for race, title in races.sort_by{|r,t| t.gsub("Other", "ZOther")} -%>
	<ol>
		<li class="input race">
			<%= f.check_box race, onClick: "$('#participant_#{race.to_s.gsub("_ethnicity", "")}_heritage').toggle()" %>
			<%= f.label race, title %>
			<%= f.text_field "#{race.to_s.gsub("_ethnicity", "")}_heritage", style: ("display:none" unless f.object[race]), class: "heritage-input" %>
		</li>
	</ol>
	<% end %>
	<br />

	<%= f.input :birthplace, hint: "Include city, state, and country if outside the USA." %>
    <%= f.input :immigrant, as: :radio %>

<% end %>
