<div id="dev-inspector-container">
  <div class="git branch">Env <strong><%= Rails.env %></strong></div>
  <div class="git branch <%= `git rev-parse --symbolic-full-name --abbrev-ref HEAD` %>">Branch <strong><%= `git rev-parse --symbolic-full-name --abbrev-ref HEAD` %></strong></div>
  <div class="git branch">Rails <strong><%= Rails.version %></strong></div>
  <div class="git branch">User <strong><%= current_user.try(:id) || "nil" %></strong></div>
  <div class="git branch">Customer <strong><%= Customer.name_label rescue nil %></strong></div>
  <div class="git branch">Tenant <strong><%= Apartment::Tenant.current_tenant rescue nil %></strong></div>
</div>
