<tr id="note_<%= document.id %>" class="document">

	<td class="metadata">
		<div class="timestamp">
			<span class="username"><%= document.fullname rescue nil %></span>
			<br>
			<%= relative_timestamp document.created_at %>
		</div>
	</td>

	<td class="content_type">
		<%= file_icon_tag h(document.document_content_type) %>
	</td>	
	
	<td class="note-body">
		<strong><%= link_to h(document.title), document.document.url %></strong>
		<%= content_tag :p, simple_format(document.note), :class => "note" unless document.note.blank? %>
	</td>

	<%- if document.user == @current_user -%>
		<td class="document_edit_buttons functions">
			<%= link_to "Edit", edit_note_path(document, :return_to => params[:return_to] || request.url) %>
		</td>
		<td class="document_edit_buttons functions">
			<%= link_to "Delete", 
						:url => note_path(document, :return_to => params[:return_to] || request.url),
						:remote => true,
						:indicator => true, 
						:method => :delete, 
						:confirm => "Are you sure you want to delete this document?" %>
		</td>
	<% end -%>

</tr>
