<tr id="note_<%= document.id %>" class="document">

	<td class="content_type">
		<%= file_icon_tag h(document.document_content_type) %>
	</td>
	<td class="note-body">
		<strong><%= link_to h(document.title), document_note_path(document) %></strong>
		<%= content_tag :div, simple_format(document.note), :class => "note" unless document.note.blank? %>
		
		<div class="timestamp">
			Uploaded by 
			<span class="username"><%= document.fullname rescue nil %></span>
			<span class="date_time"><%= relative_timestamp document.created_at %></span>
			
		</div>
	</td>

	<%- if document.user == @current_user -%>
		<td class="document_edit_buttons functions">
			<%= link_to "Edit", edit_note_path(document, :return_to => params[:return_to] || request.request_uri) %>
		</td>
		<td class="document_edit_buttons functions">
			<%= link_to_remote "Delete", 
						:url => note_path(document, :return_to => params[:return_to] || request.request_uri),
						:indicator => true, 
						:method => :delete, 
						:confirm => "Are you sure you want to delete this document?" %>
		</td>
	<% end -%>

</tr>