<tr id="note_<%= note.id %>">

	<td class="metadata">
		<div class="timestamp">
			<span class="username"><%= note.fullname rescue nil %></span>
			<br>
			<%= note.created_at.strftime("%I:%M") %> <%= note.created_at.ampm %>
			<%= content_tag(:div, note.contact_type, :class => "contact-type") unless note.contact_type.blank? %>
		</div>
	</td>

	<td class="note-body">
		<%= auto_link RedCloth.new(note.note).to_html %>
		
		<% if note.restricted? %>
			<p class="privacy_note <%= note.access_level %>">
				<%= note.restriction_in_words %>
			</p>
		<% end -%>
		
		<%- if note.needs_followup? -%>
			<p class="needs-followup">
				Needs Follow-up
				<%= link_to "(Clear)", note_path(note, :note => { :needs_followup => false }), :method => :put, :remote => true %>
			</p>
		<% end %>
			
	</td>
	
	<%- if note.user == @current_user -%>
		<td class="note_edit_buttons functions">
			<%= link_to "Edit", edit_note_path(note, :return_to => params[:return_to] || request.url) %>
			<%= link_to "Delete", 
						note_path(note, :return_to => params[:return_to] || request.url),
						:remote => true,
						:method => :delete, 
						:confirm => "Are you sure you want to delete this note?" %>
		</td>
	<% end -%>
	
	
</tr>