<%= form_tag form_url, :method => :get %>

	<%- if Customer.use_quarters? -%>

		Select a different quarter:
		<br>
		<%= select "new_term_id", "quarter_code_abbreviation", %w(WIN SPR SUM AUT), :selected => term_select.quarter_code_abbreviation %>
		<%= select "new_term_id", "year", (term_select.year-5)..(term_select.year+5), :selected => term_select.year %>
		<%= submit_tag "Go" %>

		<p class="term_jump_links">
			<%= link_to "&#x2190; #{term_select.prev.to_param}".html_safe, form_url + "?new_term_id=#{term_select.prev.to_param}" %>
			|
			<%= link_to "#{term_select.next.to_param} &#x2192;".html_safe, form_url + "?new_term_id=#{term_select.next.to_param}" rescue false%>
		</p>

	<% else %>

		Select a different term:
		<br>
		<%= select_tag "new_term_id", options_from_collection_for_select(Term.all, :id, :title, :selected => term_select.id) %>
		<%= submit_tag "Go" %>

	<% end %>
</form>
