<li class="input">
<%= f.label attribute_name %>

<div id="institution_name_auto_complete">
	<%= model_auto_completer "college_application[institution_name]", 
							(parent_object.try(:institution).try(:name) if parent_object.try(:institution)), 
							"#{parent_name}[#{attribute_name.to_sym}]", 
							(parent_object.try(attribute_name.to_sym) || nil), 
							{ 
								:url => { :controller => 'college_applications', :action => 'auto_complete_for_institution_name' },
								:append_random_suffix => false,
								:after_update_element => "function(text_field, selection, hidden, id) { 
															institution_lookup(text_field, selection, hidden, id) 
														  }",
								:regexp_for_id => '(-?\d+)$' },
							{ :autocomplete => false, :style => ('display:none' if parent_object.try(:institution)), :size => 50, :class => "search" },
							{ :skip_style => true } %>
	
	<% javascript_tag do -%>	
		function institution_lookup(text_field, selection, hidden, id) {
			Element.update('institution_details_content', selection.innerHTML)
			Element.show('institution_details')
			Element.hide(text_field)
		}
	<% end -%>

	<div id="institution_details" class="auto_complete after_select" <%= "style='display:none'" unless parent_object.try(:institution) %>>
		<div id="institution_details_content">
			<% if parent_object.try(:institution) %>
				<span class="primary">  <%=h parent_object.institution.try(:name) %>
				<small class="light"> (#<%=h parent_object.institution.try(:id) %>)</small></span>
				<span class="secondary location"><%=h parent_object.institution.try(:location_detail) %></span>
				<span class="secondary url"> <%= link_to h(parent_object.institution.try(:webaddr)), 
											h(parent_object.institution.try(:webaddr)), :popup => true %></span>
			<% end -%>
		</div>
		<small><%= link_to_function "Choose a different institution", 
								"Element.hide('institution_details');
								 Element.show('model_auto_completer_tf');
								 $('model_auto_completer_tf').value = '';
								 $('model_auto_completer_tf').focus()" %></small>

	</div>
</div>
</li>
