<%= f.inputs :name => "Choose participants to submit" do -%>
	<p>Choose the cohorts that should be submitted to the National Student Clearinghouse.</p>
	
	<%- for cohort in Participant.cohorts -%>
		<li class="boolean optional" id="cohort_<%= cohort %>_input">
			<label for="cohort_<%= cohort %>">
				<%= check_box_tag "cohorts[]", cohort, params[:cohorts].try(:include?, cohort), :id => "cohort_#{cohort}" %>
				Class of <%= cohort %>
			</label>
		</li>
	<% end %>	
<% end %>	

<%= f.inputs :name => "Account Settings" do -%>
	<%= f.input :plain_ftp_password, 
				:label => "FTP Password", 
				:hint => "You must have an FTP account assigned. The password you enter here is encrypted
				 		 and only used for the life of this specific request." %>
<% end %>
