<h3 class="pre-title"><%= link_to "Request ##{@clearinghouse_request.id.to_s}", @clearinghouse_request %></h3>
<h1>Results</h1>

<table>
	<thead>
		<th>Participant</th>
		<th class="centered">Record Found</th>
		<th class="centered">Enrollments</th>
		<th class="centered">Degrees</th>
	</thead>
	
	<tbody>
	<%- cache [@clearinghouse_request.cache_key, "results"].join("/") do -%>
		<%- for participant in @clearinghouse_request.participants -%>
			<tr>
				<td class="name"><%= link_to participant.fullname, participant %></td>
				<td class="centered">
					<%= content_tag :span, participant.clearinghouse_record_found?, :class => "icon pass" if participant.clearinghouse_record_found? %>
				</td>
				<td class="centered">
					<%= p = participant.college_enrollments.from_clearinghouse_request(@clearinghouse_request.id); p.size unless p.empty? %>
				</td>
				<td class="centered">
					<%= p = participant.college_degrees.from_clearinghouse_request(@clearinghouse_request.id); p.size unless p.empty? %>
				</td>
			</tr>
		<% end %>
	<% end %>
	</tbody>
</table>

<%= content_for(:sidebar) do %>
	<p><%= link_to "Back to request", @clearinghouse_request, :class => "back button" %></p>
	<p><small class="info">The <strong>Record Found</strong> column will show True if <em>any</em> Clearinghouse Request has ever returned a record for that person. It is not necessarily a result from this specific request. Enrollments and degrees are specific to this request, however.</small></p>
<%- end -%>
