<div class="inline">
	<h1>Request #<%= @clearinghouse_request.id.to_s %></h1> &nbsp;
	<%= content_tag :span, @clearinghouse_request.status, :class => "#{@clearinghouse_request.status} status tag" %>
</div>

<dl class="inline-definitions">
	
	<dt>Created</dt>
	<dd>
		<%= @clearinghouse_request.created_at.to_s(:date_with_full_month) %>
		with <%= pluralize @clearinghouse_request.participant_ids.size, "participant" %>
        
        <%- missing_count = @clearinghouse_request.participant_ids.size - @clearinghouse_request.participants.size -%>
        <%- if missing_count > 0 -%>
            <span class="light">(<%= pluralize missing_count, "record" %> no longer found)</span>
        <% end %>

		<%- unless @clearinghouse_request.submitted? -%>
			<p>
				<br /><%= link_to "Submit request now", submit_clearinghouse_request_path(@clearinghouse_request), :method => :post, :class => "upload button" if @clearinghouse_request.submittable? %>
				<%= separator if @clearinghouse_request.submittable? %>
				<%= link_to "Mark as submitted", clearinghouse_request_path(@clearinghouse_request, :clearinghouse_request => { 
						:submitted_at => Time.now, 
						:number_of_records_submitted => @clearinghouse_request.participant_ids.size }
					), :method => :put, :class => "ok button" %>
			</p>
		<% end %>		
	</dd>
	
	<dt>Submitted</dt>
	<dd>
		<%- if @clearinghouse_request.submitted? -%>
			<%= @clearinghouse_request.submitted_at.to_s(:date_with_full_month) %>
			with <%= pluralize @clearinghouse_request.number_of_records_submitted, "record" %>
			
			<%- unless @clearinghouse_request.retrieved? -%>
				<p>
					<br /><%= link_to "Retrieve results now", retrieve_clearinghouse_request_path(@clearinghouse_request), :method => :post, :class => "download button" if @clearinghouse_request.retrievable? %>
					<%= separator if @clearinghouse_request.retrievable? %>
					<%= link_to_function "Upload results file", "$('#upload_form').show()", :class => "save button" %>
				</p>
				
				<%= form_tag upload_clearinghouse_request_path(@clearinghouse_request), :id => 'upload_form', :style => "display:none", :multipart => true do |f| -%>
					<p><br />Upload the detail file that was returned by National Student Clearinghouse.</p>
					<%= file_field_tag 'retrieved_file' %>
					<%= submit_tag "Upload" %>
				<% end %>
			<% end %>
		<% else %>
			<%= content_tag(:em, "Not submitted", :class => 'light') %>
		<% end %>
		</dd>
	
	<dt>Retrieved</dt>
	<dd>
		<%- if @clearinghouse_request.retrieved? -%>
			<%= @clearinghouse_request.retrieved_at.to_s(:date_with_full_month) %>
			with <%= pluralize @clearinghouse_request.number_of_records_returned, "record" %>
			
			<p><br /><%= link_to "List results", results_clearinghouse_request_path(@clearinghouse_request), :class => "list button" %></p>
		<% else %>
			<%= content_tag(:em, "Not retrieved", :class => 'light') %>
		<% end %>
		</dd>
	
	<dt>Files</dt>
	<dd>
		<ul>
			<li>
				<%= link_to "#{@clearinghouse_request.nsc.send_filename}",
					 	file_clearinghouse_request_path(@clearinghouse_request, :file => 'submission') %>
						(Submission file)
			</li>
			
			<%- if @clearinghouse_request.retrieved? -%>
				<%- for file in @clearinghouse_request.files %>
					<li>
						<%= link_to file, file_clearinghouse_request_path(@clearinghouse_request, :file => file) %>
						<%= "(Aggregate report)" if File.basename(file).match("aggrrpt") %>
						<%= "(Control report)" if File.basename(file).match("cntlrpt") %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</dd>
	
	<%- if @clearinghouse_request.submitted? -%>
		<dt>Processing Log</dt>
		<dd>
			<code id="processing_log_container"><em>Loading...</em></code>
		</dd>
	<% end %>

</dl>

<div id="sidebar">
	<p><%= link_to "Back to requests", clearinghouse_requests_path, :class => "back button" %></p>
</div>

<%= javascript_tag "$( function() {
	$.ajax('#{refresh_status_clearinghouse_request_path(@clearinghouse_request, :current_status => @clearinghouse_request.status)}', 
		{ dataType: 'script' })
	})" if @clearinghouse_request.submitted? %>