<div id="sidebar">

	<p><%= link_to "My #{Customer.mentees_label}", my_participants_path, :class => "people button" %></p>
	<%= content_tag :p, link_to("Track my week", my_current_activity_log_path, :class => "calendar button") if Customer.uses_activity_logs? %>

	<h3>Contact Info</h3>
	
	<dl class="sidebar">
		<dt>Email</dt>
		<dd><%= auto_link @mentor.email %></dd>
	</dl>

	
	<h3>Administrative</h3>
	
	<dl class="sidebar">

		<%- if Customer.require_background_checks? -%>
			<dt>Background Checks</dt>
			<dd>
				<% if @mentor.passed_background_check? %>
					Passed on <%= @mentor.background_check_run_at.to_s(:short_date) %>
				<%- else -%>
					<span class="error-message">Not passed</span>
				<% end -%>
			</dd>
		<% end %>

		<%- if Customer.require_risk_form? && @mentor.respond_to?(:signed_risk_form?) -%>
			<dt>Acknowledgment of Risk Form</dt>
			<dd>
				<% if @mentor.signed_risk_form? %>
					Signed on <%= @mentor.risk_form_signed_at.to_s(:short_date) %>
				<%- else -%>
					<span class="error-message">Not signed</span>
				<% end -%>
			</dd>
		<% end -%>
		
	</dl>
	
	
</div>
