<%= content_for(:sidebar) do %>

	<h3>Contact Info</h3>
	<p>We may use this information to contact you prior to an event.</p>
	<br>
	
	<dl class="sidebar">

		<dt>Name</dt>
		<dd><%= @person.fullname %></dd>

		<dt>Email</dt>
		<dd><%= auto_link @person.email %></dd>
		
		<dt>Phone</dt>
		<dd><%= number_to_phone @person.phone_mobile %></dd>

		<%- if @current_user.person_type == "Participant" -%>
		  <dt>Intake Form (<%= link_to "Edit Responses", participant_signup_intake_form_path %>)</dt>
		  <dd>
		  	<%- if !@participant.completed_intake_form? %>
			  <span class="error-message">Not Completed</span>
			<%- else -%>
			  <span class="success-message">Completed</span>
			<% end -%>
		  </dd>
		<% end -%>

	</dl>
	
<%- end -%>
