<h1><%=h @event.name %></h1>

<dl class="inline-definitions">

	<dt>Date/Time</dt>
	<dd><%= @event.time_detail %></dd>

	<dt>Location</dt>
	<dd><%=h @event.location_text %></dd>

	<%- unless @event.description.blank? -%>
		<dt>Description</dt>
		<dd><%= sanitize textilize(@event.description) %></dd>
	<% end -%>

	<dt>Capacity</dt>
	<dd>
		<%- if @event.capacity && @event.capacity > 0 -%>
			<div class="signup-meter <%= "full" if @event.full? %>">
				<div class="capacity" 
					 style="width: 30%;"
					 title="<%= number_to_percentage @event.percent_full, :precision => 0 %> full">

					<div class="size" style="width: <%= @event.percent_full %>%">
						<%= @event.full? ? content_tag(:span, "full", :class => "full_label") : "&nbsp;" %>
					</div>					
				</div>
			</div>
			&nbsp;
			<div class="signup-numbers">
				<%= content_tag :span, @event.attendees.rsvpd.size %>
				of
				<%= content_tag :span, @event.capacity %>
			</div>
		<% else %>
		  	<span class="light">No limit</span>
		<% end -%>
	</dd>
	
	<dt>Shifts</dt>
	<dd><%= link_to pluralize(@event.shifts.size, "shift"), event_event_shifts_path(@event) %></dd>

	<%- if @event.event_coordinator -%>
		<dt>Coordinator</dt>
		<dd><%=h @event.event_coordinator.fullname %> (<%= auto_link h(@event.event_coordinator.email) %>)</dd>
	<% end -%>

	<%- if @event.event_group -%>
		<dt>Event Group</dt>
		<dd><%= link_to @event.event_group.try(:name), @event.event_group %></dd>
	<% end -%>
	
	<%- if @event.event_type -%>
		<dt>Event Type</dt>
		<dd><%= link_to @event.event_type.try(:name), @event.event_type %></dd>
	<% end -%>

	<dt>RSVP URL</dt>
	<dd><%= @event.allow_rsvps? ? link_to(event_rsvp_url(@event), event_rsvp_path(@event)) : "<span class='light'>RSVP's disabled</span>" %></dd>

</dl>

<h2>Attendees</h2>
	
<table>
	<thead>
		<tr>
			<th>Audience</th>
			<th>RSVP'd</th>
			<th>Attended</th>
			<th>Functions</th>
		</tr>
	</thead>
	
	<tbody>
		<%- for audience in [:participant, :mentor, nil] -%>
			<tr <%= "class='total'" if audience.nil? %>>
				<td><%= audience.nil? ? "Total" : audience.to_s.titleize.pluralize %></td>
				<td><%=h @event.attendees.rsvpd(audience).count %></td>
				<td><%=h @event.attendees.attended(audience).count %></td>
				<td><%= link_to "Details", event_event_attendances_path(@event, :audience => audience) unless audience.nil? %></td>
			</tr>
		<% end -%>
	</tbody>
</table>	
	
<div id="sidebar">
	<p><%= link_to "Edit this event", edit_event_path(@event), :class => 'edit button' %></p>
	<p><%= link_to "Back to events", events_path, :class => 'back button' %></p>
	<p><%= link_to "Check-in Attendance", checkin_event_event_attendances_path(@event), :class => 'edit button' %>
</div>