<h3 class="pre-title"><%= @event.visit? ? Customer.visit_Label : @event.type %></h3>
<h1><%=h @event.name %></h1>

<dl class="inline-definitions">

	<%= render :partial => "events/details", :object => @event %>
			
	<dt>RSVP URL</dt>
	<dd><%= raw @event.allow_rsvps? ? link_to(event_rsvp_url(@event), event_rsvp_path(@event)) : "<span class='light'>RSVP's disabled</span>" %></dd>

</dl>

<h2>Attendees</h2>
	
<table>
	<thead>
		<tr>
			<th>Audience</th>
			<th>RSVP'd</th>
			<th>Capacity</th>
			<th>Attended</th>
			<th class="functions">Functions</th>
		</tr>
	</thead>
	
	<tbody>
		<%- for audience in [:participant, :student, :mentor, :volunteer, nil] -%>
			<tr <%= "class=total" if audience.nil? %>>
				<td><%= audience.nil? ? "Total" : audience.to_s.titleize.pluralize %>
					<%= content_tag :span, "not shown", :class => 'outline tag' unless @event["show_for_#{audience.to_s.pluralize}"] || audience.nil? %></td>
				<td><%=h @event.attendees.audience(audience).rsvpd.count %></td>
				<td><%=h audience ? @event["#{audience.to_s}_capacity"] : @event[:capacity] %></td>
				<td><%=h @event.attendees.audience(audience).attended.count %></td>
				<td class="functions"><%= link_to "Details", event_event_attendances_path(@event, :audience => audience) unless audience.nil? %></td>
			</tr>
		<% end -%>
	</tbody>
</table>	
	
<div id="sidebar">
	<p><%= link_to "Edit this event", edit_event_path(@event), :class => 'edit button' %></p>
	<p><%= link_to "Back to events", events_path, :class => 'back button' %></p>
	<p><%= link_to "Check-in Attendance", checkin_event_event_attendances_path(@event), :class => 'edit button' %>
	<p><%= link_to 'Add a shift', new_event_event_shift_path(@event), :class => 'add button' %></p>
</div>
