<%= breadcrumbs "Events", (@event.visit? ? Customer.visit_Label : @event.type).to_s.pluralize, @event.name %>


<dl class="inline-definitions">

	<%= render partial: "events/details", object: @event %>
			
	<dt>RSVP URL</dt>
	<dd><%= raw @event.allow_rsvps? ? link_to(event_rsvp_url(@event), event_rsvp_path(@event)) : "<span class='light'>RSVP's disabled</span>" %></dd>

</dl>

<h2>Attendees</h2>
	
<table>
	<thead>
		<tr>
			<th>Audience</th>
			<th>RSVP'd</th>
			<th>Capacity</th>
			<th>Attended</th>
			<th class="functions">Functions</th>
		</tr>
	</thead>
	
	<tbody>
		<%- for audience in [:participant, :student, :mentor, :volunteer, nil] -%>
			<tr <%= "class=total" if audience.nil? %>>
				<td><%= audience.nil? ? "Total" : audience.to_s.titleize.pluralize %>
					<%= content_tag :span, "not shown", class: 'outline tag' unless @event["show_for_#{audience.to_s.pluralize}"] || audience.nil? %></td>
				<td><%=h @event.attendees.audience(audience).rsvpd.count %></td>
				<td><%=h audience ? @event["#{audience.to_s}_capacity"] : @event[:capacity] %></td>
				<td><%=h @event.attendees.audience(audience).attended.count %></td>
				<td class="functions"><%= link_to "Details", event_event_attendances_path(@event, audience: audience) unless audience.nil? %></td>
			</tr>
		<% end -%>
	</tbody>
</table>

<%= operations wrap: false do %>
	<div class="btn-group" role="group" aria-label="Operations Links">
		<%= link_to "Edit", edit_event_path(@event), class: 'btn btn-default', glyph: 'pencil' %>
		
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				More
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<%= link_to "Check-in Attendance", checkin_event_event_attendances_path(@event), glyph: 'pencil' %>
				</li>
				<li>
					<%= link_to 'Add a shift', new_event_event_shift_path(@event), glyph: 'plus' %>
				</li>
			</ul>
		</div>
	</div>
<%- end -%>
