<%- event_attendance = @event_attendance || @current_user.person.event_attendances.find_or_create_by_event_id(event.id) rescue nil -%>

<tr id="event_<%= event.id %>" class="<%= @current_user.try(:person).try(:attending?, event) ? "attending" : "not_attending" %>">
	<td class="map">
		<%= link_to image_tag( "https://maps.google.com/maps/api/staticmap?size=120x120&sensor=false&zoom=10&markers=#{event.location.try(:latitude)}%2C#{event.location.try(:longitude)}"), event_rsvp_path(event) if event.location.try(:geocoded?) %>
	</td>
	<td>
		<h2 class="event name"><%= link_to h(event.name), event_rsvp_path(event) %></h2>
		<p class="date"><%= event.time_detail %></p>
		<p class="location"><%=h event.location_string %></p>

		<%- unless event.description.blank? || @hide_description_link -%>
			<p class="description_link"><%= link_to_function "More details", "Effect.toggle('event_#{event.id}_description', 'blind', {duration:0.25})" %></p>
			<div class="description" id="event_<%= event.id %>_description" style="display: none;"><%= sanitize textilize(event.description) %></div>
		<% end -%>
		
		<%= render :partial => 'rsvp/shifts', 
					:locals => { :event => event, :event_attendance => event_attendance } %>
	</td>
	
	<td>
		<%- if event.capacity && event.capacity > 0 -%>
			<div class="signup-meter <%= "full" if event.full? %>">
				<div class="capacity" 
					 style="width: 100%;"
					 title="<%= number_to_percentage event.percent_full, :precision => 0 %> full">

					<div class="size" style="width: <%= event.percent_full %>%">
						<%= event.full? ? content_tag(:span, "full", :class => "full_label") : "&nbsp;" %>
					</div>					
				</div>
			</div>
			<div class="signup-numbers">
				<%= content_tag :span, event.attendees.rsvpd.size %>
				of
				<%= content_tag :span, event.capacity %>
			</div>
		<% end %>
	</td>
	
	<td>
		<%= render :partial => 'rsvp/rsvp_button', :locals => { :event => event, :event_attendance => event_attendance } %>
		<em class="rsvp_status"><%= "Attending" if event_attendance.try(:rsvp?) %></em>
	</td>
</tr>