<tr id="event_<%= event.id %>" class="<%= @current_user.try(:person).try(:attending?, event) ? "attending" : "not_attending" %>">
	<td>
		<h2 class="event name"><%= link_to h(event.name), event_rsvp_path(event) %></h2>
		<p class="date"><%= event.time_detail %></p>
		<p class="location"><%=h event.location_text %></p>

		<%- unless event.description.blank? || @hide_description_link -%>
			<p class="description_link"><%= link_to_function "More details", "Effect.toggle('event_#{event.id}_description', 'blind', {duration:0.25})" %></p>
			<div class="description" id="event_<%= event.id %>_description" style="display: none;"><%= sanitize textilize(event.description) %></div>
		<% end -%>
	</td>
	
	<td>
		<%- if event.capacity && event.capacity > 0 -%>
			<div class="signup-meter <%= "full" if event.full? %>">
				<div class="capacity" 
					 style="width: 100%;"
					 title="<%= number_to_percentage event.percent_full, :precision => 0 %> full">

					<div class="size" style="width: <%= event.percent_full %>%">
						<%= event.full? ? content_tag(:span, "full", :class => "full_label") : "&nbsp;" %>
					</div>					
				</div>
			</div>
			<div class="signup-numbers">
				<%= content_tag :span, event.attendees.rsvpd.size %>
				of
				<%= content_tag :span, event.capacity %>
			</div>
		<% end %>
	</td>
	
	<td>
		<%= render :partial => 'rsvp_button', :locals => { :event => event } %>
	</td>
</tr>