<%- event_attendance = @event_attendance || @current_user.person.event_attendances.find_or_initialize_by_event_id(event.id) rescue nil -%>
<%- event_audience = @audience || event_attendance.audience rescue nil -%>
<tr id="event_<%= event.id %>" class="<%= @current_user.try(:person).try(:attending?, event) ? "attending" : "not_attending" %>">
	<td class="map">
		<%= link_to image_tag( "https://maps.google.com/maps/api/staticmap?size=120x120&sensor=false&zoom=10&markers=#{event.location.try(:latitude)}%2C#{event.location.try(:longitude)}"), event_rsvp_path(event) if (event.location && event.location.try(:geocoded?)) rescue nil %>
	</td>
	<td class="event-details">
		<h2 class="event name"><%= link_to_unless_current h(event.name), event_rsvp_path(event, audience: event_audience) %></h2>
		<p class="date"><%= event.time_detail(audience: event_audience) %>
			<%= content_tag(:span, "Time TBA", class: 'outline tag') if event.time_tba? %></p>
		<p class="location"><%=h event.location_string %></p>
		
		<%= render partial: 'rsvp/shifts', 
					locals: { event: event, event_attendance: event_attendance } %>
	</td>
	
	<td class="event-capacity">
		<%- if event.capacity(event_audience) && event.capacity(event_audience) > 0 -%>
			<div class="signup-meter <%= "full" if event.full?(event_audience) %>">
				<div class="capacity" 
					 style="width: 100%;"
					 title="<%= number_to_percentage event.percent_full(event_audience), precision: 0 %> full">

					<div class="size" style="width: <%= event.percent_full(event_audience) %>%">
						<%= raw event.full?(event_audience) ? content_tag(:span, "full", class: "full_label") : "&nbsp;" %>
					</div>					
				</div>
			</div>
			<div class="signup-numbers">
				<%= content_tag :span, event.attendees.rsvpd(event_audience).size %>
				of
				<%= content_tag :span, event.capacity(event_audience) %>
			</div>
		<% end %>
	</td>
	
	<td class="event-functions">
		<%= render partial: 'rsvp/rsvp_button', locals: { event: event, event_attendance: event_attendance, audience: event_audience } %>
		<em class="rsvp_status"><%= "Attending" if event_attendance.try(:rsvp?) %></em>
	</td>
</tr>
