<h3 class="pre-title">RSVP for</h3>
<h1><%=h @event_group.name %></h1>
<p><%= sanitize textilize(@event_group.description), :tags => %w(table tr td h2 p a ul li strong em), :attributes => %w(id class style href) %></p>

<%= render :partial => 'training_required_note', :locals => { :event_or_group => @event_group } %>

<table class="highlightless rsvp">
	<%= render :partial => 'event', :collection => @event_group.events.future %>
	
	<%- if @event_group.events.future.empty? -%>
	<tr class="empty">
		<td colspan=10>There aren't any events available for RSVP right now.</td>
	</tr>
	<% end -%>
	
</table>

<%= render :partial => 'sidebar' %>
