<%- event_audience = @audience || @current_user.try(:person) -%>
<h3 class="pre-title">RSVP for</h3>
<h1><%=h @event.name %></h1>

<h2 class="date"><%= @event.time_detail(audience: event_audience) %></h2>


<div class="when-and-where">
	<h3>When &amp; Where</h3>
	<%= image_tag "https://maps.google.com/maps/api/staticmap?size=250x250&sensor=false&zoom=12&markers=#{@event.location.try(:latitude)}%2C#{@event.location.try(:longitude)}" if @event.location.try(:geocoded?) rescue nil %>
	
	<%- if @event.location -%>
		<p class="location"><strong><%= @event.location.name %></strong></p>
		<p class="address"><%= @event.location.address %></p>
	<% end -%>
	<p class="location_text"><%= @event.location_text %></p>
	<p class="time"><%= @event.time_detail(audience: event_audience) %>
		<%= content_tag(:p, content_tag(:span, "Time TBA", class: 'outline tag')) if @event.time_tba? %></p>
</div>

<div class="details">
	<dl class="inline-definitions">

		<dt>Date &amp; Time</dt>
		<dd class="date">
			<%= @event.time_detail(audience: event_audience) %>
			<%= content_tag(:span, "Time TBA", class: 'outline tag') if @event.time_tba? %>
			
			<%- if @event.time_is_audience_specific?(event_audience) -%>
				<br><small class="light">
					Note: This is the time for <%= (@audience || @current_user.try(:person).try(:class)).to_s.downcase.pluralize %>.
					The event time is listed publicly as <%= @event.time_detail %>.
				</small>
			<% end -%>
			
		</dd>

		<dt>Location</dt>
		<dd class="location"><%=h @event.location_string %></dd>

		<%- unless @event.description(event_audience).blank? -%>
			<dt>About</dt>
			<dd class="description">
				<%= sanitize RedCloth.new(@event.description(event_audience), [:lite_mode]).to_html %>
			</dd>
		<% end -%>

		<%- if @event.event_group && !@event.event_group.description(event_audience).blank? -%>
			<dt>More Info</dt>
			<dd class="event_group description"><%= sanitize RedCloth.new(@event.event_group.description(event_audience), [:lite_mode]).to_html %></dd>
		<% end -%>
	
		<%- if @event.event_coordinator -%>
			<dt>Coordinator</dt>
			<dd class="coordinator">
				<%=h @event.event_coordinator.fullname %>
				<br />
				<%= auto_link h(@event.event_coordinator.email) %>
				</dd>
		<% end -%>
	
		<%- if @event_attendance -%>
			<dt>Your RSVP</dt>
			<dd>
				<%- if @event_attendance.rsvp.nil? -%>
					<em class="rsvp_status no_response">No Response</em>
				<%- elsif @event_attendance.rsvp? -%>
					<em class="rsvp_status attending">Attending</em>
				<%- else -%>
					<em class="rsvp_status not_attending">Not Attending</em>
				<% end -%>
			</dd>
		<% end -%>
	
	</dl>

</div>

<%= render partial: 'training_required_note', locals: { event_or_group: @event } %>

<table class="highlightless rsvp">
	<%= render partial: 'event', object: @event %>
</table>

<%= render partial: 'sidebar' %>
