<h3 class="pre-title">RSVP for</h3>
<h1><%=h @event_group.name %></h1>

<%- for proxy in @event_group.proxies.slave -%>
	<h3 class="proxyable">Coordinated by <%= proxy.other_customer.name %></h3>
<% end %>

<p><%= sanitize textilize(@event_group.description(@current_user.try(:person) || @audience)), tags: %w(table tr td h2 p a ul li strong em), attributes: %w(id class style href) %></p>

<%= render partial: 'training_required_note', locals: { event_or_group: @event_group } %>

<table class="highlightless rsvp">
	<%= render partial: 'event', collection: @event_group.future_events(@audience || @current_user.try(:person)) %>
	
	<%- if @event_group.future_events(@audience || @current_user.try(:person)).empty? -%>
	<tr class="empty">
		<td colspan=10>There aren't any events available for RSVP right now.</td>
	</tr>
	<% end -%>
	
</table>

<%= render partial: 'sidebar' %>
