<h3 class="pre-title">RSVP for</h3>
<h1><%=h @event.name %></h1>
<h2 class="date"><%= @event.time_detail %></h2>

<div class="when-and-where">
	<h3>When &amp; Where</h3>
	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=250x250&sensor=false&zoom=12&markers=#{@event.location.try(:latitude)}%2C#{@event.location.try(:longitude)}" if @event.location.try(:geocoded?) %>
	
	<%- if @event.location -%>
		<p class="location"><strong><%= @event.location.name %></strong></p>
		<p class="address"><%= @event.location.address %></p>
	<% end -%>
	<p class="location_text"><%= @event.location_text %></p>
	<p class="time"><%= @event.time_detail %></p>
</div>

<div class="details">
	<dl class="inline-definitions">

		<dt>Date &amp; Time</dt>
		<dd class="date"><%= @event.time_detail %></dd>

		<dt>Location</dt>
		<dd class="location"><%=h @event.location_string %></dd>

		<%- unless @event.description.blank? -%>
			<dt>About the Event</dt>
			<dd class="description">
				<%= sanitize textilize_without_paragraph(@event.description) %>
				
				<%- if @event.event_group && !@event.event_group.description.blank? -%>
					<h5>About <%=h @event.event_group.name %></h5>
					<p class="event_group description"><%= sanitize textilize_without_paragraph(@event.event_group.description) %></p>
				<% end -%>
				
			</dd>
		<% end -%>

	
		<%- if @event.event_coordinator -%>
			<dt>Event Coordinator</dt>
			<dd class="coordinator">
				<%=h @event.event_coordinator.fullname %>
				<br />
				<%= auto_link h(@event.event_coordinator.email) %>
				</dd>
		<% end -%>
	
		<%- if @event_attendance -%>
			<dt>Your RSVP</dt>
			<dd>
				<%- if @event_attendance.rsvp.nil? -%>
					<em class="rsvp_status no_response">No Response</em>
				<%- elsif @event_attendance.rsvp? -%>
					<em class="rsvp_status attending">Attending</em>
				<%- else -%>
					<em class="rsvp_status not_attending">Not Attending</em>
				<% end -%>
			</dd>
		<% end -%>
	
	</dl>

</div>

<%= render :partial => 'training_required_note', :locals => { :event_or_group => @event } %>

<table class="highlightless rsvp">
	<%= render :partial => 'event', :object => @event %>
</table>

<%= render :partial => 'sidebar' %>
