<%= f.inputs :name => "Name and Program" do -%>
	<%= f.inputs :name, :parent_customer, :program %>
	<%= f.input :url_shortcut, :label => "URL Shortcut" %>
<% end %>

<%= f.inputs :name => "Settings" do -%>
	<%= f.input :term_system, :collection => %w(Quarters) %>
	<%= f.input :link_to_uw, :label => "Link to University of Washington systems" %>
	<%= f.input :require_background_checks, :label => "Require background checks for mentors" %>
	<%= f.input :require_parental_consent_for_minors, :label => "Require parental consent for minors" %>
	<%= f.input :experimental, :label => "Enable experimental features" %>
	<%= f.input :background_check_validity_length, :label => "Background Checks valid for:", :as => :select, :collection => {"90 Days" =>90, "180 Days" => 180, "1 Year" => 365, "2 Years" => 730, "Forever" => -1} %>
	<%= f.input :driver_training_validity_length, :label => "Driver Trainings valid for:", :as => :select, :collection => {"90 Days" =>90, "180 Days" => 180, "1 Year" => 365, "2 Years" => 730, "Forever" => -1} %>
<% end %>

<%= f.inputs :name => "Allowed Login Methods" do -%>
	<%- for provider in Customer::OMNIAUTH_PROVIDERS -%>
		<li class="boolean input optional" id="customer_allowable_login_methods_<%= provider %>_input">
			<%= hidden_field_tag "customer[allowable_login_methods][#{provider}]", false, :id => "" %>
			<label for="customer_allowable_login_methods_<%= provider %>"><%= provider.titleize %>
				<%= check_box_tag "customer[allowable_login_methods][#{provider}]", 
								true, f.object.allowable_login_method?(provider),
								:name => "customer[allowable_login_methods][#{provider}]", 
								:id => "customer_allowable_login_methods_#{provider}"
								%>
			</label>
		</li>
	<% end %>
<% end %>

<%= f.inputs :name => "Custom Labels and Content" do -%>
	<p>Enter each label as a single, lower-cased word.</p>
	<%= f.inputs :name => "Labels", :class => "inline" do %>
		<%= f.inputs :mentor_label, :lead_label, :participant_label, :mentee_label, :workbook_label, :intake_survey_label, :visit_label, :not_target_label %>
	<% end %>
	
	<%= f.input :risk_form_content, :input_html => { :rows => 5 }, :hint => "Mentors must consent to this statement before using the system. Use Textile for formatting. Leave this blank if mentors don't need to sign anything before gaining access.", :label => "Mentor consent" %>
	<%= f.input :conduct_form_content, :input_html => { :rows => 5 }, :hint => "Mentors must agree to this statement before using the system. Allowed HTML tags: [p, br, fieldset, input, label, h2, ol, li]. Leave this blank if mentors don't need to sign anything before gaining access.", :label => "Conduct Agreement" %>
    <%= f.input :driver_form_content, :input_html => { :rows => 5 }, :hint => "Mentors must agree to this statement before being marked as valid drivers. Allowed HTML tags: [p, br, fieldset, input, label, h2, ol, li]. Leave this blank if mentors don't need to sign anything before driving.", :label => "Driver Agreement" %>
    <%= f.input :send_driver_form_emails, :hint => "If marked, an email with a link to the Driver Form will be sent to a mentor after they have been marked as a driver" %>
    <%= f.input :college_application_choice_options, :input_html => { :rows => 5 }, :hint => "Specify the options you want to allow for college application choices. Enter one entry per line. By default, the options are 'Reach', 'Solid', and 'Safety.'" %>
    <%= f.input :paperwork_status_options, :input_html => { :rows => 5 }, :hint => "Specify the options you want to allow for paperwork status choices. Enter one entry per line. By default, the options are 'Not Started', 'In Progress', and 'Complete.'" %>
    <%= f.input :visit_attendance_options, :input_html => { :rows => 5 }, :hint => "Specify the options you want to allow for visit attendance. Enter one entry per line. If nothing is specified here, 'Attended' will appear only as a single checkbox." %>
	
	<%= f.inputs :name => "Activity Log Time Categories", :class => "inline" do %>
		<%= f.input :activity_log_student_time_categories, :input_html => { :rows => 10}, :label => "Student Time" %>
		<%= f.input :activity_log_non_student_time_categories, :input_html => { :rows => 10}, :label => "Non-Student Time" %>
	<% end %>
	
	<%= f.input :display_nicknames_by_default, :hint => "By default, formal names are used. Check this box to default to using peoples' nicknames instead." %>
	
	<%= f.input :stylesheet_url, :label => "Custom Stylesheet URL", :hint => "Specify a custom CSS stylesheet to be applied to certain areas of your DreamSIS installation, such as the login page. HTTPS addresses are required." %>
<% end %>

<%= f.inputs :name => "National Student Clearinghouse Integration" do -%>
	<p>If you have a contract with the National Student Clearinghouse, enter your account information here and 
		DreamSIS can perform automatic queries about your participants.</p>
		<%= f.input :clearinghouse_customer_number, 
					:label => "Customer/School Number", 
					:hint => "Your customer number (or account number) should be six digits. If your customer number starts with a zero,
                             DreamSIS will automatically add the leading zeros. Higher education institution accounts should use their
							 school code.",
					:input_html => { :size => 6 } %>
		<%= f.input :clearinghouse_customer_name, :label => "Customer Name",
			 		:hint => "In most cases, this is the same as your organization name, but if your NSC account is setup under a
							  different name, enter it here." %>
		<%= f.input :clearinghouse_entity_type, :label => "Entity Type", :collection => { "S - Direct-service Organization" => "S", "I - Higher-education Institution" => "I" } %>
		<%= f.input :clearinghouse_contract_start_date, 
					:label => "Contract Start Date", 
					:hint => "Enter the start date of the current contract. You'll need to update this 
								date each time you sign a new contract with NSC (usually once per year)." %>
		<%= f.input :clearinghouse_number_of_submissions_allowed, 
					:label => "Submission Limit", 
					:hint => "Enter the number of submissions allowed under the current contract. If you're not sure, enter 10.", 
					:input_html => { :size => 3 } %>
	
<% end %>
