<h1>Customers</h1>

<table>
  <tr>
	<th>URL</th>
    <th>Name</th>
    <th>Program</th>
	<th colspan=3></th>
  </tr>

<% for customer in @customers %>
  <tr>
	<td><code><%= link_to customer.url_shortcut, root_url(:subdomain => customer.url_shortcut) %></code></td>
    <td class="name"><%= link_to customer.name, customer %></td>
    <td><%= link_to customer.program.try(:abbreviation), customer.program if customer.program %></td>
    <td class="functions"><%= link_to 'Show', customer %></td>
    <td class="functions"><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td class="functions"><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= content_for(:sidebar) do %>
	<%= link_to 'New customer', new_customer_path, :class => "add button" %>
<%- end -%>
