<h1>New customer</h1>

<%= semantic_form_for @customer do |f| %>

	<%= f.semantic_errors %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<span class="separator">&mdash; or &mdash;</span>
	<%= link_to 'Cancel', customers_path %>

<% end %>
