<%= content_tag :span, "Experimental", :class => 'orange tag right' if @customer.experimental? %>
<h1><%= @customer.name %></h1>

<dl class="inline-definitions">

	<dt>Web Address</dt>
	<dd><code><%= link_to root_url(:subdomain => @customer.url_shortcut), root_url(:subdomain => @customer.url_shortcut) %></code></dd>

	<dt>Program</dt>
	<dd><%= link_to h(@customer.program.try(:title)), @customer.program %></dd>
	
	<dt>Term System</dt>
	<dd><%=h @customer.term_system.blank? ? content_tag(:em, "Not specified", :class => 'light') : @customer.term_system %>
		<%= @customer.link_to_uw? ? "(linked to UW)" : "" %>
		</dd>

	<dt>Requirements</dt>
	<dd><%= @customer.require_background_checks? ? "Background checks<br>".html_safe : "Background Checks (valid for "+@customer.helper_background_check_validity_length?+"), "%>
		<%= @customer.require_driver_form? ? "Driver Validity<br>".html_safe : "Driver Trainings (valid for "+@customer.helper_driver_training_validity_length?+"), "  %>
		<%= @customer.require_risk_form? ? "Mentor consent<br>".html_safe : "Mentor Consent, " %>
		<%= @customer.require_conduct_form? ? "Mentor conduct<br>".html_safe : "Mentor Conduct" %>

		</dd>

	<dt>Login Methods</dt>
	<dd>
		<%= content_tag :a, raw("<span>&nbsp;</span>UW NetID"), :class => "uwnetid login-link" if @customer.allowable_login_method?(:shibboleth) %>
		<%= content_tag :a, raw("<span>&nbsp;</span>Google"), :class => "google login-link" if @customer.allowable_login_method?(:google_oauth2) %>
		<%= content_tag :a, raw("<span>&nbsp;</span>Facebook"), :class => "facebook login-link" if @customer.allowable_login_method?(:facebook) %>
		<%= content_tag :a, raw("<span>&nbsp;</span>Twitter"), :class => "twitter login-link" if @customer.allowable_login_method?(:twitter) %>
		<%= content_tag :a, raw("<span>&nbsp;</span>Live"), :class => "windowslive login-link" if @customer.allowable_login_method?(:windowslive) %>
		<%= content_tag :a, raw("<span>&nbsp;</span>LinkedIn"), :class => "linkedin login-link" if @customer.allowable_login_method?(:linkedin) %>
		</dd>

	<dt>Labels</dt>
	<dd>
		<dl>
		<%- for label_name in Customer::DEFAULT_LABEL.keys.collect(&:to_s) -%>
			<%- unless @customer.read_attribute("#{label_name}_label").blank? -%>
				<dt><%= label_name.titleize %></dt>
				<dd><%=h @customer.customer_label(label_name, :titleize => true) %></dd>
			<% end %>
		<% end %>
        
            <dt>Choice Options</dt>
            <dd><%=h Customer.college_application_choice_options_array.join(", ") %></dd>
            
			<dt>Visit Attendance</dt>
			<dd><%=h Customer.visit_attendance_options_array.join(", ") %></dd>
		</dl>
	</dd>
	
	<dt>Activity Logs</dt>
	<dd>
		<dl>
            <dt>Student Time</dt>
            <dd><%=h Customer.activity_log_student_time_categories_array.join(", ") %></dd>

            <dt>Non-Student Time</dt>
            <dd><%=h Customer.activity_log_non_student_time_categories_array.join(", ") %></dd>
         </dl>
	</dd>

	<dt>NSC Customer ID</dt>
	<dd><%=h @customer.clearinghouse_customer_number %></dd>

</dl>

<div id="sidebar">
	<h3>Web Address</h3>
	<p><%= @customer.name %> users should use this custom web address when logging in:</p>
	<strong>
		<%= link_to root_url(:subdomain => @customer.url_shortcut).gsub(/(http|https)\:\/\//, ""), root_url(:subdomain => @customer.url_shortcut), :class => "url button" %>
	</strong>

	<p><%= link_to 'Edit these settings', edit_customer_path(@customer), :class => "edit button" %></p>
	
	<%- if request.subdomain == 'admin' -%>
		<p><%= link_to 'Back to customers', customers_path, :class => "back button" %></p>
	<% end %>
	
</div>
