<%= content_tag :span, "Experimental", :class => 'orange tag right' if @customer.experimental? %>
<h1><%= @customer.name %></h1>

<dl class="inline-definitions">

	<dt>Name</dt>
	<dd><%=h @customer.name %>
		<%= content_tag :span, "(URL shortcut: #{h(@customer.url_shortcut)})", :class => 'light' unless @customer.url_shortcut.blank? %></dd>

	<dt>Program</dt>
	<dd><%= link_to h(@customer.program.try(:title)), @customer.program %></dd>
	
	<dt>Term System</dt>
	<dd><%=h @customer.term_system.blank? ? content_tag(:em, "Not specified", :class => 'light') : @customer.term_system %>
		<%= @customer.link_to_uw? ? "(linked to UW)" : "" %>
		</dd>

	<dt>Requirements</dt>
	<dd><%= @customer.require_background_checks? ? "Background checks<br>" : "" %>
		<%= @customer.require_risk_form? ? "Mentor consent<br>" : "" %>
		</dd>

	<dt>Login Methods</dt>
	<dd>
		<%= content_tag :a, "<span>&nbsp;</span>UW NetID", :class => "uwnetid login-link" if @customer.allowable_login_method?(:shibboleth) %>
		<%= content_tag :a, "<span>&nbsp;</span>Google", :class => "google login-link" if @customer.allowable_login_method?(:google_oauth2) %>
		<%= content_tag :a, "<span>&nbsp;</span>Facebook", :class => "facebook login-link" if @customer.allowable_login_method?(:facebook) %>
		<%= content_tag :a, "<span>&nbsp;</span>Twitter", :class => "twitter login-link" if @customer.allowable_login_method?(:twitter) %>
		<%= content_tag :a, "<span>&nbsp;</span>Live", :class => "windowslive login-link" if @customer.allowable_login_method?(:windowslive) %>
		<%= content_tag :a, "<span>&nbsp;</span>LinkedIn", :class => "linkedin login-link" if @customer.allowable_login_method?(:linkedin) %>
		</dd>

	<dt>Labels</dt>
	<dd>
		<dl>
		<%- for label_name in Customer::DEFAULT_LABEL.keys.collect(&:to_s) -%>
			<%- unless @customer.read_attribute("#{label_name}_label").blank? -%>
				<dt><%= label_name.titleize %></dt>
				<dd><%=h @customer.customer_label(label_name, :titleize => true) %></dd>
			<% end %>
		<% end %>
        
            <dt>Choice Options</dt>
            <dd><%=h Customer.college_application_choice_options_array.join(", ") %></dd>
            
		</dl>
	</dd>
	
	<dt>Activity Logs</dt>
	<dd>
		<dl>
            <dt>Student Time</dt>
            <dd><%=h Customer.activity_log_student_time_categories_array.join(", ") %></dd>

            <dt>Non-Student Time</dt>
            <dd><%=h Customer.activity_log_non_student_time_categories_array.join(", ") %></dd>
         </dl>
	</dd>

	<dt>NSC Customer ID</dt>
	<dd><%=h @customer.clearinghouse_customer_number %></dd>

</dl>

<div id="sidebar">
	<p><%= link_to 'Edit this customer', edit_customer_path(@customer), :class => "edit button" %></p>
	<p><%= link_to 'Back to customers', customers_path, :class => "back button" %></p>
</div>