<h2>Assign to <%= Customer.mentor_Label %></h2>
<p>Assign <%= raw(@participants.collect{ |p| link_to p.fullname, p }.to_sentence) %> to the following <%= Customer.mentor_label %>:</p>

<div style="position:relative">
	<%= form_for :participant, :url => participant_bulk_action_path(:process_assign_mentor), :remote => true do |f| %>
	
		<input type="input" class="search autocomplete-search wide" placeholder="Lookup <%= Customer.mentor_label %>" data-source="<%= auto_complete_for_mentor_fullname_mentors_url %>" data-update-with-id="mentor_id" />		
	
		<%= hidden_field_tag "mentor_id" %>
		
		<%- for id in @participants.collect(&:id) -%>
			<%= hidden_field_tag "participant_ids[]", id, :multiple => true %>
		<% end %>
	
		<p>
			<%= f.submit "Assign #{Customer.mentor_label}", :disable_with => "Adding..." %>
			<%= separator %>
			<%= link_to_function "Cancel", "$(this).parents('.centered-modal').remove()", :class => "cancel button" %>
		</p>
		
	<% end -%>
</div>