<h2><%= @mentor.display_name %></h2>
<% prev = @mentor.driver_form_offense_response %>
<p><strong>Prev. Convictions:</strong> <%= prev ? sanitize(prev) : "No Response" %></p>
<hr />
<%= semantic_form_for @mentor, :url => driver_update_mentor_path(@mentor.id), :html => {:id => 'driver-edit-form'} do |f| %>
    <%= f.inputs :name => "Driver Information" do -%>
        <%= f.input :van_driver_training_completed_at, :hint => link_to_now("mentor_van_driver_training_completed_at") %>
        <%= f.input :driver_form_remarks,
                    :hint => "Enter #{link_to_function('OK',
                                                      "$('#mentor_driver_form_remarks').val('OK  [#{@current_user.login}]')")}
								(include an explanation if necessary) if the mentor is qualified to drive.".html_safe %>
        <%= f.input :driver_license_on_file %>
    <%- end -%>
    <hr />
    <%= hidden_field_tag 'm_id', @mentor.id %>
    <%= f.actions do -%>
        <%= f.submit %>
        <%= link_to "Cancel", "javascript:clearForm()", :class => 'cancel button' %>
    <% end -%>
<% end %>
<script>registerForm(<%= @mentor.id %>)</script>
