			<tr id="mentor-<%= mentor_onboarding.id %>" class="<%= 'bright-red-background' if !mentor_onboarding.passed_basics?%>" onClick="loadForm(<%= mentor_onboarding.id %>)">
				<td class="name"><%= link_to h(mentor_onboarding.fullname), mentor_onboarding %>
				<p><%= h(mentor_onboarding.current_mentor_term_groups.collect{|mt| (l = mt.mentor_term_group.location) ? " * #{l.name}" : "" }.join) %></p>
				</td>
				<td><%=h mentor_onboarding.email %></td>
				<td class="centered"><%=h mentor_onboarding.sex %></td>
				<td><%=h mentor_onboarding.birthdate.to_s %></td>
				<td class="centered"><%= mentor_onboarding.has_aliases? ? content_tag(:span, "Y", :class => 'red tag') : "-" %></td>
				<td class="centered"><%= mentor_onboarding.signed_risk_form? ? content_tag(:span, "Y", :class => 'approved tag') : "-" %></td>
				<td class="centered">
					<%- if mentor_onboarding.background_check_result.blank? -%>
						<% if mentor_onboarding.has_background_check_form_responses? || mentor_onboarding.has_aliases? %>
							<%= link_to("Check form responses", background_check_form_responses_mentor_path(mentor_onboarding), :target => "_blank") %>
						<%- elsif mentor_onboarding.background_check_authorized -%>
							<%= content_tag(:span, "P", :class => 'tag') %>
							<%- if append_block && @background_check_textblocks.count < 10
								fname = mentor_onboarding.try(:firstname).split()
								@background_check_textblocks << [fname[0].to_s.gsub("-",""), fname[1].to_s.gsub("-",""), mentor_onboarding.try(:lastname), mentor_onboarding.try(:sex), mentor_onboarding.try(:birthdate).try(:to_s, :short_date)].join("|")
							end -%>
						<%- else -%>
							-
						<%- end -%>
					<%- elsif mentor_onboarding.passed_background_check? -%>
						<%= content_tag(:span, "Y", :class => 'approved tag') %>
					<%- else -%>
						<%= content_tag(:span, "N", :class => 'red tag') %>
					<% end -%>
				</td>
				<td class="centered">
					<% if mentor_onboarding.sex_offender_check_result.blank? %>
						<%- if mentor_onboarding.background_check_authorized -%>
							<%= content_tag(:span, "P", :class => 'tag') %>
							<% if append_block && @so_block_count <= 5
								fname = mentor_onboarding.try(:firstname).split()
								(0..fname.count-1).each do |i|
									@so_check_textblocks << [fname[0..i].join(" "), mentor_onboarding.try(:lastname)].join("|") 
									@so_block_count = @so_block_count + 1
								end
								aliases = mentor_onboarding.try(:aliases)
								if aliases && !aliases.try(:first).blank?
									aliases.lines.each do |line|
										names =  line.split(" ")
										last = names[names.count - 1]
										if names.count > 1
											(0..names.count-2).each do |i|
												@so_check_textblocks << [names[0..i].join(" "), last].join("|")
												@so_block_count = @so_block_count + 1
											end
										else
											@so_check_textblocks << names.first
										end
									end
								end
							end %>
						<%- else -%>
			        -
						<%- end -%>
					<% elsif mentor_onboarding.passed_sex_offender_check? %>
						<%= content_tag(:span, "Y", :class => 'approved tag') %>
					<% else %>
						<%= content_tag(:span, "N", :class => 'red tag') %>
					<% end %>
				</td>
				<td class="centered"><%= mentor_onboarding.attended_mentor_workshop? ? content_tag(:span, "Y", :class => 'approved tag') : "-" %></td>
			</tr>
