<tr class="mentor-row<%= ' bright-red-background' if !mentor_driver.valid_van_driver?%>" data-needs-update="<%= mentor_driver.uwfs_training_date.nil? %>" data-mentor-id="<%= mentor_driver.id %>">
	<td class="name"><%= link_to h(mentor_driver.fullname), mentor_driver %></td>
	<td><%= auto_link h(mentor_driver.email) %></td>
	<td><%= number_to_phone mentor_driver.phone_mobile %></td>
	<td>
		<%- date_class = (mentor_driver.van_driver_training_expired? ? "error-message" : nil) -%>
		<%= content_tag(:span, (mentor_driver.van_driver_training_completed_at.to_s(:short_date) rescue nil), class: date_class) %>
	</td>
	<%- if Customer.link_to_uw? %>
		<td class="uwfs-date">
			<%- if d = mentor_driver.uwfs_training_date -%>
				<%= d.to_s(:short_date) %>
			<%- else -%>
				<%= content_tag :span, "Not Trained", class: "error-message" %>
			<%- end -%>
		</td>
	<% end -%>
	<td class="centered">
	<%- if mentor_driver.driver_form_signature -%>
		<%= content_tag(:span, "Y", class: 'approved tag') %>
	<%- else -%>
		<%= content_tag(:span, "N", class: 'red tag') %>
	<%- end -%>
	</td>
	<td class="centered">
		<%- if mentor_driver.has_previous_driving_convictions -%>
			<%= content_tag(:span, "Y", class: 'red tag') %>
		<%- else -%>
			-
		<%- end -%>
	</td>
	<td class="functions"><%= link_to 'Details', mentor_driver %></td>
	<td class="functions"><%= link_to 'Edit', edit_mentor_path(mentor_driver) %></td>
</tr>
