<h2><%= @mentor.display_name %></h2>
<% prev = @mentor.previous_residence_jurisdictions %>
<p><strong>Prev. Lived In:</strong> <%= prev ? sanitize(prev) : "No Response" %></p>
<% soblock = []
   fname = @mentor.try(:firstname).split()
   (0..fname.count-1).each do |i|
     soblock << [fname[0..i].join(" "), @mentor.try(:lastname)].join("|")
   end
   aliases = @mentor.try(:aliases)
   if aliases && !aliases.try(:first).blank?
     aliases.lines.each do |line|
       names =  line.split(" ")
       last = names[names.count - 1]
       if names.count > 1
         (0..names.count-2).each do |i|
           soblock << [names[0..i].join(" "), last].join("|")
         end
       else
         soblock << names.first
       end
     end
   end
   bgblock = []
   bgblock << [fname[0].to_s.gsub("-",""), fname[1].to_s.gsub("-",""), @mentor.try(:lastname), @mentor.try(:sex), @mentor.try(:birthdate).try(:to_s, :short_date)].join("|")
%>
<h3>WATCH Check Block</h3>
<textarea onClick="this.select()"><%=h bgblock.join("\n") %></textarea>
<h3>SO Check Block</h3>
<textarea onClick="this.select()"><%=h soblock.join("\n") %></textarea>
<hr />
<%= semantic_form_for @mentor, :url => onboarding_update_mentor_path(@mentor.id), :html => {:id => 'onboarding-form'} do |f| %>
<%= f.inputs :name => "Criminal Background Check" do -%>
  <%= f.input :background_check_run_at, :hint => link_to_now("mentor_background_check_run_at") %>
	<%= f.input :background_check_result, 
					:hint => "Enter #{link_to_function('NO RECORD FOUND',
									"$('#mentor_background_check_result').val('NO RECORD FOUND [#{@current_user.login}]')")}
								or #{link_to_function('OK', 
									"$('#mentor_background_check_result').val('OK  [#{@current_user.login}]')")}
								(include an explanation) if the mentor passed the check.".html_safe %>
<%- end -%>								
	<hr />
<%= f.inputs :name => "Sex Offender Check" do -%>
  <%= f.input :sex_offender_check_run_at, :hint => link_to_now("mentor_sex_offender_check_run_at") %>
	<%= f.input :sex_offender_check_result,
					:hint => "Enter #{link_to_function('NO RECORD FOUND',
									"$('#mentor_sex_offender_check_result').val('NO RECORD FOUND [#{@current_user.login}]')")}
								or #{link_to_function('OK',
									"$('#mentor_sex_offender_check_result').val('OK  [#{@current_user.login}]')")}
								(include an explanation) if the mentor passed the check.".html_safe %>
<%- end -%>
  <%= hidden_field_tag 'm_id', @mentor.id %>
	<%= f.actions do -%>
		<%= f.submit %>
		<%= link_to "Cancel", "javascript:clearForm()", :class => 'cancel button' %>
	<% end -%>
<% end %>
<script>registerForm(<%= @mentor.id %>)</script>
