<%- @rsvp_counts = [0]; @attended_counts = [0]; -%>

<h3 class="pre-title"><%= @term.title %></h3>
<h1><%= Customer.mentor_Label %> Event Status</h1>

<table id="event_status">
	
	<thead>
		<tr>
			<th>Name</th>
			<th>E-mail</th>
			<th>Group(s)</th>
			<th class="centered">RSVP'd</th>
			<th class="centered">Attended</th>
			<th>Events</th>
		</tr>
	</thead>
	
	<tbody>
		<%- for mentor in @mentors -%>
		<%- event_attendances = mentor.event_attendances_for_term(@term)
			rsvp_count = event_attendances.select(&:rsvp?).size
			attended_count = event_attendances.select(&:attended?).size
			@rsvp_counts << rsvp_count
			@attended_counts << attended_count
			if Customer.link_to_uw?
				enrollment_status = mentor.enrollment_status_for_term(Term.find(params[:term_id]))
				is_not_enrolled = enrollment_status.include? "Not"
				is_enrolled = (enrollment_status.include? "Enrolled") && !is_not_enrolled
				
			end
			
			 -%>
			<tr data-rsvp-count="<%= rsvp_count %>" data-attended-count="<%= attended_count %>"<%= (' data-enrolled="' + (is_enrolled ? "1" : "0") + '"').html_safe if Customer.link_to_uw? %>>
				<td><%= content_tag :span, enrollment_status, class: "#{is_enrolled ? "green" : "red"} tag" if Customer.link_to_uw? && (is_enrolled || is_not_enrolled) %>
				    <%= link_to h(mentor.fullname), mentor %></td>
				<td class="email"><%= auto_link h(mentor.email) %></td>
				<td></td>
				<td class="centered"><%= rsvp_count %></td>
				<td class="centered"><%= attended_count %></td>
				<td><%= event_attendances.collect{|ea| link_to(ea.name_with_shift_title, ea.event)}.join("<br>").html_safe %></td>
			</tr>
		<% end -%>
	</tbody>
</table>

<div id="sidebar">
	<h3>Filters</h3>
	
	<p>Show <%= Customer.mentors_label %> who RSVP'd for fewer than <span id="current_rsvp_limit"><%= @rsvp_counts.max+2 %></span> event(s):
		<br>
		<input type="range" id="rsvp_limit" min="0" max="<%= @rsvp_counts.max+2 %>" value="<%= @rsvp_counts.max+2 %>" class="update_status_rows_on_change">
		<br>
		<a href="mailto:nil" id="rsvp_email_link" class="email button" style="display:none">Email these <%= Customer.mentors_label %></a>
	</p>

	<p>Show <%= Customer.mentors_label %> who attended fewer than <span id="current_attended_limit"><%= @attended_counts.max+2 %></span> event(s):
		<br>
		<input type="range" id="attended_limit" min="0" max="<%= @attended_counts.max+2 %>" value="<%= @attended_counts.max+2 %>" class="update_status_rows_on_change">
		<br>
		<a href="mailto:nil" id="attended_email_link" class="email button" style="display:none">Email these <%= Customer.mentors_label %></a>
	</p>
	<%- if Customer.link_to_uw? -%>
	<p>
		<%= check_box_tag "only_enrolled", 1, true, class: "update_status_rows_on_change" %> <%= label_tag "include_enrolled", "Show only enrolled mentors"%> <br/>
	<p>
	<%- end -%>
	<%= javascript_tag "$(document).ready(function() { update_event_status_rows(\"load\"); });" %>
</div>
