<%= subheader do %>
	<h1><%= Customer.mentors_Label %></h1>
<% end %>

<%= will_paginate @mentors %>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th><%= Customer.link_to_uw? ? "UW NetID" : "E-mail" %></th>
			<th>Current High School Group</th>
			<th class="functions">Functions</th>
		</tr>
	</thead>

	<tbody id="original_mentors">
		<%= render @mentors %>
	</tbody>
	
	<tbody id="mentor_search_results"></tbody>
</table>

<%= operations do %>
	<%= link_to "Add new", new_mentor_path, class: "btn btn-default", glyph: 'plus' %>
	<%= link_to "Download", { format: :xls }, class: 'btn btn-default', glyph: 'download' %>
<%- end -%>
