<h3 class="pre-title"><%=h @term.title %></h3>
<h1><%= Customer.leads_Label %></h1>

<table>
<% for high_school in @high_schools %>
	<tbody>
		<tr class="rowset-header">
			<th colspan="10"><%=h high_school.name %></th>
		</tr>

		<%- leads = high_school.mentor_term_groups.for(@term).collect{|g| g.mentor_terms.leads}.flatten.collect(&:mentor).flatten -%>
		<%= render :partial => "mentors/mentor", 
					:collection => leads,
					:locals => { :include_image => true } %>
		
		<%- if leads.empty? -%>
			<tr class="empty"><td colspan=10>No <%= Customer.leads_label %> assigned.</td></tr>
		<% end %>
		
	</tbody>
<% end -%>
</table>


<div id="sidebar">
	<p><%= render :partial => "shared/term_select", 
					:locals => { :form_url => leads_mentors_path },
					:object => (@term || Term.current_term || Term.allowing_signups.try(:first) || Term.last) %></p>
</div>