<h1>New <%= Customer.mentor_Label %></h1>

<% semantic_form_for @mentor do |f| %>
	<%= f.error_messages %>
	
	<%= render :partial => 'fields', :locals => { :f => f } %>
	
	<%- f.buttons do -%>
		<%= f.submit %>
		<%= link_to "Cancel", @mentor, :class => 'cancel button' %>
	<% end -%>

<% end %>
