<%= breadcrumbs Customer.current_customer.customer_label((@mentor.class.to_s.underscore || @mentor.class.to_s).pluralize, titleize: true), @mentor %>

<%= operations do %>
  <%= link_to "Edit", [:edit, @mentor], glyph: 'pencil', class: 'btn btn-default' %>

  <%- if !Customer.link_to_uw? && @current_user.admin? && !@mentor.email.blank? -%>
    <%= link_to "Send login link", send_login_link_mentor_path(@mentor),
          method: :put,
          confirm: "Are you sure you want to send a login link email to this user?",
          class: "btn btn-default",
          glyph: 'key'
      %>
  <% end %>
<% end %>


<%= content_for(:tabs) do %>
	<ul class="nav nav-tabs" role="tablist">
		<%= link_to_section_li @mentor, "About", :about, 'about' %>
    <%= link_to_section_li @mentor, "Students", :participants, 'participants' %>
    <%= link_to_section_li @mentor, "Events", :events, 'events' %>
    <%= link_to_section_li @mentor, "Participation History", :mentor_terms, 'mentor_terms' %>
	</ul>
<% end %>

<div class="tab-content">
	
  <div role="tabpanel" class="tab-pane fade active" id="about">
    <%= render "about" %>
  </div>
  
  <div role="tabpanel" class="tab-pane fade" id="participants">
    <div role="placeholder" data-delayed-content-path="participants">
      <%= indicator "center-block", hidden: false %>
    </div>
  </div>
  
  <div role="tabpanel" class="tab-pane fade" id="events">
    <div role="placeholder" data-delayed-content-path="events">
      <%= indicator "center-block", hidden: false %>
    </div>
  </div>
  
  <div role="tabpanel" class="tab-pane fade" id="mentor_terms">
    <div role="placeholder" data-delayed-content-path="participation">
      <%= indicator "center-block", hidden: false %>
    </div>
  </div>
  
</div>
