<div class="content-block">

	<div align="right" style="float:right" class="photo">
		<%= image_tag photo_mentor_path(@mentor, :size => :large), 
				:class => 'student_photo', 
				:size => "100x130", 
				:alt => "" %>
	</div>

	<h3 class="pre-title"><%= Customer.current_customer.customer_label(@mentor.class.to_s.underscore) || @mentor.class.to_s %></h3>
	<h1><%= @mentor.fullname %></h1>

	<dl class="inline-definitions">

		<dt>User Accounts</dt>
		<dd><% if @mentor.users.empty? -%>
				<em class="light">None</em>
			<% else %>
			  	<%= @mentor.users.collect{|u| link_to u.login, user_path(u)}.join(", ") %>
			<% end -%>
			</dd>
		
		<dt>Aliases</dt>
		<dd><%= @mentor.has_aliases? ? h(@mentor.aliases) : content_tag(:em, "None", :class => 'light') %></dd>
			
		<dt>Gender</dt>
		<dd><%= @mentor.sex %></dd>
		
		<dt>Phone</dt>
		<dd><%= number_to_phone @mentor.phone_mobile %></dd>

		<dt>Date of Birth</dt>
		<dd><%= @mentor.birthdate.to_s %></dd>
		
		<%- if @mentor.respond_to?(:valid_van_driver?) -%>
			<dt>Driver Trained?</dt>
			<dd><%- if @mentor.valid_van_driver? -%>
					<span class="success-message">Yes</span> - on <%= @mentor.van_driver_training_completed_at.to_s(:short_date) %>
				<% else %>
				  	<em class="light">No</em>
				<% end -%>
			</dd>
		<% end -%>

	</dl>
	<br class="clear">
</div>

<%- if @participants -%>
	<div class="content-block">
		<h1 class="mentees"><%= Customer.mentees_Label %></h1>
		<%= render :partial => 'mentors/mentees' %>
	</div>
<% end -%>

<div class="content-block">
	<h1 class="events">Events</h1>
	<%= render :partial => 'mentors/events' %>
</div>

<%- if @mentor.respond_to?(:mentor_terms) -%>
	<div class="content-block">
		<h1 class="participation">Participation</h1>
		<%= render :partial => 'mentors/participation' %>
	</div>
<% end -%>

<div id="sidebar">
	
	<p><%= link_to "Back to #{Customer.mentors_label}", mentors_path, :class => "back button" %></p>
	<p><%= link_to "Edit this #{Customer.mentor_label}", edit_mentor_path(@mentor), :class => 'edit button' %></p>
	
	<%- if !Customer.link_to_uw? && @current_user.admin? -%>
	<p class="login_link">
		<%= link_to "Send login link", send_login_link_mentor_path(@mentor), 
					:method => :put, 
					:confirm => "Are you sure you want to send a login link email to this user?", 
					:class => "email button" %>
	</p>
	<% end %>
	
	
	<h3>Contact Info</h3>

	<dl class="sidebar">
		<dt>Email</dt>
		<dd><%= auto_link @mentor.email %></dd>
	</dl>


	<h3>Administrative</h3>

	<dl class="sidebar">
		
		<%- if Customer.require_background_checks? -%>
			<dt>Background Check</dt>
			<dd>
				<% if @mentor.passed_background_check? %>
					Passed on <%= @mentor.background_check_run_at.to_s(:short_date) %>
				<%- else -%>
					<span class="error-message">Not passed</span>
				<% end -%>
				<br /><%= link_to "View responses", background_check_form_responses_mentor_path(@mentor), :class => 'small' %>
			</dd>
		<% end %>

		<%- if Customer.require_risk_form? && @mentor.respond_to?(:signed_risk_form?) -%>
			<dt>Acknowledgment of Risk Form</dt>
			<dd>
				<% if @mentor.signed_risk_form? %>
					Signed on <%= @mentor.risk_form_signed_at.to_s(:short_date) %>
				<%- else -%>
					<span class="error-message">Not signed</span>
				<% end -%>
			</dd>
		<% end -%>

	</dl>
</div>