<h1>Current Valid Trained Drivers</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>E-mail</th>
			<th>Training Date</th>
			<th colspan=4>Functions</th>
		</tr>
	</thead>

	<tbody>
		<%- for mentor in @mentors -%>
			<tr id="mentor_<%= mentor.id %>">
				<td class="name"><%= link_to h(mentor.fullname), mentor %></td>
				<td><%= auto_link h(mentor.email) %></td>
				<td><%= mentor.van_driver_training_completed_at.to_s(:short_date) rescue nil %></td>
				<td class="functions"><%= link_to 'Details', mentor %></td>
				<td class="functions"><%= link_to 'Edit', edit_mentor_path(mentor) %></td>
			</tr>
		<% end -%>
		
		<%- if @mentors.empty? -%>
			<tr class="empty">
				<td colspan=10>No <%= Customer.mentors_label %> are currently trained to drive.</td>
			</tr>
		<% end -%>
	</tbody>
</table>