<h1>Drivers for <%= @page_header_title %></h1>

<table id="current_mentors" <% if @ajax_load %>class="loading"<% end %>>
	<%= render :partial => "van_driver_table" unless @ajax_load %>
</table>

<%- if !params[:group_id] -%>
<div id="sidebar">
	<p><%= render :partial => "shared/term_select",
				:locals => { :form_url => van_drivers_mentors_path },
				:object => @term %></p>
	<%- if @current_user.admin? -%>
		<hr />
		<h3>Update Driver Status</h3>
		<div id="form-container">
			<p>Click a row to begin editing</p>
			<%- if Customer.link_to_uw? -%>
			<p><%= separator %></p>
			<%= link_to "Check UWFS Training for #{@term.is_a?(Quarter) ? @term.title : @term.to_param}", driver_training_status_mentor_url(999), :class => 'sync button', :id => 'check_all_button' %>
			<%- end -%>
		</div>
	<%- end -%>
</div>
<%= render :partial => "table_ajax", :locals => { :table_partial => "van_driver_table" } %>
<%- end -%>
