<h1>Drivers for <%= @term.is_a?(Quarter) ? @term.title : @term.to_param %></h1>

<table id="current_drivers">
	<thead>
		<tr>
			<th>Name</th>
			<th>E-mail</th>
			<th>Training Date</th>
			<%- if Customer.link_to_uw? %><th>UWFS Training Date</th><% end -%>
            <th class="centered">Signed Form?</th>
            <th class="centered">Convictions?</th>
			<th colspan=4>Functions</th>
		</tr>
	</thead>

	<tbody>
		<%= render :partial => "mentor_driver", :collection => @current_drivers %>
		<%- if @mentors.empty? -%>
			<tr class="empty">
				<td colspan=10>No <%= Customer.mentors_label %> are currently trained to drive.</td>
			</tr>
		<% end -%>
	</tbody>
</table>

<h1>All Trained Drivers</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>E-mail</th>
			<th>Training Date</th>
			<%- if Customer.link_to_uw? %><th>UWFS Training Date</th><% end -%>
            <th class="centered">Signed Form?</th>
            <th class="centered">Convictions?</th>
			<th colspan=4>Functions</th>
		</tr>
	</thead>

	<tbody>
		<%= render :partial => "mentor_driver", :collection => @mentors %>
		<%- if @mentors.empty? -%>
			<tr class="empty">
				<td colspan=10>No <%= Customer.mentors_label %> are currently trained to drive.</td>
			</tr>
		<% end -%>
	</tbody>
</table>

<div id="sidebar">
	<p><%= render :partial => "shared/term_select",
				:locals => { :form_url => van_drivers_mentors_path },
				:object => @term %></p>
	<hr />
	<h3>Update Driver Status</h3>
	<div id="form-container">
		<p>Click a row to begin editing</p>
		<%- if Customer.link_to_uw? -%>
		<p>--OR--</p>
		<%= link_to "Check UWFS Training for #{@term.is_a?(Quarter) ? @term.title : @term.to_param}", driver_training_status_mentor_url(999), :class => 'sync button', :id => 'check_all_button' %>
		<%- end -%>
	</div>
</div>

<%= javascript_tag do %>
	sidebar_content = $("#sidebar").html();
	$("#check_all_button").click(function() { checkAllCurrentDrivers(); return false; });
<% end %>
<%= javascript_include_tag 'driver_form.js' %>
