<h1>Event Types</h1>

<table>
  <tr>
    <th>Name</th>
	<th colspan=4>Functions</th>

  </tr>

<% for event_type in @event_types %>
  <tr>
    <td><%=h event_type.name %></td>
    <td class="functions"><%= link_to 'Show', event_type_path(event_type) %></td>
	<td class="functions"><%= link_to 'RSVP', event_type_rsvp_path(event_type) %></td>
    <td class="functions"><%= link_to 'Edit', edit_event_type_path(event_type) %></td>
    <td class="functions"><%= link_to 'Destroy', event_type_path(event_type), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="sidebar">
	<%= link_to 'Create new event type', new_event_type_path, :class => 'add button' %>
</div>
