<h1><%=h @event_type.name %></h1>

<dl class="inline-definitions">

	<%- unless @event_type.description.blank? -%>
		<dt>Description</dt>
		<dd><%= sanitize textilize(@event_type.description) %></dd>
	<% end -%>

	<dt>RSVP URL</dt>
	<dd><%= link_to event_type_rsvp_url(@event_type), event_type_rsvp_path(@event_type) %></dd>

</dl>

<h2>Linked Events</h2>
<table>
	<tr>
		<th>Name</th>
		<th>Date</th>
		<th>Invited</th>
		<th>RSVP'd</th>
		<th>Attended</th>
		<th colspan=4>Functions</th>
	</tr>

	<tbody>
		<%= render partial: 'events/event', collection: @event_type.events %>
		
		<%- if @event_type.events.empty? -%>
			<tr class="empty">
				<td colspan=10>No events yet.</td>
			</tr>
		<% end -%>
	</tbody>
	
</table>


<%= content_for(:sidebar) do %>
	<p><%= link_to "Edit this event type", edit_event_type_path(@event_type), class: 'edit button' %></p>
	<p><%= link_to "Back to event types", event_types_path, class: 'back button' %></p>
<%- end -%>
