<tr id="scholarship_application_<%= scholarship_application.id %>">

	<td class="name">
		<%= link_to h(scholarship_application.title), scholarship_application.try(:scholarship) %>
	</td>
	<td class="align-right inline-when-small">
		<%=h scholarship_application.amount.blank? ? raw("&mdash;") : number_to_currency(scholarship_application.amount) %>
	</td>
	<td class="inline-when-small" data-text="<%= scholarship_application.awarded? %>">
		<%= form_for([@participant, scholarship_application], 
					remote: true,
					html: { style: "display:inline", 
					id: "awarded_form_#{scholarship_application.id}" }) do |f| %>
			<%= f.check_box :awarded, class: "submit-on-change" %>
		<% end -%>
	</td>

	<td class="functions"><%= link_to 'Details', [@participant, scholarship_application] %>
		<%= link_to 'Edit', edit_participant_scholarship_application_path(@participant, scholarship_application) %>
		<%= link_to 'Remove', [@participant, scholarship_application], confirm: 'Are you sure?', method: :delete %>
	</td>
</tr>
