<li class="input">
<%= f.label attribute_name %>

<div id="scholarship_title_auto_complete">
	<input type="input" class="search autocomplete-search wide" placeholder="Search scholarships" data-source="<%= auto_complete_for_scholarship_title_scholarships_url %>" data-after-select="display-details" data-details-container="scholarship_details" data-update-with-id="<%= parent_name || "scholarship_application" %>_<%= attribute_name || "scholarship_id" %>" <%= "style='display:none'" if parent_object.try(:scholarship) %> />

	<div id="scholarship_details" class="auto_complete after_select" <%= "style='display:none'" unless parent_object.try(:scholarship) %>>
		<div id="scholarship_details_content" class="content">
			<span class="primary">  <%=h parent_object.scholarship.try(:title) %></span>
			<small class="light id"> (#<%=h parent_object.scholarship.try(:id) %>)</small>
			<span class="secondary"><%=h parent_object.scholarship.try(:organization_name) %></span>
			<span class="secondary currency"><%= number_to_currency(h(parent_object.scholarship.try(:default_amount))) %></span>
		</div>
		<small><%= link_to "Choose a different scholarship", "", :onclick => 
								"$('#scholarship_details').hide(); 
								 $('#scholarship_title_auto_complete input.autocomplete-search').show().val('').focus();
								 return false;" %></small>

	</div>
	
</div>
</li>

<%= f.input :scholarship_id, :as => :hidden %>

