<tr id="scholarship_application_<%= scholarship_application.id %>">

  <td class="name"><%= link_to h(scholarship_application.title), scholarship_application.try(:scholarship) %></td>
  <td><%=h number_to_currency scholarship_application.amount %></td>
  <td>
	<% form_for([@participant, scholarship_application], 
					:remote => true,
					:html => { :style => "display:inline", 
					:id => "awarded_form_#{scholarship_application.id}" }) do |f| %>
		<%= f.check_box :awarded %>
	 <% end -%>
	
	<%#= TODO observe_form "awarded_form_#{scholarship_application.id}", 
					:function => "$('awarded_form_#{scholarship_application.id}').submit()" %>
	</td>
	
  <td class="functions"><%= link_to 'Details', [@participant, scholarship_application] %>
  	<%= link_to 'Edit', edit_participant_scholarship_application_path(@participant, scholarship_application) %>
  	<%= link_to 'Remove', [@participant, scholarship_application], :confirm => 'Are you sure?', :method => :delete %>
	</td>
</tr>
