<tr id="parent_<%= parent.id %>">

	<td class="name"><%= link_to h(parent.fullname), [@participant, parent] %></td>
	<td class="inline-when-small"><%=h parent.parent_type %></td>
	<td class="inline-when-small"><%= auto_link h(parent.preferred_contact_detail) %></td>
	
	<td class="functions">
		<%= link_to 'Details', [@participant, parent] %>
		<%= link_to 'Edit', edit_participant_parent_path(@participant, parent) %>
		<%= link_to 'Remove', [@participant, parent], :confirm => 'Are you sure?', :method => :delete %>
	</td>
</tr>
