<tr id="parent_<%= parent.id %>">

	<td class="name"><%= link_to h(parent.fullname), [@participant, parent] %></td>

	<td class="inline-when-small"><%=h parent.parent_type %></td>

	<td class="lives_with">
		<%= content_tag(:span, "Y", class: "icon pass") if parent.lives_with? %>
	</td>

	<td class="email">
	    <%= mail_to h(parent.email) %>
		<%= content_tag(:div, "Preferred", class: 'preferred-note') if parent.preferred_contact_method == 'Email' %>
	</td>

	<td class="phone">
	    <% numbers = [] 
			numbers << h(number_to_phone_pretty(parent.phone_home, type: 'home')) unless parent.phone_home.blank?
	     	numbers << h(number_to_phone_pretty(parent.phone_mobile, type: 'mobile')) unless parent.phone_mobile.blank? %>
		<%= numbers.join("<br />").html_safe %>
	</td>

	<td class="language">
		<%= parent.other_languages %>
	</td>
	
	<td class="functions">
		<%= link_to 'Details', [@participant, parent] %>
		<%= link_to 'Edit', edit_participant_parent_path(@participant, parent) %>
		<%= link_to 'Remove', [@participant, parent], confirm: 'Are you sure?', method: :delete %>
	</td>
</tr>
