<h3 class="pre-title"><%=h @participant.fullname %></h3>
<h1>Editing parent/guardian</h1>

<% semantic_form_for([@participant, @parent]) do |f| %>
  	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>

	<%- f.buttons do -%>
	 	<%= f.submit "Update" %>
		<%= separator %>
		<%= link_to 'Back', @participant, :class => 'cancel button' %>
	<% end -%>

<% end %>