<%- 
mentor_term_group = mentor_term_group_schedule 
overlaps = mentor_term_group.overlaps_with(mentor_term_groups, :include_self => true)
# reset_cycle "overlap" if overlaps.nil? || overlaps.empty?
mentor_term = @mentor_terms.select{ |mq| mq.mentor_term_group_id == mentor_term_group.id }.try(:first)
splitpos = cycle(1,2,3,4,5,6,7,8, :name => "overlap" + overlaps.first.id.to_s) if overlaps.size > 0
splitpos = params[:splitpos] if params[:splitpos]
@start_time ||= Time.parse("7:00") 

css_class = []
css_class << "full" if mentor_term_group.full?
css_class << "split split#{overlaps.size}" if overlaps.size > 1
css_class << "splitpos#{splitpos} overlap#{overlaps.first.id.to_s}" if overlaps.size > 0
css_class << (mentor_term.volunteer? ? "volunteer" : "enrolled") unless mentor_term.nil?

style_top = (Time.parse(mentor_term_group.depart_time.to_s(:time)) - @start_time)/60
style_height = mentor_term_group.length.to_i
-%>

<li style=" height: <%= style_height %>px; top: <%= style_top %>px;" class="<%= css_class.join(" ") %>" id="mentor_term_group_<%= mentor_term_group.id %>">
	<h5><%=h mentor_term_group.title %></h5>
	
	<p class="signup-link">
		<%- if mentor_term.nil? -%>
			<%= link_to_remote "Sign up as a volunteer", 
								:url => mentor_signup_term_volunteer_path(@term, mentor_term_group, :splitpos => splitpos), 
								:html => { :class => "add" }, 
								:method => :put unless mentor_term_group.full? %>
								
		<%- elsif mentor_term.volunteer? -%>
			<span class="orange tag">Volunteer</span>
			<%= link_to_remote "Leave this group", 
								:url => mentor_signup_term_drop_path(@term, mentor_term, :splitpos => splitpos), 
								:method => :delete, 
								:html => { :class => "cancel" },
								:confirm => "Are you sure you want to leave this group?" %>
					
		<%- else -%>
			<span class="green tag">Enrolled through MyUW</span>
			
		<% end -%>
	</p>

	<p class="light"><%= mentor_term_group.times %></p>
	<p class="light"><%= h(mentor_term_group.course_string) unless mentor_term_group.section_id.blank? %></p>
	<p class="spots_left"><%= "#{pluralize(mentor_term_group.spots_left, "spot")} left" if mentor_term_group.spots_left %></p>
	
</li>
