<tr id="mentor_quarter_group_<%= mentor_quarter_group.id %>">
	<td><%= content_tag :span, h(mentor_quarter_group.section_id), :class => 'section_id tag' %></td>
	<td><%=h mentor_quarter_group.title %>
		<br>
		<span class="light"><%= mentor_quarter_group.times %></span>
		</td>
	<td class="signup-meter <%= "full" if mentor_quarter_group.full? %>">
		<div class="capacity" 
			 style="width: <%= mentor_quarter_group.capacity.to_f / @max_quarter_cap * 100 rescue 0 %>%;"
			 title="<%= number_to_percentage mentor_quarter_group.percent_full, :precision => 0 %> full">
			
			<div class="size" style="width: <%= mentor_quarter_group.percent_full %>%">
				<%= mentor_quarter_group.full? ? content_tag(:span, "full", :class => "full_label") : "&nbsp;" %>
			</div>						
		</div>
	</td>
	<td><%= content_tag :span, mentor_quarter_group.mentor_quarters.size, :class => "" %></td>
	<td><%= mentor_quarter_group.capacity %></td>

	<td class="signup-link">
		<% mentor_quarter = @mentor_quarters.select{ |mq| mq.mentor_quarter_group_id == mentor_quarter_group.id }.try(:first) %>
		<%- if mentor_quarter.nil? -%>
			<%= link_to "Sign up as a volunteer", mentor_signup_quarter_volunteer_path(@quarter, mentor_quarter_group), :class => "add button", :method => :put unless mentor_quarter_group.full? %>
		<%- elsif mentor_quarter.volunteer? -%>
			<span class="orange tag">Signed up as a volunteer</span> -
			<%= link_to "Leave this group", mentor_signup_quarter_drop_path(@quarter, mentor_quarter), :method => :delete, :confirm => "Are you sure you want to leave this group?" %>
					
		<%- else -%>
			<span class="green tag">Enrolled through MyUW</span>
		<% end -%>
	</td>
</tr>
