<h1>Conduct Form for <%= Customer.mentors_Label %></h1>

<%= semantic_form_for @mentor, :url => { :action => 'conduct_form' } do |f| %>

	<%= f.semantic_errors %>

	<%= raw sanitize Customer.conduct_form_content, :tags => %w(p br fieldset input label h2 ol li), :attributes => %w(id name type value for class) %>

<hr />
  <%= f.inputs do %>
    <%= f.input :conduct_form_signature, :label => "Enter your full legal name as signature" %> 
    <%= f.input :conduct_form_signed_at, :as => :boolean, :label => "I understand the statements above." %> 
  <% end -%>
  <%= f.actions do %>
    <%= f.action :submit, :label => "Submit" %>
  <% end -%> 
<% end -%>
