<!--<p class="right"><%= raw link_to "Switch to <strong>schedule view</strong>", { display: 'schedule' }, class: "calendar button" %></p>-->

<h1>Sign up for <%= @term.title %></h1>
<p><%= raw sanitize textilize(@term.signup_description) %></p>

<table class="mentor_term_group signup">
	<thead>
		<tr>
			<th>Section</th>
			<th>Location</th>
			<th colspan=2>Enrollment</th>
			<th>Capacity</th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<%= render partial: 'mentor_term_group', collection: @term.mentor_term_groups %>

		<%- if @term.mentor_term_groups.empty? -%>
		<tr class="empty">
			<td colspan=10>
				Hmm. There aren't any sections defined for <%= @term.title %> yet. Try back later.
				<p><%= link_to "Back", :back, class: 'back button' rescue nil %></p>
			</td>
		</tr>
		<% end -%>
	</tbody>
	
</table>

<%= content_for(:sidebar) do %>
	<h2>Sign up</h2>
	<p>Use this page to sign up for a high school visit. If you've already signed up on MyUW, it will appear in the list.</p>
	<%= link_to "Back to Welcome", root_url, class: "back button" %>
	
	<p></p>
	
	<h2>Registering for credit?</h2>
	<p>You can earn two credits per term by registering for the Dream Project on MyUW:</p>
	<%= link_to "UW Time Schedule", "http://www.washington.edu/students/timeschd/#{@term.to_param}/indsrf.html", class: "list button", target: "_blank" %>
<%- end -%>
