<%- 
@start_time = Time.parse("7:00") 
@days = %w(Monday Tuesday Wednesday Thursday Friday Saturday) 
-%>

<div class="right">
	<p><%= link_to "Switch to <strong>list view</strong>", { :display => 'list' }, :class => "list button" %></p>
	<p id="show_my_courses_switch" style="display:none">
		<label for="show_my_courses"><%= check_box_tag "show_my_courses", true, true %> Show my class schedule</label>
	</p>
	
	<%= observe_field "show_my_courses", :function => "$$('.course_meeting').invoke('toggle')" %>
</div>

<h1>Sign up for <%= @term.title %></h1>
<p><%= sanitize textilize(@term.signup_description) %></p>

<p><strong>Registering for credit?</strong>
	You can earn two credits per term by
	<%= link_to "registering for the Dream Project on MyUW", "http://www.washington.edu/students/timeschd/#{@term.to_param}/indsrf.html", :target => "_blank" %></p>

<table class="schedule">
	<tr>
		<th>Time</th>
		<%- for day in @days -%>
			<th><%= day %></th>
		<% end -%>
	</tr>
	
	<tr>
		<td class="times">
			<ul class="times">
				<%- for time in (Array.new(11.hours / 30.minutes)).each_with_index.collect{|t,i| (Time.parse("7:00") + (i*30.minutes)).strftime("%I:%M %p")} -%>
					<li class="<%= cycle('hour', 'half-hour') %>"><span><%= time %></span></li>
				<% end -%>
			</ul>
		</td>

		<%- for day in @days -%>
		<td>
			<ul class="course meetings" id="course_meetings_<%=h day %>"></ul>
			<ul class="meetings">
				<%- mentor_term_groups = @mentor_term_groups.select{|g| g.day_of_week == day} -%>
				<%= render :partial => 'mentor_term_group_schedule', 
							:collection => mentor_term_groups.sort_by(&:depart_time), 
							:locals => { :mentor_term_groups => mentor_term_groups } %>
			</ul>
			<ul class="time-blocks">
				<%- for time in (Array.new(11.hours / 30.minutes)).each_with_index.collect{|t,i| (Time.parse("7:00") + (i*30.minutes)).strftime("%I:%M %p")} -%>
					<li class="<%= cycle('hour', 'half-hour') %>"><span><%= time %></span></li>
				<% end -%>
			</ul>
		</td>
		<% end -%>
	
	</tr>
</table>

<%= javascript_tag remote_function(:url => mentor_signup_schedule_add_my_courses_path(:term_id => @term.to_param)) %>
