<h2><%= Participant.current_cohort %> Participants</h2>

<table class="stats">

	<tr>
		<td class="title">Total Students</td>
		<td class="number"><%= @participants.size %></td>
		<td class="percentage"></td>
	</tr>
	
	<tr>
		<td class="title">Active Students</td>
		<td class="number"><%= @participants.select{|p| !p.inactive? }.size %></td>
		<td class="percentage"><%= number_to_percentage(@participants.select{|p| !p.inactive? }.size.to_f / @participants.size.to_f * 100, :precision => 0) rescue 0.0/0.0 %></td>
	</tr>
	
	<% for object_filter in Participant.object_filters %>
		<% filtered_participants = @participants.select{|p| object_filter.passes?(p)} %>
		<tr>
			<td class="title"><%= object_filter.title %></td>
			<td class="number"><%= filtered_participants.size %></td>
			<td class="percentage"><%= number_to_percentage(filtered_participants.size.to_f / @participants.size.to_f * 100, :precision => 0) rescue 0.0/0.0 %>
		</tr>
	<% end -%>
	
</table>