<%= "</div><div class='page-break-note noprint'><span>page break</span></div><div class='survey_code_cards' style='page-break-after:always'>" if i%15==0 %>
	
<div class="survey_code_card">
	<span class="name">
		<%= participant.try(:lastname_first) || "&nbsp;" %>
		<small><%= participant.try(:id) %></small>
		</span>
	<ol>
		<li>Go to <span class="url"><%= @survey_url.split("/").join("&thinsp;/&thinsp;") %></span></li>
		<li>Enter your survey ID code:</li>
	</ol>
	<span class="code"><%= code %></span>
</div>