<h1>Editing High School</h1>

<%= semantic_form_for @high_school, html: { method: :put } do |f| %>

	<%= default_form_errors(f) %>

	<%= render partial: "locations/fields", locals: { f: f } %>
	
	<%= f.submit "Save", disable_with: 'Saving...' %>
	<span class="separator">&mdash; or &mdash;</span>
	<%= link_to 'Cancel', @location %>

<% end %>