<h1>Partner High Schools</h1>

<table class="locations">
  <tr>
    <th>Name</th>
    <th>District</th>
	<th colspan=5>Functions</th>
  </tr>

<% for high_school in @high_schools %>
  <tr>
    <td class="name"><%= link_to h(high_school.name), high_school %></td>
    <td><%=h high_school.district %></td>
	<td class="functions"><%= link_to 'Show', high_school %></td>
    <td class="functions"><%= link_to 'Edit', edit_high_school_path(high_school) %></td>
    <td class="functions"><%= link_to 'Destroy', high_school, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= content_for(:sidebar) do %>
  <p><%= link_to 'New high school', new_high_school_path, class: 'add button' %></p>
  <p><%= link_to "All locations", locations_path, class: 'list button' %></p>
<%- end -%>
