<h1>New High School</h1>

<%= semantic_form_for @high_school do |f| %>

	<%= default_form_errors(f) %>

	<%= render partial: "locations/fields", locals: { f: f } %>
	
	<%= f.submit "Create", disable_with: 'Creating...' %>
	<span class="separator">&mdash; or &mdash;</span>
	<%= link_to 'Cancel', high_schools_path %>

<% end %>
