<h1><%=h @high_school.name %>
	<%= image_tag "college_mapper_logo-150x44.png", :title => "Integrated with CollegeMapper", :class => "college_mapper_integration_bug" if @high_school.enable_college_mapper_integration? %>
</h1>

<div class="right panel-block">
	<%= render :partial => "object_filters/high_school_stats" %>
</div>

<div class="right panel-block mentor_stats">
	<%= render :partial => "high_schools/mentor_stats" %>
</div>

<div class="panel-block">
	<h2>Participants</h2>
	<ul>
		<% for cohort in @high_school.cohorts %>
			<li><%= link_to "#{cohort.to_s} Cohort", high_school_cohort_url(@high_school, cohort) %></li>
		<% end -%>
	</ul>
</div>


<%- if Term.current_term -%>
<div class="panel-block">
	<h2>Visits/Attendance</h2>
	<ul>
		<li><%= link_to "#{Term.current_term.title} Visits", 
						high_school_visits_path(@high_school, Term.current_term) %></li>
		<li><%= link_to "Take Attendance for #{Customer.mentees_Label}", 
						attendance_high_school_visits_path(@high_school, Term.current_term) %></li>
		<li><%= link_to "Take Attendance for #{Customer.mentors_Label}", 
						attendance_high_school_visits_path(@high_school, Term.current_term, :show => 'mentors') %></li>
	</ul>
</div>
<% end -%>
					
<div class="panel-block">
	<h2>Resources</h2>
	<ul>
		<li><%= link_to "Survey Code List", survey_codes_high_school_path(@high_school) %></li>
		<li><%= link_to "Survey Code Cards", survey_code_cards_high_school_path(@high_school) %></li>
		<li><%= link_to "Manage Groups", high_school_participant_groups_path(:high_school_id => @high_school) %></li>
	</ul>
</div>

<br style="clear:both">

<%= render :partial => "sidebar" unless @sidebar_rendered %>