<h1><%=h @high_school.name %></h1>

<div class="right panel-block">
	<%= render :partial => "high_schools/stats" %>
</div>

<div class="right panel-block mentor_stats">
	<%= render :partial => "high_schools/mentor_stats" %>
</div>

<div class="panel-block">
	<h2>Participants</h2>
	<ul>
		<% for cohort in @high_school.cohorts %>
			<li><%= link_to "#{cohort.to_s} Cohort", high_school_cohort_url(@high_school, cohort) %></li>
		<% end -%>
	</ul>
</div>


<%- if Quarter.current_quarter -%>
<div class="panel-block">
	<h2>Visits/Attendance</h2>
	<ul>
		<li><%= link_to "#{Quarter.current_quarter.title} Visits", 
						high_school_visits_path(@high_school, Quarter.current_quarter) %></li>
		<li><%= link_to 'Take Attendance for Scholars', 
						attendance_high_school_visits_path(@high_school, Quarter.current_quarter) %></li>
		<li><%= link_to 'Take Attendance for Mentors', 
						attendance_high_school_visits_path(@high_school, Quarter.current_quarter, :show => 'mentors') %></li>
	</ul>
</div>
<% end -%>
					
<div class="panel-block">
	<h2>Resources</h2>
	<ul>
		<li><%= link_to "Survey Code List", survey_codes_high_school_path(@high_school) %></li>
		<li><%= link_to "Survey Code Cards", survey_code_cards_high_school_path(@high_school) %></li>
	</ul>
</div>

<br style="clear:both">

<%= render :partial => "sidebar" unless @sidebar_rendered %>