<div class="right">
	<%= link_to "Print Cards", survey_code_cards_high_school_path(@high_school, :n => @n, :mentor_id => @mentor.try(:id), :cohort => @current_cohort), :class => "photo-tile button" %>
</div>

<h3 class="pre-title"><%=h @high_school.name %></h3>
<h1>Survey Codes
	<span class="light">&raquo; </span>
	<%= content_tag(:span, "Class of #{h(@current_cohort.to_s)}", :class => "light") if @current_cohort %></h1>
	<%= content_tag(:h2, h("(#{@mentor.fullname})"), :class => 'light') if @mentor %>
	
<table>
	<tr>
		<th>Code</th>
		<th>Name</th>
		<th>Code</th>
		<th>Name</th>
		<th>Code</th>
		<th>Name</th>
	</tr>
	
	<% @participants.each_with_index do |participant, i| %>
		<%= "<tr id=\"participant_#{participant.id.to_s}\">" if i%3==0 %>
			<td class="survey_code"><%=h participant.survey_id %></td>
			<td><%=h participant.lastname_first %></td>
		<%= "</tr>" if i%3==2 %>
	<% end -%>
	
</table>

<h2>Unassigned Survey Codes</h2>
<table>
	<% @unassigned_codes.each_with_index do |code, i| %>
		<%= "<tr>" if i%3==0 %>
			<td><%= code %></td>
			<td>_____________________________</td>
		<%= "</tr>" if i%3==2 %>
	<% end -%>
</table>


<div id="sidebar">
	<form>
        <h3>Cohort</h3>
        <p><%= select_tag :cohort, options_for_select(@high_school.cohorts.collect(&:to_s), @current_cohort.to_s) %>
        <%= submit_tag "Go" %></p>

		<h3>Options</h3>
		<p>How many extra codes would you like to generate? (0&ndash;1000)
			<br><%= text_field_tag :n, @n, :size => 4 %>
			<%= hidden_field_tag :mentor_id, @mentor.try(:id) if @mentor %>
			<%= submit_tag "Generate" %></p>
		
	</form>
	
</div>