<tr class="attendance" id="event_row_<%= event_row.event_id %>">
	<td class="name"><%= link_to h(event_row.event.try(:name)), event_path(event_row.event) %></td>
	<td><%=h event_row.event.try(:time_detail, {:date_only => true}) %></td>
	<td><%=h event_row.event.try(:time_only) %></td>
	<td class="centered"><%= event_row.rsvp? ? content_tag(:span, "Y", :class => 'green tag') : content_tag(:span, "-", :class => 'light') %></td>
	<td class="centered"><%= event_row.attended? ? content_tag(:span, "Y", :class => 'green tag') : content_tag(:span, "-", :class => 'light') %></td>	
	<%= render :partial => "event_attendances/checkbox", :object => event_row %>
</tr>
