<% f.inputs("Attendance") do %>
	<%= f.input :rsvp, :label => "Attending" %>
	<%= f.input :attended, :label => "Attended" %>
<% end -%>

<% f.inputs("Shift/Role") do %>
	<div <%= "style='display:none'" unless f.object.event.has_shifts?(f.object.try(:person).try(:class)) %>>
			<%= label_tag "event_attendance_event_shift_id_#{@event.id}", "Choose a shift/role:" %>
			<%= collection_select :event_attendance,
									:event_shift_id, 
									@event.shifts.for(f.object.try(:person).try(:class)),
									:id,
									:details_string,
									{ 
										:prompt => "-- Choose a shift/role --",
										:selected => f.object.try(:event_shift_id)
									 },
									{ 
										:id => "event_attendance_event_shift_id_#{@event.id}"
									} %>
	</div>
	<p>&nbsp;</p>

	<%= f.input :admin, 
				:label => "Grant admin access", 
				:hint => "Admin users can view and edit event details, and manage event attendance." unless f.object.try(:person).try(:is_anonymous_user?) %>
<% end -%>
