<div class="content-block">
	<h1><%=h @audiences.collect(&:to_s).join("/") %> Check-in
		<small class="light">&raquo; <%= @event.name %></small></h1>

	<%= content_tag :p, "This event has passed... are you sure you want to be checking in attendees?", :class => "weak error-message" if @event.date.far_past? %>

	<% form_for :person, :html => { :onSubmit => "return false;" } do |f| %>
		<input id="person_fullname" name="person[fullname]" size="30" placeholder="Search for a <%=h @audiences.collect(&:to_s).join("/") %>" class="wide search"/>
		<div class="auto_complete" id="person_fullname_auto_complete"></div>
	
		<%= javascript_tag "var person_fullname_auto_completer = new Ajax.Autocompleter('person_fullname', 'person_fullname_auto_complete', '#{auto_complete_for_person_fullname_event_event_attendances_path(:audience => @audience.to_s)}', { minChars: 3 })" %>
		
	<% end %>
	<br />

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Cohort</th>
				<th>Status</th>
				<th>Functions</th>
			</tr>
		</thead>
		<tbody id="person_search_results">
			<tr class="empty">
				<td colspan="10">Search for a person's name above to check-in for this event.</td>
			</tr>
		</tbody>
	</table>
</div>

<div id="new_participant_form_container" style="display:none" class="content-block">
	<h2>Quick Add New Student</h2>
	<span class="error-message no-icon" id="new_participant_error"></span>
	<% remote_form_for(:new_participant, :url => checkin_new_participant_event_event_attendances_path(@event), :method => :put, :html => { :id => 'new_participant_form' }) do |f| %>
		First Name: <%= f.text_field :firstname %>
		Last Name: <%= f.text_field :lastname %>
		High School: <%= f.collection_select :high_school_id, HighSchool.all, :id, :name, :prompt => true %>
		<%= f.submit "Check-in" %>
	<% end -%>
</div>

<div id="new_volunteer_form_container" style="display:none" class="content-block">
	<h2>Quick Add New Volunteer</h2>
	<span class="error-message no-icon" id="new_volunteer_error"></span>
	<% remote_form_for(:new_volunteer, :url => checkin_new_volunteer_event_event_attendances_path(@event), :method => :put, :html => { :id => 'new_volunteer_form' }) do |f| %>
		First Name: <%= f.text_field :firstname %>
		Last Name: <%= f.text_field :lastname %>
		<%= f.submit "Check-in" %>
	<% end -%>
</div>


<%= render :partial => 'sidebar' %>

<%= javascript_tag "window.onload = function() { $('person_fullname').select() }" %>