<td class="college-logo">
	<%= fetch_favicon_tag college_application.institution.try(:formatted_website_url) %>
</td>
<td class="college-name"><%=h college_application.institution.try(:name) %></td>
<td><%=h college_application.choice %></td>
<td><%= content_tag :span, 
					(college_application.applied? ? "Y" : "N"), 
					class: "icon #{college_application.applied? ? "pass" : "fail"}" %></td>
<td><%=h college_application.decision %></td>
<td><%= content_tag :span, 
					(college_application.attending? ? "Y" : "N"), 
					class: "icon #{college_application.attending? ? "pass" : "fail"}" %></td>
