<tr class="<%= "deselected" if participant.inactive? %> filterable participant">

	<%- if row_index == 1 -%>
		<td rowspan="<%= row_count %>" class="name multirow-highlight">
			<%= link_to participant.lastname_first, participant %>
			<small class="inactive-note">(inactive)</small>
		</td>
		<%= render :partial => "participants/reports/#{report.pluralize}", 
					:locals => { :participant => participant, :collection => collection, :row_count => collection.size, :row_index => row_index } %>
	<% end %>

	<%- unless collection.empty? -%>
		<%= render :partial => "participants/reports/#{report.singularize}", 
					:object => collection[row_index-1],
					:locals => { :participant => participant, :row_index => row_index } %>
	<% end %>

	<%- if row_index == 1 -%>	
		<td rowspan="<%= row_count %>" class="functions multirow-highlight">
			<%= link_to 'Show', participant %>
			<%= link_to 'Edit', edit_participant_path(participant) %>
		</td>
	<% end %>
	
</tr>