<h3 class="pre-title">
  <%= link_to @participant.fullname, participant_url(@participant, anchor: "!/section/scholarship_applications") %> /
  Financial Aid Package:
</h3>
<h1 class="no-bottom-margin">
  <%= @financial_aid_package.college_application.try(:name) %>
  <span class="outline tag"><%= @financial_aid_package.academic_year_range %></span>
</h1>
<dl class="institution-details inline-definitions one-line">
  <dt>Sector</dt>
  <dd><%= @financial_aid_package.college_application.try(:institution).try(:sector_description) %></dd>  
  
  <dt>Location</dt>
  <dd><%= @financial_aid_package.college_application.try(:institution).try(:location_detail) %></dd>
  
  <dt>Details</dt>
  <dd class="ipeds">
    <%= link_to "Open in CollegeNavigator", 
          @financial_aid_package.college_application.try(:institution).try(:college_navigator_url), 
          :target => "_blank", 
          :class => "offsite" %>
    </dd>
</dl>

<h2>Cost Breakdown</h2>
<%= render "cost_breakdown", object: @financial_aid_package %>

<div style="clear:both; height: 70px">&nbsp;</div>

<h2>Financial Aid Sources</h2>
<p>
  For each aid source listed on the student's financial aid letter, add the item to the table below. The cost breakdown above will update as you enter more data.
</p>

<%= render partial: "table" %>
<%= render partial: "documents" %>
<%= render partial: "notes" %>

<div id="sidebar">
  <%= link_to "Back to #{Customer.participant_label}", participant_path(@participant, anchor: "!/section/scholarship_applications"), class: "back button" %>
  <%= link_to "Edit package details", [:edit, @participant, @financial_aid_package], class: 'edit button' %>
  
  <h3>Summary</h3>
  
  <dl class="sidebar cost_breakdown">
    <dt>Cost of Attendance</dt>
    <dd>
      <span class="amount"><%= money_without_cents_and_with_symbol @financial_aid_package.cost_of_attendance %></span>
    </dd>
  
    <%- for category in %w[expected_family_contribution grants work_study loans gap] %>
      <%- breakdown = @financial_aid_package.breakdown[category.to_sym] %>
      <dt class="cost-label <%= category.dasherize %> <%= category.underscore %> <%= "hidden" if breakdown[:amount].zero? %>">
        <%= FinancialAidPackage::BREAKDOWN_TITLES[category.to_sym] || category.titleize %>
      </dt>
      <dd class="<%= "hidden" if breakdown[:amount].zero? %>">
        <span class="amount"><%= money_without_cents_and_with_symbol breakdown[:amount] %></span>
      </dd>
    <% end %>
    
  </dl>
</div>
