<tr id="mentor_term_<%= mentor_term.id %>" class="hoverable <%= "newly_added" if params[:newly_added]==mentor_term.id.to_s %>">
	<td class="photo"><%= image_tag photo_mentor_path(mentor_term.try(:mentor), :size => :default), 
						:class => 'student_photo', 
						:size => "64x83", 
						:alt => "" %>
		</td>
		
	<td><strong class="mentor name"><%= link_to mentor_term.fullname, mentor_term.mentor %></strong>
		<small class="outline tag"><%= mentor_term.mentor_id %></small>
		<br><%= auto_link mentor_term.email %>
		<div>
			<%= "#{content_tag :span, Customer.lead_Label, :class => 'admin tag'}" if mentor_term.lead? %>
			<%= "#{content_tag :span, "Volunteer", :class => 'orange tag'}" if mentor_term.volunteer? %>
			<%= "#{content_tag :span, "Driver", :class => 'grey tag'}" if mentor_term.driver? %>
		</div>
		
		<%= render :partial => 'note_form', 
					:locals => { :mentor_term => mentor_term } %>

		</td>
		
	<td>
		<ul id="participants_<%= mentor_term.id %>" class="mini_participants">
			<%= render :partial => 'mini_participant', 
						:collection => mentor_term.mentor_participants,
						:locals => { :mentor_term => mentor_term } %>
		</ul>
		<%= render :partial => 'participant_form', 
					:locals => { :mentor_term => mentor_term } if mentor_term.try(:location) %>
		</td>
		
	<td class="functions">
		<%- if mentor_term.deleted? -%>
			<%= link_to "Undelete",
						mentor_term_group_mentor_term_path(mentor_term.mentor_term_group, mentor_term,
							:mentor_term => { :deleted_at => nil, :volunteer => true },
							:increment_counter => true), 
						:method => :put,
						:confirm => "Are you sure you want to undelete this mentor?" %>
		<% else -%>

			<%= link_to "Edit", edit_mentor_term_group_mentor_term_path(mentor_term.mentor_term_group, mentor_term) %>
		
			<%- if @current_user.admin? -%>
				<%- if mentor_term.lead? -%>
					<%= link_to "Remove as #{Customer.lead_label}", 
								mentor_term_group_mentor_term_path(mentor_term.mentor_term_group, mentor_term, 
																		:mentor_term => { :lead => false }), 
								:method => :put %>
				<%- else -%>
					<%= link_to "Make #{Customer.lead_label}", 
								mentor_term_group_mentor_term_path(mentor_term.mentor_term_group, mentor_term, 
																		:mentor_term => { :lead => true }), 
								:method => :put %>
				<% end -%>
			<% end -%>
			
			<br>
			<%- if mentor_term.volunteer? -%>
				<%= link_to "Delete", 
							mentor_term_group_mentor_term_path(mentor_term.mentor_term_group, mentor_term), 
							:method => :delete,
							:confirm => "Are you sure you want to remove this volunteer?" %>
			<% end -%>
			
		<% end -%>

		</td>
</tr>
	
