<h3>Time Schedule Details</h3>

<dl class="sidebar">
	
	<dt>Linked Section</dt>
	<dd><%= time_schedule_details.id %>
		
		<%- if controller.action_name == "show" -%>
			<br><small><%= link_to "Sync course enrollees",
									sync_mentor_term_group_path(@mentor_term_group), 
									:method => :put,
									:confirm => "Are you sure?" %></small>
		<% end %>
		</dd>

	<dt>Comments</dt>
	<dd class="time-schedule-comments"><%= time_schedule_details.time_schedule_comments.join("<br />") rescue nil %></dd>

	<dt>Meeting Times</dt>
	<dd>
		<%- for day, meetings in time_schedule_details.meetings -%>
			<p>
				<%= day %>,
				<br />
				<%= meetings.collect{ |meeting| 
					"#{meeting[:start_time_parsed].to_s(:time12)} &ndash; #{meeting[:end_time_parsed].to_s(:time12)} 
					<br><small>(24-hour: #{meeting[:start_time].to_s} &ndash; #{meeting[:end_time].to_s})</small><br>" }.join("<br />") %>
			</p>
		<%- end -%>
	</dd>

</dl>
