<h1>Editing Mentor Group</h1>

<%= semantic_form_for @mentor_term_group, html: { method: :put } do |f| %>

	<%= default_form_errors(f) %>

	<%= render partial: "fields", locals: { f: f } %>
	
	<%= f.submit "Save", disable_with: 'Saving...' %>
	<span class="separator">&mdash; or &mdash;</span>
	<%= link_to 'Cancel', @mentor_term_group %>

<% end %>

<%= content_for(:sidebar) do %>
	<%= render partial: 'time_schedule_details', object: @mentor_term_group.course_resource if @mentor_term_group.course_resource %>
<%- end -%>
