<h1>New Mentor Group</h1>

<%= semantic_form_for @mentor_term_group do |f| %>

	<%= default_form_errors(f) %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<span class="separator">&mdash; or &mdash;</span>
	<%= link_to 'Cancel', mentor_term_groups_path %>

<% end %>
