<h1>Participant Information Form for <%= Customer.name_label %></h1>

<%= semantic_form_for @participant, :url => { :action => 'intake_form'} do |f| %>

  <%= default_form_errors(f) %>
  <%= render :partial => 'participants/fields/contact.html.erb', :locals => { :f => f } %>
  <%= render :partial => 'participants/fields/race_ethnicity.html.erb', :locals => { :f => f } %>
  <%= render :partial => 'participants/fields/family_history.html.erb', :locals => { :f => f } %>
  <%= render :partial => 'participants/fields/high_school.html.erb', :locals => { :f => f } %>
  <%= render :partial => 'participants/fields/background.html.erb', :locals => { :f => f } %>
  <%= render :partial => 'participants/fields/parents.html.erb', :locals => { :f => f } %>
  <%= render :partial => 'participants/fields/financial.html.erb', :locals => { :f => f } %>

  <hr>

  	<%= f.inputs do %>
		<%= f.input :intake_form_signature, :required => true, :label => "Enter your full legal name as signature" %>
	<% end -%>
  
	<%= f.actions do %>
		<%= f.action :submit, :label=> "Submit" %>
	<% end -%>
<% end -%>