<h1>Participant Information Form for <%= Customer.name_label %></h1>

<%= semantic_form_for @participant, :url => { :action => 'intake_form'} do |f| %>

  <%= default_form_errors(f) %>
  <%= render :partial => 'participant_signup/personal.html.erb', :locals => { :f => f } %>
  <%= render :partial => 'participant_signup/contact.html.erb', :locals => { :f => f } %>
  <%= render :partial => 'participant_signup/race_ethnicity.html.erb', :locals => { :f => f } %>
  <%= render :partial => 'participant_signup/family_history.html.erb', :locals => { :f => f } %>
  <%= render :partial => 'participant_signup/high_school.html.erb', :locals => { :f => f } %>
  <%= render :partial => 'participant_signup/parents.html.erb', :locals => { :f => f } %>

  <hr>

  	<%= f.inputs do %>
		<%= f.input :intake_form_signature, :required => true, :label => "Enter your full legal name as signature" %>
		<%= f.input :intake_form_signed_at, :as => :boolean, :label => "I understand the statements above." %>
	<% end -%>
  
	<%= f.actions do %>
		<%= f.action :submit, :label=> "Submit" %>
	<% end -%>
<% end -%>