<h3 class="pre-title"><%=h @location.class.to_s.titleize %></h3>
<h1><%= fetch_favicon_tag @location.try(:formatted_website_url), :size => 20 %>
	<%=h @location.name %></h1>

<div class="when-and-where">
	<h3>Location</h3>
	<%= image_tag "https://maps.google.com/maps/api/staticmap?size=250x250&sensor=false&zoom=12&markers=#{@location.try(:latitude)}%2C#{@location.try(:longitude)}" %>
	<p class="address">
		<%=h @location.address %>
		<br><%=h [@location.city, @location.state].join(", ") %> <%=h @location.zip %>
	</p>
</div>

<ul class="stat-numbers progression">
	<li>
		<%= link_to content_tag(:strong, @location.college_applications.count) + content_tag(:p, "interested"),
					applications_college_path(@location.id) %>
	</li>

	<li>
		<%= link_to content_tag(:strong, Participant.attending_college(@location.id).count) + content_tag(:p, "planning"),
					college_participants_path(@location.id) %>
	</li>

	<li>
		<%= link_to content_tag(:strong, "N") + content_tag(:p, "enrolled"),
					college_participants_path(@location.id) %>
	</li>

	<li>
		<%= link_to content_tag(:strong, "N") + content_tag(:p, "graduated"),
					college_participants_path(@location.id) %>
	</li>

</ul>

<dl class="inline-definitions">

	<dt>Address</dt>
	<dd><%=h @location.address %>
		<br><%=h [@location.city, @location.state].join(", ") %> <%=h @location.zip %>
		</dd>

	<dt>Phone</dt>
	<dd><%= number_to_phone @location.phone %></dd>

	<dt>Website URL</dt>
	<dd><%= link_to @location.try(:formatted_website_url), @location.try(:formatted_website_url), :target => "_blank" %>
		</dd>

	<%- if @location.respond_to?(:college_navigator_url) && !@location.try(:college_navigator_url).nil? %>
	<dt>CollegeNavigator</dt>
	<dd class="ipeds">
		<%= link_to "Open in CollegeNavigator", 
					@location.try(:college_navigator_url), 
					:target => "_blank", 
					:class => "offsite" %>
		</dd>
	<% end -%>

</dl>

<div id="sidebar">
	<p><%= link_to 'Back to all locations', locations_path, :class => 'back button' %></p>
	
	<div class="auto_complete">
		<input type="input" class="search autocomplete-search" placeholder="Search colleges" data-source="<%= auto_complete_for_institution_name_colleges_url %>" data-target="<%= college_url("id") %>" />
	</div>
	
</div>
