<h1>Locations &amp; Colleges</h1>

<%= will_paginate @locations %>

<table class="locations">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Address</th>
			<th>Coordinates</th>
			<th>County</th>
			<th>Phone</th>
			<th colspan=3></th>
		</tr>
	</thead>

	<tbody id="original_locations">
		<%= render :partial => 'location', :collection => @locations %>
	</tbody>

	<tbody id="location_search_results"></tbody>

</table>

<%= content_for(:sidebar) do %>
	<p><%= link_to 'New location', new_location_path, :class => "add button" %></p>
	<p><%= link_to 'New high school', new_location_path(:type => "HighSchool"), :class => "add button" %></p>
	<p><%= link_to 'New college', new_location_path(:type => "College"), :class => "add button" %></p>

	<div class="auto_complete">
		<input type="input" class="search autocomplete-search" placeholder="Search colleges" data-source="<%= auto_complete_for_institution_name_colleges_url %>" data-target="<%= college_url("id") %>" />

		<input type="input" class="search autocomplete-search" placeholder="Search locations" data-source="<%= auto_complete_for_location_name_locations_url %>" data-target="<%= location_url("id") %>" />
	</div>
<%- end -%>
