<h1>New <%=h @location.class.to_s.titleize %></h1>

<%= semantic_form_for @location do |f| %>

	<%= f.semantic_errors %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<span class="separator">&mdash; or &mdash;</span>
	<%= link_to 'Cancel', locations_path %>

	<input type="hidden" name="type" value="<%= @location.class.to_s %>" />

<% end %>
