<h3 class="pre-title"><%=h @location.type.to_s.titleize %></h3>
<h1><%=h @location.name %></h1>

<div class="when-and-where">
  <%= image_tag "https://maps.google.com/maps/api/staticmap?size=250x250&sensor=false&zoom=12&markers=#{@location.try(:latitude)}%2C#{@location.try(:longitude)}" if @location.try(:geocoded?) %>
  <p class="address"><%= @location.address %></p>
</div>

<dl class="inline-definitions">

  <dt>Address</dt>
  <dd><%=h @location.address %></dd>

  <dt>Phone</dt>
  <dd><%= number_to_phone @location.phone %></dd>

  <dt>Website URL</dt>
  <dd><%= link_to Addressable::URI.heuristic_parse(@location.website_url).to_s,
                  Addressable::URI.heuristic_parse(@location.website_url).to_s %></dd>

</dl>

<%= content_for(:sidebar) do %>
  <p><%= link_to 'Edit this location', edit_location_path(@location), :class => 'edit button' %></p>
  <p><%= link_to 'Back to all locations', locations_path, :class => 'back button' %></p>
<%- end -%>
