<%= render layout: "layouts/wrap" do %>

	<header class="main">
		<%= render "shared/nav" %>
	</header>

	<% if content_for(:subheader) || content_for(:breadcrumbs) %>
		<header class="sub" data-spy="affix" data-offset-top="30">
		  <div class="container-fluid">
				<div class="pull-right page-operations">
					<%= yield(:operations) %>
				</div>
				<%= yield(:subheader) %>
				<%= yield(:breadcrumbs) %>
			</div>
			
			<% if content_for(:tabs) %>
				<div class="container-fluid tabs">
					<%= yield(:tabs) %>
				</div>
			<% end %>

		</header>
	<% end %>

	<div class="<%= @container_class || 'container-fluid' %>">

		<div class="row">
			
			<%- if content_for?(:sidebar) %>
			<div class="col-md-2" role="complementary" class="sidebar-container">
				<section id="sidebar" data-spy="affix" data-offset-top="50" data-offset-bottom="0">
					<%= yield :sidebar %>
				</section>
			</div>
			<% end %>
			
			<div class="<%= content_for?(:sidebar) ? "col-md-10" : "col-md-12" %>" role="main">
				
				<div class="alerts-container" data-spy="affix" data-offset-top="50">
					<% flash.each do |type, message| %>
						<div class="alert <%= alert_class_for(type) %> alert-dismissible fade in">
							<button type="button" class="close" aria-label="Close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
							<%= message %>
						</div>
					<% end %>
				</div>
				
				<%= render partial: "shared/share_links" if @share_links && API_KEYS['sharethis'] %>

				<section id="main-content">
					<%= yield %>
				</section>
				
				<%- unless @extra_footer_content.blank? -%>
					<section class="event-footer-content extra-footer-content">
						<%= sanitize textilize(@extra_footer_content),
									tags: %w(div table tr td h2 p a ul li strong em img),
									attributes: %w(id class style href src role) %>
					</section>
				<% end -%>

				<footer>
					&copy; 2006&ndash;<%= Time.now.year %>
					<%= link_to "University of Washington", "http://uw.edu", target: "_blank" %>.
					Operated with <%= glyph('heart') %> by <%= link_to "CDS", "http://dreamsis.com", target: "_blank" %>.
					<code class="hidden"><%= `git rev-parse --short HEAD`.strip %></code>
				</footer>

			</div>
			
			<%= indicator(:global) %>
		
		</div>
			
	</div>

	<%= yield(:modals) %>

<% end %>
