<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= @title.blank? ? "" : "#{@title.is_a?(Array) ? @title.collect(&:to_title).join(" - ") : @title.to_title} - " %>DreamSIS
		<%= " 🆔" if Rails.env == "development" %></title>
	<meta name="viewport" content="width=device-width">
	<%= favicon_link_tag %>
	<link rel="apple-touch-icon" href="<%= image_path("dreamsis-logo-icon.png") %>"/>

	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag "application", media: 'all' %>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag @customer_stylesheet unless @customer_stylesheet.blank? %>
	<%= stylesheet_link_tag @extra_stylesheet unless @extra_stylesheet.blank? %>

    <%- if @include_typekit -%>
    	<script type="text/javascript" src="//use.typekit.net/vjh2nav.js"></script>
    	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <% end %>

	<%- if @include_mediaelement -%>
		<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" %>
		<script src="/mediaelement/mediaelement-and-player.js"></script>
		<link rel="stylesheet" href="/mediaelement/mediaelementplayer.css" />
	<%- end -%>
	
	<%- if @share_links && API_KEYS['sharethis'] -%>
		<script type="text/javascript">var switchTo5x=true;</script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({
			publisher: "<%= API_KEYS['sharethis']['publisher_id'] %>",
			doNotHash: true,
			doNotCopy: false,
			hashAddressBar: false,
			shorten: false
		});</script>
	<% end %>

	<%- if Rails.env == 'production' && GOOGLE_ANALYTICS_TRACKING_ID -%>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '<%= GOOGLE_ANALYTICS_TRACKING_ID %>']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	<%- end -%>

	<script src="https://use.fontawesome.com/fbb74a9d9b.js"></script>
</head>

<body class="<%= "admin" if @current_user.try(:admin?) || @current_user.try(:person).try(:current_lead?) %> <%= controller.action_name %> <%= controller.controller_name %> <%= @current_user.try(:person).try(:type) || @audience.to_s %> <%= @body_class %>" id="body">

	<header>
		<%= render "shared/nav" %>
	</header>
	
	<div id="sidebar-header">
		<a href="#" id="sidebar_expander_link"><span>Show Sidebar</span></a>
	</div>

	<div class="<%= @container_class || 'container-fluid' %>">

		<% flash.each do |type, message| %>
		<div class="alert <%= alert_class_for(type) %> alert-dismissible fade in">
			<button type="button" class="close" aria-label="Close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
			<%= message %>
		</div>
		<% end %>

		<section id="content-wrap" class="<%= "blocked" if @layout_in_blocks %>">
			<%= render :partial => "shared/share_links" if @share_links && API_KEYS['sharethis'] %>
			
			<%= yield %>
			
			<%- unless @extra_footer_content.blank? -%>
				<section class="event-footer-content extra-footer-content">
					<%= sanitize textilize(@extra_footer_content),
							:tags => %w(div table tr td h2 p a ul li strong em img),
							:attributes => %w(id class style href src role) %>
				</section>
			<% end -%>
		</section>

		<footer>
			&copy; 2006&ndash;<%= Time.now.year %> by
			<%= link_to "University of Washington", "http://uw.edu", target: "_blank" %>.
			The DreamSIS name is used under license.
			Operated by <%= link_to "CDS", "http://dreamsis.com", target: "_blank" %>.
			
			<code class="git branch"><%= `git rev-parse --short HEAD`.strip %></code>
		</footer>

		<%#= render "shared/dev_inspector" if Rails.env.development? %>
		
	</div>
	
	<div id="indicator">
		Loading...
		<a href="#" class="stop-loading">Stop</a>
		<%= render :partial => "shared/progress" %>
	</div>

</body>
</html>
