<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>DreamSIS</title>

	<meta name="viewport" content="width=device-width">

    <%= formtastic_stylesheet_link_tag %>

	<%= stylesheet_link_tag 'style', :media => "all" %>
	<%= stylesheet_link_tag 'tabs' %>
	<%= stylesheet_link_tag 'print', :media => "print" %>

	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "card_reader" %>

	<%- if GOOGLE_ANALYTICS_TRACKING_ID && RAILS_ENV == 'production' -%>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '<%= GOOGLE_ANALYTICS_TRACKING_ID %>']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	<%- end -%>

</head>

<body class="<%= "admin" if @current_user.try(:admin?) %> <%= controller.action_name %> <%= controller.controller_name %> <%= @body_class %>">

	<div id="header">
		<h1><%= link_to "<strong>DreamSIS</strong>", root_url %></h1>

		<div id="login_logout">
			<% unless @current_user.blank? || @current_user == :false %>
				<%= image_tag(@current_user.person.avatar_image_url, :height => 30, :class => "avatar") if @current_user.person.avatar_image_url %>
				<ul>
					<li>Logged in as <strong><%= @current_user.fullname %></strong></li>
					<li><%= link_to "Profile", profile_path(:return_to_after_profile => request.request_uri) %></li>
					<li><%= link_to "Logout", logout_path, :class => "logout" unless @current_user.is_a?(PubcookieUser) %></li>
				</ul>
			<% else %>
				<em>Not logged in.</em>
				<%= link_to 'Login', login_path(:return_to => request.request_uri) %>
			<% end %>
		</div>

	</div>

	<%= render :partial => "shared/nav" if @current_user.try(:admin?) %>
	
	<div id="sidebar-header">
		<%= link_to_function "<span>Show Sidebar</span>", "$$('body').first().toggleClassName('sidebar_view')", :id => "sidebar_expander_link" %>
	</div>

	<div id="content">	

		<div id="notifications">
			<% %w(error notice info).each do |key| -%>
				<div id="<%= key %>_notification" class="alert <%= key %> <%= "visible" unless flash[key.to_sym].blank? %>"><%= flash[key.to_sym] %></div>
			<% end -%>
		</div>

		<div id="content-wrap" class="<%= "blocked" if @layout_in_blocks %>">
			<%= yield %>
		</div>

		<div id="footer">
			Copyright &copy; 2006&ndash;<%= Time.now.year %> 
			<%= link_to "University of Washington Dream Project", "http://www.dreamproject.uw.edu", :target => "_blank" %>.

			Student data provided in this system are protected by 
			<%= link_to "FERPA", "http://www.washington.edu/students/reg/ferpafac.html", :target => "_blank" %>.
			You are expected to understand and abide by these protections.

			Errors &amp; Exceptions tracked by <%= link_to "Exceptional", "http://exceptional.io/", :target	=> "_blank" %>. 
		</div>

		<%- if RAILS_ENV == 'development' -%>
			<pre><%= session.to_yaml %></pre>
		<%- end -%>

	</div>
	
	<div id="indicator">Loading...</div>

</body>
</html>
